<<<<<<< HEAD
/* Меню */
.A_MenuBarButton {
  overflow: hidden;
  font-family: 'PT Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;

  display: flex;
  flex-direction: row;
  align-items: center;
  width: 170px;
  height: 100%;

  text-transform: uppercase;

  color: white;

  &.Navigation {
    color: var(--acid-green);
    width: 170px;
  }

  &.Article {
    width: 72px;
  }

  &.Video {
    width: 60px;
  }

  &.Rating {
    width: 170px;
  }
  &.About {
    width: 152px;
  }
}

.A_MenuBarLogo {
  width: 85px;
  height: 34px;
  background-image: url('images/components/atoms/A_MenuBarLogo.svg');
}
.A_BurgerButton {
  width: 21px;
  height: 16px;
  display: none;
}

/* Смотреть видео */
.A_VideoPlayer {
  background-image: url('./images/A_VideoPlayer_1440.svg');
  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 10px;

  width: 630px;
  height: 355px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
.A_VideoShare {
  /* Text */

  font-family: 'PT Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 12px;
  text-transform: lowercase;

  color: var(--acid_green);
  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;

  width: 74px;
  height: 12px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.A_VideoData {
  /* Text */

  font-family: 'PT Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 12px;
  text-transform: lowercase;

  color: var(--acid_green);

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;

  width: 66px;
  height: 12px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
.A_VideoLink {
  /* Text */

  font-family: 'PT Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 12px;
  text-align: right;
  text-transform: lowercase;

  color: var(--acid_green);

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;

  width: 61px;
  height: 12px;

  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 0;
}

/* Страшно реально */
.A_ScraryreallyFrameline {
  background-image: url('./images/A_ScaryreallyFrameline_1440.svg');
  background-size: cover;

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  width: 515px;
  height: 20px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
.A_ScaryreallyPisctureinsidetext {
  background-image: url('./images/A_ScaryreallyPictureintext_1440.png');
  background-size: cover;

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 20px;

  width: 530px;
  height: 217px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}
.A_ScaryreallyTextunder {
  /* Text */

  width: 26px;
  height: 8px;

  font-family: 'PT Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 7px;
  line-height: 8px;
  /* identical to box height */

  text-align: right;
  letter-spacing: 0.1em;
  text-transform: lowercase;

  color: var(--dark-grey);
  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 0px 15px;

  width: 530px;
  height: 8px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

/* Разбор механик */
.A_ArticlestyleTextParagraphs {
  /* Text */

  font-family: 'PT Root UI';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  /* or 120% */

  color: var(--white);

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px 30px 0px 0px;

  width: 100%;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 1;
}
.A_AnalysismechanicsElement {
  font-family: 'PT Root UI';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  /* identical to box height, or 120% */

  color: var(--acid_orange);

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  width: 7px;
  height: 18px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.A_AnalysismechanicsPoints {
  font-family: 'PT Root UI';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  /* identical to box height, or 120% */

  color: var(--acid_orange);

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  width: 12px;
  height: 18px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

/* Инди игры */

/*Заголовок десктоп*/
.A_TopgameLink {
  /* Text */

  font-family: 'PT Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 12px;
  letter-spacing: 0.1em;
  text-transform: lowercase;

  color: var(--acid_green);

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;

  width: 139px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.A_TopgameHeading {
  /* Text */

  font-family: 'Jinx Font';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 45px;
  word-spacing: 15px;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.08em;

  color: var(--white);

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;

  width: 938px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 1;
}
.A_TopgameDate {
  /* Text */

  font-family: 'PT Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 12px;
  text-align: right;
  text-transform: lowercase;

  color: var(--acid_green);

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 0px;

  width: 87px;
  height: 24px;

  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 0;
}

/*Заголовок мобилки*/
.A_TopgameHeadingMobile {
  /* Text */

  font-family: 'Jinx Font';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
  /* or 121% */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.08em;

  color: var(--white);

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;

  width: 590px;
  height: 116px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
.A_TopgameLinkMobile {
  /* Text */

  font-family: 'PT Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 13px;
  letter-spacing: 0.1em;
  text-transform: lowercase;

  color: var(--acid_green);

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;

  width: 152px;
  height: 39px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.A_TopgameDateMobile {
  /* Text */

  font-family: 'PT Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 13px;
  text-align: right;
  text-transform: lowercase;

  color: var(--acid_green);

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 0px;

  width: 198px;
  height: 26px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 1;
}

/*Тело статьи*/
.A_TopgameVideo {
  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  width: 514px;
  height: 520px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 1;
  position: absolute;
  z-index: -1;

  mix-blend-mode: lighten;
}
.A_TopgamePicture {
  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;

  width: 514px;
  height: 520px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 1;

  mix-blend-mode: lighten;
}
.A_TopgameImagecaption {
  /* Text */

  font-family: 'PT Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 9px;
  line-height: 10px;
  /* identical to box height */

  letter-spacing: 0.1em;
  text-transform: lowercase;

  color: var(--dark-grey);

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0px;

  width: 514px;
  height: 10px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}
.A_ArticlestyleText {
  /* Text */

  font-family: 'PT Root UI';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  /* or 120% */

  color: var(--white);

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 55px 30px 0px 0px;

  width: 514px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 1;
}
.A_ArticlestyleTextContinuation {
  /* Text */

  font-family: 'PT Root UI';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  /* or 120% */

  color: var(--white);

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px 30px 0px 0px;

  width: 514px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 1;
}

/* Разбор монстров */

=======
>>>>>>> a24a91de18e0100fe77fd71f1c8c212c6bc2a019
// .A_MenuBarButton {
//   padding: 0;
//   border: none;
//   background: none;
//   font-family: 'PT Mono', sans-serif;
//   font-size: 20px;
//   line-height: 22px;
//   text-transform: uppercase;
//   color: #4CFF53;
// }

.A_MenuBarButton {
  background: none;
  font-family: 'PT Mono', sans-serif;
  font-size: 20px;
  line-height: 22px;
  text-transform: uppercase;
  height: 70px;

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 10px;

  height: 70px;

  flex: none;
  order: 0;
  flex-grow: 0;

<<<<<<< HEAD
  color: #ffffff;
=======

  color: #FFFFFF;
>>>>>>> a24a91de18e0100fe77fd71f1c8c212c6bc2a019
  cursor: pointer;
}

.A_MenuBarNavigation {
  font-family: 'PT Mono', sans-serif;
  font-size: 20px;
  line-height: 22px;
  text-transform: uppercase;
  height: 70px;

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 10px;

  height: 70px;

  flex: none;
  order: 0;
  flex-grow: 0;

<<<<<<< HEAD
  color: #4cff53;
=======

  color: #4CFF53;
>>>>>>> a24a91de18e0100fe77fd71f1c8c212c6bc2a019
}

.A_MenuBarButton:hover {
  background: none;
  font-family: 'PT Mono', sans-serif;
  font-size: 20px;
  line-height: 22px;
  text-transform: uppercase;
<<<<<<< HEAD
  color: #4cff53;
  cursor: pointer;
  filter: drop-shadow(0px 0px 4px #4cff53) drop-shadow(0px 0px 28px #4cff53);
=======
  color: #4CFF53;
  cursor: pointer;
  filter: drop-shadow(0px 0px 4px #4CFF53) drop-shadow(0px 0px 28px #4CFF53);
>>>>>>> a24a91de18e0100fe77fd71f1c8c212c6bc2a019
}

.A_MenuBarLogo {
  width: 85.54px;
  height: 34px;
<<<<<<< HEAD
  background-image: url('./images/components/A_MenuBarLogo.svg');
=======
  background-image: url('./images/components/A_MenuBarLogo.svg')
>>>>>>> a24a91de18e0100fe77fd71f1c8c212c6bc2a019
}

.A_MonsterPic {
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  position: relative;
  width: 479.5px;
  height: 782px;

  border-width: 0px 0px 0px 1px;
  border-style: solid;
<<<<<<< HEAD
  border-color: #ffffff;
=======
  border-color: #FFFFFF;
>>>>>>> a24a91de18e0100fe77fd71f1c8c212c6bc2a019
  border-radius: 12px;
}

.A_CardTitle {
  font-family: 'PT Mono';
  font-size: 36px;
  line-height: 40px;
  text-transform: uppercase;

<<<<<<< HEAD
  color: #4cff53;
=======
  color: #4CFF53;
>>>>>>> a24a91de18e0100fe77fd71f1c8c212c6bc2a019
}

.A_CardText {
  width: 478px;
  height: 40px;

  font-family: 'PT Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;

<<<<<<< HEAD
  color: #ffffff;
=======
  color: #FFFFFF;
>>>>>>> a24a91de18e0100fe77fd71f1c8c212c6bc2a019
}

.A_ButtonInfo {
  font-family: 'PT Mono';
  font-size: 14px;
  line-height: 16px;

  text-align: center;

<<<<<<< HEAD
  color: #4cff53;
=======
  color: #4CFF53;
>>>>>>> a24a91de18e0100fe77fd71f1c8c212c6bc2a019

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2.5px 6px;
  gap: 10px;

  position: absolute;
  width: 24px;
  height: 24px;
  left: 39px;
  top: 111px;

<<<<<<< HEAD
  border: 1px solid #4cff53;
=======
  border: 1px solid #4CFF53;
>>>>>>> a24a91de18e0100fe77fd71f1c8c212c6bc2a019

  flex: none;
  order: 2;
  flex-grow: 0;
  z-index: 2;
}

.A_ArticleTitle {
  overflow: hidden;
  font-family: 'JinxFont';
  font-style: sans-serif;
  font-weight: 400;
  font-size: 49px;
  line-height: 53px;
  text-align: center;
  letter-spacing: -0.05em;

<<<<<<< HEAD
  color: #ffffff;
=======
  color: #FFFFFF;
>>>>>>> a24a91de18e0100fe77fd71f1c8c212c6bc2a019
}

.A_ArticleDottedLine {
  width: 612px;
  height: 0px;

<<<<<<< HEAD
  border: 1px dashed #4cff53;
=======
  border: 1px dashed #4CFF53;
>>>>>>> a24a91de18e0100fe77fd71f1c8c212c6bc2a019

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.A_MonsterStatusSecondaryText {
  overflow: hidden;
  font-family: 'PT Mono';
  font-size: 13px;
  line-height: 13px;
<<<<<<< HEAD
  color: #4cff53;
=======
  color: #4CFF53;
>>>>>>> a24a91de18e0100fe77fd71f1c8c212c6bc2a019
  text-transform: uppercase;
}

.A_MonsterStatusPrimaryText {
  overflow: hidden;
  font-family: 'PT Mono';
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;

<<<<<<< HEAD
  color: #4cff53;
=======
  color: #4CFF53;
>>>>>>> a24a91de18e0100fe77fd71f1c8c212c6bc2a019
}

.A_ArticleText {
  width: 612.57px;
  height: 500px;

  font-family: 'PT Root UI';
  font-size: 19px;
  line-height: 28px;

<<<<<<< HEAD
  color: #ffffff;
=======
  color: #FFFFFF;
>>>>>>> a24a91de18e0100fe77fd71f1c8c212c6bc2a019

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;

  width: 615px;

  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
}
