.A_MenuBarButton {
  font-family: 'PT Mono', sans-serif;
  font-size: 20px;
  line-height: 22px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.A_MenuBarLogo {
  width: 85.54px;
  height: 34px;
  background-image: url('./images/components/A_MenuBarLogo.svg')
}
