/* Лендинг */

.C_LandingSection03Cards {
  overflow: visible;
  display: flex;
  padding: 0px 0px 0px 13px;
  gap: 55px;
}

.C_LandingSection08FooterButtonsCenter {
  display: flex;
  gap: 131px;
}

.C_LandingSection08FooterButtonsCenterSocial {
  display: flex;
  gap: 23px;
}

/* Меню */

.C_MenuBarNavigation {
  overflow: visible;
  display: flex;
  align-items: center;

  gap: 45px;
  height: 70px;
}
