/*Учусь работать с компонентами*/

.M_TopgameWholeheading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;

  width: 1164px;
  height: 90px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.M_TopgameWholeheadingMobile {
  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 10px;

  width: 590px;
  height: 172px;
}

.M_TopgameVisual {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;

  width: 514px;
  height: 520px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.M_TopgamePosition {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 15px;

  width: 514px;
  height: 25px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.M_AnalysismechanicsTextpart {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;

  width: 472px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
