<<<<<<< HEAD
/* Меню */
.M_MenuBarMain {
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1px;

  width: 50%;
  height: 72px;

  background: var(--white);
}

.M_MenuBarBreadcrumbs {
  overflow-y: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 1px 1px 1px 0px;

  width: 50%;
  height: 72px;

  background: var(--white);
}

/* Страшно реально */
.M_ScaryreallyUnderpicture {
  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0px;

  width: 530px;
  height: 28px;

  /* Inside auto layout */

  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
}

/* Разбор механик */
.M_AnalysismechanicsTextpart {
  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;

  width: 472px;
  height: 100%;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

/* Топы игры */
.M_TopgamePosition {
  /* Text */

  font-family: 'PT Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  /* identical to box height, or 167% */

  text-transform: uppercase;

  color: var(--acid_orange);

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 15px;

  width: 514px;
  height: 25px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

/* Инди игры */
.M_TopgameWholeheading {
  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;

  width: 1164px;
  height: 90px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
.M_TopgameWholeheadingMobile {
  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 89px;
  gap: 20px;

  width: 768px;
  height: 207px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
.M_TopgameVisual {
  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;

  width: 514px;
  height: 520px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

/* Разбор монстров */

=======
>>>>>>> a24a91de18e0100fe77fd71f1c8c212c6bc2a019
.M_MenuBarMain {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1px;
  gap: 10px;

  position: relative;
  width: 960px;
  height: 72px;

<<<<<<< HEAD
  background: #ffffff;
=======
  background: #FFFFFF;
>>>>>>> a24a91de18e0100fe77fd71f1c8c212c6bc2a019
}

.M_MenuBarBreadcrumbs {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 1px 1px 1px 0px;

  position: relative;
  width: 960px;
  height: 72px;

<<<<<<< HEAD
  background: #ffffff;
=======
  background: #FFFFFF;
>>>>>>> a24a91de18e0100fe77fd71f1c8c212c6bc2a019
}
.M_Card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 19px;
  gap: 10px;

  overflow: hidden;
  width: 479.5px;
  height: 138px;
  left: 20px;
  top: 180px;

  background: #000000;
  border-radius: 12px;
}

.M_MonsterStatusFrame {
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 9px 13px;
  gap: 10px;

  position: relative;
  width: 291px;
  height: 55px;

<<<<<<< HEAD
  border: 1px solid #4cff53;
=======
  border: 1px solid #4CFF53;
>>>>>>> a24a91de18e0100fe77fd71f1c8c212c6bc2a019
}
