.O_MonsterCard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  position: relative;
  width: 479.5px;
  height: 924px;
}

.O_Article {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 56px 91px 0px;
  gap: 24px;

  position: relative;
  width: 958.5px;
  height: 922px;

  background: #000000;
  border-radius: 12px;
}
