/*Учусь работать с компонентами*/

.O_Indiegame {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px 18px;
  /*gap: 100px;*/
  gap: 8vw;

  width: 1164px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  .W_ArticlestylePartvisual {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    width: 514px;
    height: 530px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 1;
  }
}

.C_TopgameMaintop {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;

  width: 514px;
  height: 690px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}
