/*Учусь работать с компонентами*/

.Q_TopgameLine {
  background-image: url('./images/Q_TopgameLine_1440.svg');

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;

  width: 1164px;
  height: 27px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.Q_TopgameLineMobile {
  background-image: url('./images/Q_TopgameLine_768.svg');

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;

  width: 591px;
  height: 15px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.Q_TopgameNumber {
  font-family: 'PT Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  /* identical to box height, or 167% */

  color: var(--acid-orange);

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  width: 27px;
  height: 25px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
