/* Лендинг */

.Q_LandingSection01Logo {
  filter: drop-shadow(0px 0px 10px #ffffff)
    drop-shadow(0px 0px 50px rgba(255, 255, 255, 0.4))
    drop-shadow(0px 0px 165px rgba(255, 255, 255, 0.5));
  width: 713px;
  height: 283px;
  background-image: url('images/components/quarks/1920x1080/Q_LandingSection01Logo.svg');
}

.Q_LandingSection01SubTitle {
  overflow: visible;

  width: 360px;
  height: 27px;

  font-family: 'PT Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 27px;
  text-align: center;
  text-transform: uppercase;
  color: var(--acid-green);

  text-shadow: 0px 0px 4px var(--acid-green), 0px 0px 28px var(--acid-green);
}

.Q_LandingSection01DownArrow {
  position: absolute;
  overflow: visible;
  width: 34px;
  height: 19px;
  top: 846px;
  left: calc(50vw - 34px / 2);

  background-image: url('images/components/quarks/1920x1080/Q_LandingSection01DownArrow.svg');
  filter: drop-shadow(0px 0px 4px var(--acid-green))
    drop-shadow(0px 0px 28px var(--acid-green));
}

.Q_LandingInsertTitleBracketL {
  background-image: url('images/components/quarks/1920x1080/Q_LandingInsertTitleBracketL.svg');
  width: 11px;
  height: 28px;
}

.Q_LandingInsertTitleBracketR {
  background-image: url('images/components/quarks/1920x1080/Q_LandingInsertTitleBracketR.svg');
  width: 11px;
  height: 28px;
}

.Q_LandingInsertTitleText {
  overflow-y: hidden;
  display: flex;
  font-family: 'PT Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
  text-transform: uppercase;
  color: var(--acid-green);
}

.Q_LandingSection02PictureLeft {
  mix-blend-mode: lighten;
  background-image: url('images/components/quarks/1920x1080/Q_LandingSection02PictureLeft.png');
  position: absolute;
  width: 668px;
  height: 1073px;
  left: 0px;
  top: 944px;
}

.Q_LandingSection02PictureRight {
  background-image: url('images/components/quarks/1920x1080/Q_LandingSection02PictureRight.png');
  position: absolute;
  width: 888px;
  height: 1073px;
  right: 0px;
  top: 944px;
}

.Q_LandingSection03Title {
  overflow-y: hidden;

  width: 1153px;
  height: 156px;

  font-family: 'Jinx Font';
  font-style: normal;
  font-weight: 400;
  font-size: 136px;
  line-height: 156px;
  text-transform: uppercase;

  color: white;
}

.Q_LandingSection03CardKeyPicture {
  width: 550px;
  height: 365px;

  background-image: url('images/components/quarks/1920x1080/Q_LandingSection03CardKeyPicture.png');
  border: 1px solid white;
  border-radius: 0.625vw;
}

.Q_LandingSection03CardEyePicture {
  width: 550px;
  height: 365px;

  background-image: url('images/components/quarks/1920x1080/Q_LandingSection03CardEyePicture.png');
  border: 1px solid white;
  border-radius: 0.625vw;
}

.Q_LandingSection03CardHeartPicture {
  width: 550px;
  height: 365px;

  background-image: url('images/components/quarks/1920x1080/Q_LandingSection03CardHeartPicture.png');
  border: 1px solid white;
  border-radius: 0.625vw;
}

.Q_LandingSection03CardContentTitle {
  overflow-y: hidden;
  font-family: 'PT Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: var(--acid-green);
}

.Q_LandingSection03CardContentParagraph {
  width: 501px;
  height: 66px;
  overflow-y: hidden;
  font-family: 'PT Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: white;
}

.Q_LandingDivider {
  background: url('images/components/quarks/1920x1080/Q_LandingDivider.svg')
    no-repeat;
  background-size: 100%;
  width: 100%;
  height: 27px;
}

.Q_LandingSection04Title {
  width: 1225px;
  height: 100%;

  display: flex;
  align-items: center;

  font-family: 'Jinx Font';
  font-style: normal;
  font-weight: 400;
  font-size: 136px;
  line-height: 98%;
  color: black;
  text-transform: uppercase;
}

.Q_LandingSection04Picture {
  position: absolute;
  width: 725px;
  height: 826px;
  right: 0px;
  top: 92px;

  mix-blend-mode: multiply;
  background: url('images/components/quarks/1920x1080/Q_LandingSection04Picture.png');
}

.Q_LandingSmallCardTitle {
  overflow-y: hidden;

  width: 546px;
  height: 48px;

  font-family: 'PT Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 43px;
  line-height: 48px;
  text-transform: uppercase;

  color: var(--acid-green);
}

.Q_LandingSmallCardParagraph {
  overflow-y: hidden;
  width: 546px;
  height: 74px;

  font-family: 'PT Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 37px;

  color: white;
}

.Q_ConnectHalfDown {
  width: 41px;
  height: 104px;
  background: url('images/components/quarks/1920x1080/Q_ConnectHalfDown.svg');
  margin-top: -1px;
}

.Q_ConnectHalfUp {
  width: 41px;
  height: 104px;
  background: url('images/components/quarks/1920x1080/Q_ConnectHalfUp.svg');
  margin-bottom: -1px;
}

.Q_LandingSection05PictureRight {
  background: url('images/components/quarks/1920x1080/Q_LandingSection05PictureRight.png');

  position: absolute;
  width: 725px;
  height: 1389px;
  right: 0px;
  top: 4086px;

  mix-blend-mode: lighten;
}

.Q_LandingSection05PictureLeft {
  background: url('images/components/quarks/1920x1080/Q_LandingSection05PictureLeft.png');

  position: absolute;
  width: 666px;
  height: 1368px;
  left: 0px;
  top: 4086px;

  mix-blend-mode: lighten;
}

.Q_LandingFearRatingTitle {
  overflow-y: hidden;
  width: 917px;
  height: 399px;

  padding: 0px 0px 0px 67px;

  font-family: 'Jinx Font';
  font-style: normal;
  font-weight: 400;
  font-size: 136px;
  line-height: 98%;

  text-transform: uppercase;

  color: white;
}

.Q_LandingFearRatingContentAnimation {
  width: 100%;
  height: 296px;
  background: url('images/components/quarks/1920x1080/Q_LandingFearRatingContentAnimation.gif');
}

.Q_LandingFearRatingDescriptorActive {
  width: 33px;
  height: 633px;
  background: url('images/components/quarks/1920x1080/Q_LandingFearRatingDescriptorActive.svg');
  filter: drop-shadow(0px 0px 4px var(--acid-green))
    drop-shadow(0px 0px 28px var(--acid-green));
}

.Q_LandingFearRatingDescriptorText {
  padding: 24px 0px 0px;

  width: 522px;
  height: 152px;

  font-family: 'PT Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 29px;
  line-height: 32px;

  color: white;
}

.Q_LandingSection08Picture {
  position: absolute;
  width: 685px;
  height: 100%;
  background: url('images/components/quarks/1920x1080/Q_LandingSection08Picture.png')
    no-repeat;
  mix-blend-mode: multiply;

  left: 0px;
  top: 0px;
}

.Q_LandingSection08LinkLogo {
  overflow: visible;

  width: 100%;
  height: 218px;

  background: url('images/components/quarks/1920x1080/Q_LandingSection08LinkLogo.svg');
  z-index: -99;
}

.Q_LandingSection08FooterButtonsCenterCredits {
  display: flex;
  font-family: 'PT Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 17px;

  text-align: center;
  text-transform: uppercase;

  cursor: pointer;
  text-decoration: none;
  color: black;
}

.Q_LandingSection08FooterButtonsCenterCreditsCross {
  display: flex;
  font-family: 'PT Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;

  text-align: center;
  text-transform: uppercase;

  color: black;
}

.Q_LandingSection08FooterButtonsCenterCredits:hover {
  filter: invert(1);
}

.Q_LandingFooterButtonVK {
  display: flex;
  font-family: 'PT Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 17px;

  text-transform: uppercase;

  cursor: pointer;
  text-decoration: none;
  color: black;
}

.Q_LandingFooterButtonVK:hover {
  filter: invert(1);
}

.Q_LandingFooterButtonTG {
  display: flex;
  font-family: 'PT Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 17px;

  text-transform: uppercase;

  cursor: pointer;
  text-decoration: none;
  color: black;
}

.Q_LandingFooterButtonTG:hover {
  filter: invert(1);
}

.Q_LandingSection08FooterButtonUpText {
  display: flex;
  font-family: 'PT Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 17px;

  text-transform: uppercase;

  cursor: pointer;
  text-decoration: none;
  color: black;
}

.Q_LandingSection08FooterButtonUpIcon {
  padding: 6px;
  background: url('images/components/quarks/1920x1080/Q_LandingSection08FooterButtonUpIcon.svg')
    center center no-repeat;
  width: 23px;
  height: 23px;
  border: 1px solid #000000;

  cursor: pointer;
}

/* Меню-бар */

.Q_GrungeTexture {
  position: absolute;
  mix-blend-mode: normal;
  background-image: url('images/components/quarks/Q_GrungeTexture.png');
  background-size: 100% 100%;
  width: 100vw;
  height: 100vh;
  z-index: -99;
}
.Q_Burger {
  z-index: 99;
  cursor: pointer;
  width: 21px;
  position: relative;

  height: 16px;
  background-image: url('images/components/quarks/Burger.svg');
  background-repeat: no-repeat;
  display: none;
}

/* Главный экран */

.Q_MainScreenPrimaryButtonText {
  overflow: visible;
  font-family: 'PT Mono';
  font-weight: 400;
  font-size: 2.08333vw;
  text-transform: uppercase;
  color: white;
}

.Q_MainScreenPrimaryButtonTextOpened {
  overflow: visible;
  font-family: 'PT Mono';
  font-weight: 400;
  font-size: 2.08333vw;
  text-transform: uppercase;
  color: var(--acid-green);

  filter: drop-shadow(0px 0px 4px #4cff53) drop-shadow(0px 0px 14px #4cff53);
}

.Q_IconInfo {
  background-image: url('images/components/quarks/1920x1080/Q_IconInfo.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 100%;
  height: 100%;
}

.Q_IconTG {
  background-image: url('images/components/quarks/1920x1080/Q_IconTG.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 100%;
  height: 100%;
}

.Q_IconVK {
  background-image: url('images/components/quarks/1920x1080/Q_IconVK.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 100%;
  height: 100%;
}

.Q_CardTitle {
  overflow-y: hidden;
  width: 100%;
  color: var(--acid-green);
  font-family: 'PT Mono';
  font-weight: 400;
  font-size: 1.9vw;
  text-transform: uppercase;
}

.Q_CardText {
  overflow-y: hidden;
  width: 100%;
  color: white;
  font-family: 'PT Mono';
  font-weight: 400;
  font-size: 0.9375vw;
  line-height: 1.04167vw;
}

.Q_MainScreenFloatGraphics {
  width: 50%;
  height: 100vh;
  mix-blend-mode: lighten;
  position: absolute;
  object-fit: cover;
}

.Q_MainScreenPointGraphics {
  width: 50%;
  height: 100vh;
  mix-blend-mode: lighten;
  position: absolute;
  object-fit: cover;
}

.Q_MainScreenLogoGlyphLeft {
  overflow-y: hidden;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  font-family: 'PT Mono';
  font-weight: 400;
  font-size: 1.14583vw;
  text-transform: uppercase;
  color: var(--acid-green);
  filter: drop-shadow(0px 0px 4px #4cff53) drop-shadow(0px 0px 28px #4cff53);
}

.Q_MainScreenLogoGlyphRight {
  overflow-y: hidden;

  width: 100%;

  text-align: right;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  font-family: 'PT Mono';
  font-weight: 400;
  font-size: 1.14583vw;
  text-transform: uppercase;
  color: var(--acid-green);
  filter: drop-shadow(0px 0px 4px #4cff53) drop-shadow(0px 0px 28px #4cff53);
}

.Q_MainScreenLogo {
  overflow: visible;
  width: 32.8125vw;
  height: 12.96875vw;
  background-size: contain;
  background-image: url('images/components/quarks/1920x1080/Q_Logo.svg');
  background-repeat: no-repeat;
  background-position: center;

  filter: drop-shadow(0px 0px 6px #ffffff)
    drop-shadow(0px 0px 30px rgba(255, 255, 255, 0.4))
    drop-shadow(0px 0px 100px rgba(255, 255, 255, 0.47));
}

.Q_MainScreenSecondaryButtonText {
  overflow: visible;

  width: 100%;

  font-family: 'PT Mono';
  font-weight: 400;
  font-size: 1.04167vw;

  color: white;
}

.Q_ArrowLeft {
  display: none;
}

.Q_ArrowRight {
  display: none;
}

/* Браузер видео */

.Q_VideoBrowserBannerType {
  overflow: visible;
  font-family: 'PT Mono';
  font-weight: 400;
  font-size: 0.88542vw;
  text-transform: uppercase;

  color: var(--acid-green);
}

.Q_VideoBrowserBannerContentPlay {
  padding: 0px 0px 1px;
  background-image: url('images/components/quarks/1920x1080/Q_VideoBrowserBannerContentPlay.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  width: 0.52083vw;
  height: 0.625vw;
}

.Q_VideoBrowserBannerTitle {
  overflow: visible;
  width: 30.15625vw;

  font-family: 'Jinx Font';
  font-weight: 400;
  font-size: 4.63542vw;
  line-height: 5.3125vw;
  text-transform: uppercase;

  color: white;

  text-shadow: 0px 2.38089px 4.76177px rgba(0, 0, 0, 0.12);
}

.Q_VideoBrowserBannerPicture {
  position: absolute;
  width: 100%;
  height: 100%;

  background-image: url('images/components/quarks/1920x1080/Q_VideoBrowserBannerPicture.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  z-index: 0;
}

.Q_VideoBrowserBannerGradient {
  position: absolute;
  width: 100%;
  height: 100%;

  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.7) 0%,
    rgba(0, 0, 0, 0.49) 27%,
    rgba(0, 0, 0, 0.434) 51%,
    rgba(0, 0, 0, 0.49) 73%,
    rgba(0, 0, 0, 0.7) 100%
  );

  z-index: 1;
}

.Q_VideoBrowserSmallCardPic {
  position: absolute;
  width: 100%;
  height: 100%;

  background-image: url('images/components/quarks/1920x1080/Q_VideoBrowserSmallCardPic.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  z-index: 0;
}

.Q_VideoBrowserSmallCardGradient {
  position: absolute;
  width: 100%;
  height: 100%;

  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.7) 0%,
    rgba(0, 0, 0, 0.49) 27%,
    rgba(0, 0, 0, 0.434) 51%,
    rgba(0, 0, 0, 0.49) 73%,
    rgba(0, 0, 0, 0.7) 100%
  );

  z-index: 1;
}

.Q_VideoBrowserSmallCardContentType {
  overflow: visible;

  display: flex;

  font-family: 'PT Mono';
  font-weight: 400;
  font-size: 0.67708vw;

  text-transform: uppercase;

  color: var(--acid-green);
}

.Q_VideoBrowserSmallCardContentPlay {
  width: 0.36458vw;
  height: 100%;

  background-image: url('images/components/quarks/1920x1080/Q_VideoBrowserSmallCardContentPlay.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.Q_VideoBrowserSmallCardContentTitle {
  overflow: visible;
  width: 100%;

  font-family: 'PT Mono';
  font-weight: 400;
  font-size: 1.61458vw;
  line-height: 1.82292vw;
  text-transform: uppercase;

  color: white;
}

/* Смотреть видео */

.Q_TopgameLineunder {
  background-image: url('images/Q_TopgameLineUnder_1440.svg');
  background-size: cover;
  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;

  width: 630px;
  height: 27px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}
.Q_TopgameLine {
  background-image: url('images/Q_TopgameLine_1440.svg');
  background-size: cover;

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;

  width: 1164px;
  height: 27px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}
.Q_TopgameLineMobile {
  background-image: url('images/components/quarks/768x1024/Q_TopgameLineMobile.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  width: 100%;
  height: 15px;
}

/* Разбор монстров */

.Q_MonsterPic_01 {
  width: 100%;
  height: 100%;

  background-image: url('images/components/quarks/1920x1080/Q_MonsterPic_01.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.Q_MonsterPic_02 {
  width: 100%;
  height: 100%;

  background-image: url('images/components/quarks/1920x1080/Q_MonsterPic_02.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.Q_MonsterAndStoryCardTitle {
  overflow: visible;
  width: 100%;

  font-family: 'PT Mono';
  font-weight: 400;
  font-size: 1.875vw;
  line-height: 2.08333vw;
  letter-spacing: 0.1em;

  color: var(--acid-green);
}

.Q_MonsterAndStoryCardText {
  overflow: visible;
  width: 100%;

  font-family: 'PT Mono';
  font-weight: 400;
  font-size: 0.9375vw;
  line-height: 1.04167vw;

  color: white;
}

.Q_TopgameDateText {
  overflow: visible;
  text-align: right;

  flex-shrink: 0;
  font-family: 'PT Mono';
  font-weight: 400;
  font-size: 0.83333vw;

  text-transform: lowercase;

  color: var(--acid-green);
  width: 6.61458vw;
}

.Q_NarrowTopgameLine {
  width: 100%;
  height: 1.40625vw;

  background-image: url('images/components/quarks/1920x1080/Q_NarrowTopgameLine.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.Q_InsertTitle {
  flex-shrink: 0;

  position: absolute;
  left: 0.52083vw;
  top: -0.46875vw;

  background: black;

  padding: 0px 5px 1px;

  font-family: 'PT Mono';
  font-weight: 400;
  font-size: 0.83333vw;
  line-height: 0.9375vw;
  text-transform: uppercase;
  color: var(--acid-green);
}

.Q_ScaryreallyPictureintext {
  background-image: url('images/components/quarks/1920x1080/Q_ScaryreallyPictureintext.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-origin: content-box;

  height: 15.10417vw;
  width: 100%;
  padding: 0px 1.5625vw;
}

.Q_NarrowBlackoutHorizontal {
  bottom: 1px;
  z-index: 99;
  position: fixed;
  width: 40%;
  height: 95px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
}

.Q_NarrowBlackoutVertical {
  display: none;
}

/* Разбор сюжета */

.Q_StoryConnectHalfDown {
  order: 3;

  background-image: url('images/components/quarks/1920x1080/Q_StoryConnectHalfDown.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  flex-shrink: 0;
  width: 1.61458vw;
  height: 3.69792vw;
  margin-top: -0.05208vw;
}

.Q_StoryConnectHalfUp {
  order: 1;

  background-image: url('images/components/quarks/1920x1080/Q_StoryConnectHalfUp.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  flex-shrink: 0;
  width: 1.61458vw;
  height: 3.69792vw;
  margin-bottom: -0.05208vw;
}

.Q_StoryConnectHalfLeft {
  order: 1;

  background-image: url('images/components/quarks/1920x1080/Q_StoryConnectHalfLeft.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  width: 3.69792vw;
  height: 1.61458vw;
  margin-right: -0.05208vw;
}

.Q_StoryConnectHalfRight {
  order: 3;

  background-image: url('images/components/quarks/1920x1080/Q_StoryConnectHalfRight.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  width: 3.69792vw;
  height: 1.61458vw;
  margin-left: -0.05208vw;
}

/* О проекте */

.Q_AboutNavLeft {
  overflow: visible;

  width: 5.20833vw;

  font-family: 'PT Mono';
  font-weight: 400;
  font-size: 1.14583vw;
  text-transform: uppercase;

  color: var(--acid-green);
}

.Q_AboutTitle {
  overflow: visible;

  font-family: 'Jinx Font';
  font-weight: 400;
  font-size: 6.25vw;

  text-align: center;
  text-transform: uppercase;

  color: white;
}

.Q_AboutNavRight {
  text-align: right;

  overflow: visible;

  width: 5.20833vw;

  font-family: 'PT Mono';
  font-weight: 400;
  font-size: 1.14583vw;
  text-transform: uppercase;

  color: var(--acid-green);
}

.Q_AboutBodyDivider {
  background-image: url('images/components/quarks/1920x1080/Q_AboutBodyDivider.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  height: 1.40625vw;
}

.Q_AboutBodyContentPic {
  background-image: url('images/components/quarks/1920x1080/Q_AboutBodyContentPic.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  width: 38.4375vw;
  height: 18.69792vw;
}

.Q_AboutTextParagraph {
  width: 25vw;
  font-family: 'PT Root UI';
  font-weight: 400;
  font-size: 0.98958vw;
  line-height: 132%;

  color: white;
}

.Q_AboutFooterTitle {
  overflow: visible;

  font-family: 'PT Mono';
  font-weight: 400;
  font-size: 1.14583vw;

  text-transform: uppercase;
  color: var(--acid-green);
}

.Q_AboutFooterTextWhite {
  overflow: visible;

  font-family: 'PT Mono';
  font-weight: 400;
  font-size: 0.9375vw;
  text-transform: uppercase;

  color: white;
}

.Q_AboutFooterTextGlyph {
  overflow: visible;

  font-family: 'PT Mono';
  font-weight: 400;
  font-size: 0.9375vw;
  line-height: 90%;

  color: var(--acid-green);
}

.svg_anim {
  cursor: pointer;
}
