/* Лендинг */

.S_LandingSection03 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 89px;
  position: absolute;
  width: 1773px;
  height: 779px;
  left: calc(49vw - 1773px / 2);

  top: 2081px;
}

.S_LandingSection04 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 65px 49px;

  position: absolute;
  width: 100vw;
  height: 1010px;
  top: 3076px;

  background-color: var(--acid-green);
}

.S_LandingFearRating {
  overflow: visible;
  display: flex;
  flex-direction: column;
  gap: 103px;

  position: absolute;
  top: 5531px;
  width: 100vw;
  height: 798px;
}

.S_LandingSection08 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 0px 0px 44px;
  gap: 203px;

  position: absolute;
  width: 100vw;
  height: calc(100vh + 203px);
  bottom: 7743px;

  background-color: var(--acid-green);
}

/* Меню-бар */

.S_MenuBar {
  position: fixed;
  top: 0%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  width: 100%;
  height: 72px;

  flex: none;
  order: 0;
  flex-grow: 0;
  z-index: 99;
}

/* Главный экран */

.S_MainScreenLeftSide {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 100%;
  height: 100vh;
}

.S_MainScreenLogo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100vh;

  padding: 1px;

  background-color: white;
  mix-blend-mode: lighten;
}

.S_MainScreenLogoMobile {
  display: none;
}

/* Браузер видео */

.S_VideoBrowserScreen {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 3.22917vw 10.46875vw;

  width: 100%;
}

/* Видео-плеер */

.S_Video {
  gap: 2.396vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  position: relative;
}

/* Разбор монстров */

.S_SplitScreen {
  display: flex;
  padding: 0px 1px 0px 0px;
  gap: 1px;
  width: 100%;
  height: calc(100vh - 72px);
  background: white;
}

.S_Article {
  display: flex;
  flex-direction: column;
  padding: 0px 0px 1px;
  background: white;
  width: 100%;
  height: 100%;
}

/* Разбор сюжета */

.S_StoryCards {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  padding: 0px 0px 1px 1px;

  background: white;
}

/* О проекте */

.S_About {
  overflow: visible;

  margin-top: 1.71875vw;

  padding: 0 9.6875vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.625vw;
}

/* Инди игры */

.S_IndiegameArticle {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  position: relative;
}
