/* Смотреть видео */

.W_VideoData {
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;

  width: 100%;
}

/* Разбор механик */

.W_AnalysismechanicsParagraphs {
  display: flex;
  flex-direction: column;

  width: 100%;
}

/* Статья */

.W_ArticlestyleBody {
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow: auto;
}

.W_ArticlestylePartvisual {
  position: fixed;
  width: 100%;
  mix-blend-mode: lighten;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;

  height: 36.61458vw;
  padding-left: 9.63542vw;
  padding-right: 53.54167vw;
  margin-top: 2.60417vw;
}

.W_ArticlestyleTitle {
  mix-blend-mode: lighten;
  padding-top: 30px;
  z-index: 99;
  background-color: black;
  display: flex;
  flex-direction: column;
  gap: 13px;

  width: 80.729vw;
  min-width: 707px;
  flex-shrink: 0;
}

/* Лендинг */

.W_LandingSection01 {
  position: absolute;
  left: calc(50vw - 713px / 2);
  top: 275px;

  display: flex;
  flex-direction: column;
  gap: 43px;
  align-items: center;

  overflow: visible;
}

.W_LandingSection08FooterButtonsCenterCredits {
  display: flex;
  gap: 0.46875vw;
}

/* Меню-бар */

.W_MenuBarMainRoundedBorder {
  overflow: visible;
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 100%;

  background: #000000;
  border-radius: 0.625vw;
  padding-right: 35px;
}
.W_MenuBarBreadcrumbsRoundedBorder {
  overflow-y: hidden;
  display: flex;
  align-items: center;
  padding: 18px 21px 18px 39px;

  width: 100%;
  height: 100%;

  background: #000000;
  border-radius: 0.625vw;
}

.W_MenuBarBreadcrumbsRoundedBorderMainMenu {
  overflow-y: hidden;
  display: flex;
  align-items: center;
  padding: 18px 21px 18px 23px;

  width: 100%;
  height: 100%;

  background: #000000;
  border-radius: 0.625vw;
}

.W_MenuBarBreadcrumbsRoundedBorderNavigation {
  display: flex;
  justify-content: flex-end;
  overflow: visible;
  width: 100%;
}

.W_MenuBarBreadcrumbsRoundedBorderNavigationMainMenu {
  display: flex;
  overflow: visible;
  width: 100%;
}

.W_Burger {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

/* Главный экран */

.W_MainScreenNavAndMenu {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
}

.W_MainScreenPrimaryButton {
  display: flex;
  align-items: center;
  padding: 0 0 0 1.25vw;

  border-radius: 0.625vw;
  background-color: black;
  width: 100%;
  height: 4.0625vw;
}

.W_MainScreenPrimaryButton.Opened {
  display: flex;
  align-items: center;
  padding: 0 0 0 1.25vw;

  border-radius: 0.625vw 0.625vw 0 0;
  background-color: black;
  width: 100%;
  height: 4.0625vw;
}

// .W_MainScreenPrimaryButtonOpened {
//   display: flex;
//   align-items: center;
//   padding: 0 0 0 1.25vw;

//   border-radius: 0.625vw 0.625vw 0 0;
//   background-color: black;
//   width: 100%;
//   height: 4.0625vw;
// }

.W_MainScreenCardsAndFooter {
  flex-shrink: 0;
  position: relative;
  display: flex;
  flex-direction: column;
}

.W_MainScreenCardsAndFooterMobile {
  display: none;
}

.W_MenuCardContent {
  background-color: black;
  display: flex;
  flex-direction: column;
  padding: 0.98958vw;
  gap: 1.04167vw;
  border-radius: 0.625vw;
  height: 100%;
}

.W_MainScreenLogoGlyphs {
  width: 35.83333vw;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.22917vw;
  overflow: visible;
}

.W_MainScreenLogoGlyph {
  display: flex;
  justify-content: flex-end;
  overflow: visible;
  width: 100%;
}

.W_MainScreenSecondaryButton {
  overflow: visible;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 0 0 6.66667vw;
  width: 100%;
  height: 100%;

  background: black;
}

.W_MainScreenSecondaryButtonLast {
  overflow: visible;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 0 0 6.66667vw;
  width: 100%;
  height: 100%;

  background: black;

  border-radius: 0 0 0.625vw 0.625vw;
}

/* Браузер видео */

.W_VideoBrowserCards {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: 3.64583vw;

  width: 100%;
}

.W_VideoBrowserBannerContent {
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.8125vw;

  width: 100%;
  height: 100%;
}

.W_VideoBrowserBannerContentTypePlay {
  overflow: visible;
  display: flex;
  align-items: center;
  gap: 5px;
}

.W_VideoBrowserSmallCardContent {
  overflow: visible;

  display: flex;
  flex-direction: column;
  gap: 0.52083vw;

  width: 100%;
  height: 100%;
}

.W_VideoBrowserSmallCardContentTypePlay {
  overflow: visible;

  display: flex;
  gap: 0.20833vw;
  width: 100%;
}

/* Разбор монстров */

.W_MonsterWrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: black;
  border-radius: 0.625vw;
}

.W_MonsterPic {
  width: 100%;
  height: 100%;
  background: white;
  border-radius: 0.625vw;
}

.W_MonsterAndStoryCardContent {
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  gap: 1.04167vw;
  height: 100%;
}

.W_ArticlestyleTitleMobile {
  flex-shrink: 0;
  display: none;
}

.W_TopgameLinksMobile {
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;

  width: 100%;
}

.W_NarrowArticlestyleTitle {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 7.65625vw;
}

.W_NarrowTopgameLinks {
  display: flex;
}

.W_NarrowArticlestyleParagraphs {
  position: relative;
  margin-top: 1.875vw;
  margin-bottom: 5vw;
  display: flex;
  flex-direction: column;

  padding: 0px 3.33333vw;
  gap: 1.35417vw;

  width: 100%;
}

/* Разбор сюжета */

.W_StoryCardsRoundedBorder {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;

  background: black;
  border-radius: 0.625vw;
}

.W_StoryRow01 {
  flex-shrink: 0;
  display: flex;
  padding-left: 116.92708vw;
  overflow: visible;
  height: 14.6875vw;
}

.W_StoryRow02 {
  flex-shrink: 0;

  display: flex;
  width: 165.052vw;
  align-items: flex-start;
  overflow: visible;
}

.W_StoryRow03 {
  flex-shrink: 0;

  display: flex;
  padding: 0 0 0 46.771vw;
  width: 165.052vw;
}

.W_StoryRow03Inside {
  display: flex;

  width: 100%;
  gap: 27.23958vw;
}

.W_StoryRow03InsideBigCardsPair {
  display: flex;
  align-items: flex-end;
}

.W_StoryBigCardConnectors {
  order: 2;

  flex-shrink: 0;
  height: 7.344vw;
  display: flex;
  justify-content: center;
  align-items: center;
  isolation: isolate;
}

.W_StorySmallCardConnectors {
  order: 2;

  flex-shrink: 0;
  width: 100%;
  height: 7.344vw;
  display: flex;
  justify-content: center;
  align-items: center;
  isolation: isolate;
}

/* О проекте */

.W_AboutTitle {
  overflow: visible;
  width: 100%;
  padding: 0 1.92708vw;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.W_AboutBodyContent {
  overflow: visible;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  padding: 2.13542vw 8.59375vw 2.13542vw 2.08333vw;
  gap: 7.08333vw;
}

.W_AboutFooterListText {
  overflow: visible;
  display: flex;
  flex-direction: column;
  gap: 0.72917vw;
}

.W_AboutWrapper {
  overflow: visible;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.625vw;
}

/* Заголовок статей */

.W_TopgameSideL {
  width: 100%;
  display: flex;
}

.W_TopgameSideR {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
