/* Лендинг */

.W_LandingSection01 {
  position: absolute;
  left: calc(50vw - 713px / 2);
  top: 275px;

  display: flex;
  flex-direction: column;
  gap: 43px;
  align-items: center;

  overflow: visible;
}

/* Меню-бар */

.W_MenuBarMainRoundedBorder {
  overflow: visible;
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 70px;

  background: #000000;
  border-radius: 0.625vw;
  padding-right: 35px;
}
.W_MenuBarBreadcrumbsRoundedBorder {
  overflow-y: hidden;
  display: flex;
  align-items: center;
  padding: 18px 21px 18px 39px;

  width: 100%;
  height: 70px;

  background: #000000;
  border-radius: 0.625vw;
}

.W_MenuBarBreadcrumbsRoundedBorderMainMenu {
  overflow-y: hidden;
  display: flex;
  align-items: center;
  padding: 18px 21px 18px 23px;

  width: 100%;
  height: 70px;

  background: #000000;
  border-radius: 0.625vw;
}

.W_MenuBarBreadcrumbsRoundedBorderNavigation {
  display: flex;
  justify-content: flex-end;
  overflow: visible;
  width: 100%;
}

.W_MenuBarBreadcrumbsRoundedBorderNavigationMainMenu {
  display: flex;
  overflow: visible;
  width: 100%;
}

.W_Burger {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

/* Главный экран */

.W_MainScreenNavAndMenu {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
}

.W_MainScreenPrimaryButton {
  display: flex;
  align-items: center;
  padding: 0 0 0 1.25vw;

  border-radius: 0.625vw;
  background-color: black;
  width: 100%;
  height: 4.0625vw;
}

.W_MainScreenPrimaryButtonOpened {
  display: flex;
  align-items: center;
  padding: 0 0 0 1.25vw;

  border-radius: 0.625vw 0.625vw 0 0;
  background-color: black;
  width: 100%;
  height: 4.0625vw;
}

.W_MainScreenCardsAndFooter {
  flex-shrink: 0;
  position: relative;
  display: flex;
  flex-direction: column;
}

.W_MenuCardContent {
  background-color: black;
  display: flex;
  flex-direction: column;
  padding: 0.98958vw;
  gap: 1.04167vw;
  border-radius: 0.625vw;
  height: 100%;
}

.W_MainScreenLogoGlyphs {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.22917vw;
  overflow: visible;
}

.W_MainScreenLogoGlyph {
  display: flex;
  justify-content: flex-end;
  overflow: visible;
  width: 100%;
}

.W_MainScreenSecondaryButton {
  overflow: visible;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 0 0 6.66667vw;
  width: 100%;
  height: 100%;

  background: black;
}

.W_MainScreenSecondaryButtonLast {
  overflow: visible;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 0 0 6.66667vw;
  width: 100%;
  height: 100%;

  background: black;

  border-radius: 0 0 0.625vw 0.625vw;
}

/* Браузер видео */

.W_VideoBrowserCards {
  display: flex;
  flex-direction: column;
  gap: 3.64583vw;

  width: 100%;
}

.W_VideoBrowserBannerContent {
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.8125vw;

  width: 100%;
  height: 100%;
}

.W_VideoBrowserBannerContentTypePlay {
  overflow: visible;
  display: flex;
  align-items: center;
  gap: 5px;
}

.W_VideoBrowserSmallCardContent {
  overflow: visible;

  display: flex;
  flex-direction: column;
  gap: 0.52083vw;

  width: 100%;
  height: 100%;
}

.W_VideoBrowserSmallCardContentTypePlay {
  overflow: visible;

  display: flex;
  gap: 0.20833vw;
  width: 100%;
}

/* Разбор монстров */

.W_MonsterPic {
  width: 100%;
  height: 100%;
  background: white;
  border-radius: 0.625vw;
}

.W_MonsterAndStoryCardContent {
  display: flex;
  flex-direction: column;
  gap: 1.04167vw;
}

.W_ArticlestyleTitleMobile {
  display: none;
}

.W_NarrowArticlestyleTitle {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 7.65625vw;
}

.W_NarrowTopgameLinks {
  display: flex;
}

.W_NarrowArticlestyleParagraphs {
  position: relative;
  margin-top: 1.875vw;
  margin-bottom: 2.91667vw;
  display: flex;
  flex-direction: column;

  padding: 0px 3.33333vw;
  gap: 1.35417vw;

  width: 100%;
}

/* Заголовок статей */

.W_TopgameSideL {
  width: 100%;
  display: flex;
}

.W_TopgameSideR {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
