@media only screen and (min-width: 1921px) and (max-width: 2560px) {
  .M_TopgameWholeheading {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 428px;

    width: 2070px;
    height: 161px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }

  .M_TopgameVisual {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    width: 945px;
    height: 924px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }
  .M_TopgamePosition {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 19px;

    width: 940px;
    height: 34px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }

  .M_AnalysismechanicsTextpart {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 11px;

    width: 847px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }
}
@media only screen and (min-width: 1710px) and (max-width: 1920px) {
  .M_TopgameWholeheading {
    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 159px;

    width: 1550px;
    height: 120px;
  }

  .M_TopgameVisual {
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    width: 707px;
    height: 692px;
  }
  .M_TopgamePosition {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;

    width: 682px;
    height: 25px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }

  .M_AnalysismechanicsTextpart {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 9px;

    width: 634px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }
}
@media only screen and (min-width: 1367px) and (max-width: 1709px) {
  .M_TopgameWholeheading {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;

    width: 1164px;
    height: 90px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }

  .M_TopgameVisual {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    width: 514px;
    height: 520px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }
  .M_TopgamePosition {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 15px;

    width: 514px;
    height: 25px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }

  .M_AnalysismechanicsTextpart {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;

    width: 472px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1366px) {
  .M_TopgameWholeheading {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 113px;

    width: 1106px;
    height: 84px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }

  .M_TopgameVisual {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    width: 488px;
    height: 490px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }
  .M_TopgamePosition {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 15px;

    width: 505px;
    height: 17px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }
  .M_AnalysismechanicsTextpart {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;

    width: 430px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }
}
@media only screen and (min-device-width: 1210px) and (max-device-width: 1024px) {
  .M_TopgameWholeheading {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 84px;

    width: 828px;
    height: 64px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }

  .M_TopgameVisual {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    width: 365px;
    height: 370px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }

  .M_TopgamePosition {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

    width: 365px;
    height: 13px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }
  .M_AnalysismechanicsTextpart {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 15px;

    width: 325px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }
}
@media only screen and (min-device-width: 415px) and (max-device-width: 1209px) {
  .M_TopgameWholeheadingMobile {
    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 17px;

    width: 590px;
    height: 172px;

    margin: 0 auto;
  }

  .M_TopgameVisual {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    width: 768px;
    height: 327px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }

  .M_TopgamePosition {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    width: 538px;
    height: 19px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }
  .M_AnalysismechanicsTextpart {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 15px;

    width: 509px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }
}
@media only screen and (min-device-width: 361px) and (max-device-width: 414px) {
  .M_TopgameWholeheadingMobile {
    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 29px;
    gap: 10px;

    width: 358px;
    height: 113px;

    margin: 0 auto;
  }

  .M_TopgameVisual {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    width: 414px;
    height: 200px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }
  .M_TopgamePosition {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

    width: 374px;
    height: 13px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }
  .M_AnalysismechanicsTextpart {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 15px;

    width: 352px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }
}
@media only screen and (max-device-width: 360px) {
  .M_TopgameWholeheadingMobile {
    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 0px;
    gap: 8px;

    width: 257px;
    height: 95px;

    margin: 0 auto;
  }

  .M_TopgameVisual {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    width: 360px;
    height: 176px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }

  .M_TopgamePosition {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 7px;

    width: 326px;
    height: 10px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }
  .M_AnalysismechanicsTextpart {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 13px;

    width: 307px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }
}
