.text3 {
  font-family: 'CoFoSans-Regular', sans-serif;
  font-weight: 200;
  line-height: 1.2;
  position: absolute;
  font-size: 19px;
  margin-top: 241.91px;
  margin-left: 1185px;
}
.comeback {
  line-height: 1.2;
  position: absolute;
  font-size: 19px;
  margin-top: 800px;
  margin-left: 218px;
  text-decoration: none;
}
.line {
  z-index: 99;
  position: absolute;
  margin-top: 69.81px;
  width: 1920px;
}
.line2 {
  z-index: 99;
  border-left: 3px solid black;
  height: 1001px;
  position: absolute;
  margin-left: 960px;
  top: 0;
}
.text1 {
  font-family: 'CoFoSans-Regular', sans-serif;
  font-weight: 200;
  font-size: 73px;
  position: absolute;
  margin-top: 133.04px;
  margin-left: 1009px;
}
.pp58 {
  z-index: 98;
  position: absolute;
  margin-left: 0px;
  margin-top: 52.59px;
}
