.text3 {
  font-family: 'CoFoSans-Regular';
  font-weight: 200;
  line-height: 1.2;
  position: absolute;
  font-size: 19px;
  margin-top: 241.91px;
  margin-left: 212.01px;
}
.comeback {
  line-height: 1.2;
  position: absolute;
  font-size: 19px;
  margin-top: 800px;
  margin-left: 218px;
  text-decoration: none;
}
.line {
  z-index: 99;
  position: absolute;
  margin-top: 69.81px;
  width: 1920px;
}
.line2 {
  z-index: 99;
  border-left: 3px solid black;
  height: 1001px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 0;
}
.text1 {
  font-family: 'CoFoSans-Regular';
  font-weight: 200;
  font-size: 73px;
  position: absolute;
  margin-top: 133.04px;
  margin-left: 45.57px;
}
