.linema1 {
  z-index: 99;
  position: absolute;
  margin-top: 550px;
  width: 958px;
}
.linema2 {
  z-index: 99;
  position: absolute;
  margin-top: 622.83px;
  width: 958px;
}
.linema3 {
  z-index: 99;
  position: absolute;
  margin-top: 695.67px;
  width: 958px;
}
.sbma2 {
  margin-top: 570.45px;
  position: absolute;
  margin-left: 22px;
  font-family: 'CoFoSans-Regular', sans-serif;
  font-weight: 200;
  font-size: 50px;
}
.sbma4 {
  margin-top: 641.48px;
  position: absolute;
  margin-left: 22px;
  font-family: 'CoFoSans-Regular', sans-serif;
  font-weight: 200;
  font-size: 50px;
}
.minta1 {
  margin-top: 155.02px;
  position: absolute;
  margin-left: 132.76px;
  font-family: 'CoFoSans-Regular', sans-serif;
  font-weight: 200;
  font-size: 35px;
}
.minta2 {
  margin-top: 212.43px;
  position: absolute;
  margin-left: 132.76px;
  font-family: 'CoFoSans-Regular', sans-serif;
  font-weight: 200;
  font-size: 35px;
}
.minta3 {
  margin-top: 269.85px;
  position: absolute;
  margin-left: 132.76px;
  font-family: 'CoFoSans-Regular', sans-serif;
  font-weight: 200;
  font-size: 35px;
}
.minta4 {
  margin-top: 327.27px;
  position: absolute;
  margin-left: 132.76px;
  font-family: 'CoFoSans-Regular', sans-serif;
  font-weight: 200;
  font-size: 35px;
}
.minta5 {
  margin-top: 384.69px;
  position: absolute;
  margin-left: 132.76px;
  font-family: 'CoFoSans-Regular', sans-serif;
  font-weight: 200;
  font-size: 35px;
}
.minta6 {
  margin-top: 442.11px;
  position: absolute;
  margin-left: 132.76px;
  font-family: 'CoFoSans-Regular', sans-serif;
  font-weight: 200;
  font-size: 35px;
}
.minta7 {
  margin-top: 499.88px;
  position: absolute;
  margin-left: 132.76px;
  font-family: 'CoFoSans-Regular', sans-serif;
  font-weight: 200;
  font-size: 35px;
}
