* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'PT Root UI', Helvetica, Arial, sans-serif;
  font-weight: 400;
}

.images {
  display: flex;

  //* {
    //width: 100%;
    //height: 100%;
    //margin: 0 0px;
  //}

  .image {
    &#bgJPG {
      background-image: url('images/ugabuga.jpg');
    }
  }
}
