.W_MenuBarMainRoundedBorder {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 24px 35px;
  gap: 303px;

  position: relative;
  width: 958px;
  height: 70px;

  background: #000000;
  border-radius: 12px;
  .C_MenuBarNavigation {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 45px;

    position: relative;
    width: 390px;
    height: 22px;
  }
}

.W_MenuBarBreadcrumbsRoundedBorder{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 18px 21px 18px 39px;
  gap: 10px;

  position: relative;
  width: 958px;
  height: 70px;

  background: #000000;
  border-radius: 12px;
}
