<<<<<<< HEAD
/* Смотреть видео */
.W_VideoData {
  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px 15px;

  width: 630px;
  height: 12px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

/* Страшно реально */

.C_ScrayreallyPictureinsidetext {
  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 5px;

  width: 530px;
  height: 275px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

/* Разбор механик */
.C_ArticlestyleFullparagraphs {
  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 30px;

  width: 509px;
  height: 100%;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}
.W_AnalysismechanicsParagraphs {
  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;

  width: 472px;
  height: 100%;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 1;
}

/* Топы игры */
.C_TopgameMaintop {
  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;

  width: 514px;
  height: 100%;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

/* Инди игры */
.W_ArticlestyleTitle {
  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 13px;

  width: 1164px;
  height: 130px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.W_ArticlestyleTitleMobile {
  display: none;
  // /* Auto layout */

  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // padding: 0px 89px;
  // gap: 20px;

  // width: 768px;
  // height: 207px;

  // /* Inside auto layout */

  // flex: none;
  // order: 0;
  // align-self: stretch;
  // flex-grow: 0;
}
.W_TopgameLinksMobile {
  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 240px;

  width: 590px;
  height: 39px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}
.W_ArticlestylePartvisual {
  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  width: 514px;
  height: 530px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 1;
}
.W_ArticlestyleBody {
  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;

  width: 514px;
  height: 100%;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 1;
}

/* Разбор монстров */

=======
>>>>>>> a24a91de18e0100fe77fd71f1c8c212c6bc2a019
.W_Screen {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 0px;

  width: 1920px;
  height: 922px;

  flex: none;
  order: 1;
  flex-grow: 0;
}

.W_MenuBarMainRoundedBorder {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 303px;
  padding-right: 35px;

  position: relative;
  width: 958px;
  height: 70px;

  background: #000000;
  border-radius: 12px;
  .C_MenuBarNavigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 0px 0px 35px;
    gap: 45px;

    width: 512px;
    height: 70px;

    flex: none;
    order: 0;
    flex-grow: 0;
  }
}

<<<<<<< HEAD
.W_MenuBarBreadcrumbsRoundedBorder {
=======
.W_MenuBarBreadcrumbsRoundedBorder{
>>>>>>> a24a91de18e0100fe77fd71f1c8c212c6bc2a019
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 18px 21px 18px 39px;
  gap: 10px;

  position: relative;
  width: 959px;
  height: 70px;

  background: #000000;
  border-radius: 12px;
}

.W_MonsterPic {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;

  position: relative;
  width: 480px;
  height: 782px;

<<<<<<< HEAD
  background: #ffffff;
=======
  background: #FFFFFF;
>>>>>>> a24a91de18e0100fe77fd71f1c8c212c6bc2a019
}

.W_CardContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;

  width: 395px;
  height: 102px;
  left: 20px;
  top: 142px;
<<<<<<< HEAD
=======

>>>>>>> a24a91de18e0100fe77fd71f1c8c212c6bc2a019
}

.W_MonsterCard {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 1px 0px 1px 1px;

  position: relative;
  width: 479.5px;
  height: 142px;

<<<<<<< HEAD
  background: #ffffff;
=======
  background: #FFFFFF;
>>>>>>> a24a91de18e0100fe77fd71f1c8c212c6bc2a019
}

.W_Article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 81px;
  gap: 30px;

  width: 777px;
  height: 729px;

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
<<<<<<< HEAD
=======

>>>>>>> a24a91de18e0100fe77fd71f1c8c212c6bc2a019
}

.C_MonsterStatus {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;

  position: relative;
  width: 614px;
  height: 134px;
}

.W_MonsterStatus {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;

  position: relative;
  width: 614px;
  height: 55px;
}

.W_MonsterStatusContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;

  position: relative;
  width: 265px;
  height: 37px;
<<<<<<< HEAD
=======

>>>>>>> a24a91de18e0100fe77fd71f1c8c212c6bc2a019
}
