<<<<<<< HEAD
* {
=======
*{
>>>>>>> a24a91de18e0100fe77fd71f1c8c212c6bc2a019
  box-sizing: border-box;
  overflow-x: hidden;
}

html,
body {
<<<<<<< HEAD
  width: 100vw;
  height: 100vh;
=======
  height: 100%;
>>>>>>> a24a91de18e0100fe77fd71f1c8c212c6bc2a019
}

body {
  font-family: 'PT Root UI', Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
<<<<<<< HEAD
  background-color: var(--black);

  background-image: url(images/Q_GrungeTextureMainmenu_1440.png);
=======
  background-color: #272727;
>>>>>>> a24a91de18e0100fe77fd71f1c8c212c6bc2a019
}
