//* {
//  box-sizing: border-box;
//}

html,
body {
  width: 100vw;
  height: 100vh;
}

body {
  font-family: 'PT Root UI', Helvetica, Arial, sans-serif;
  font-weight: 400;
  background-color: var(--black);
}

a {
  text-decoration: none;
  cursor: pointer;
  :hover {
    color: var(--acid-green);
    text-shadow: 0 0 7px #07ff62, 0 0 10px #0bff0b, 0 0 21px #33ff55,
      0 0 42px #0fa, 0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa,
      0 0 151px #0fa;
  }
}
a.link {
  animation: link 0.8s ease-in-out infinite alternate;
  @keyframes link {
    from {
      text-shadow: 0 0 6px rgba(251, 255, 0, 0.92),
        0 0 30px rgba(255, 213, 0, 0.34), 0 0 12px rgba(255, 174, 0, 0.52),
        0 0 21px rgba(255, 119, 0, 0.92), 0 0 34px rgba(255, 179, 0, 0.78),
        0 0 54px rgba(191, 226, 255, 0.92);
    }
    to {
      text-shadow: 0 0 6px rgba(255, 0, 0, 0.98),
        0 0 30px rgba(255, 128, 0, 0.42), 0 0 12px rgba(255, 162, 0, 0.58),
        0 0 22px rgba(191, 226, 255, 0.84), 0 0 38px rgba(191, 226, 255, 0.88),
        0 0 60px #fff;
    }
  }
  :hover {
    color: var(--acid-orange);
    text-shadow: 0 0 7px #ffb907, 0 0 10px #ffff0b, 0 0 21px #ffc905,
      0 0 42px rgb(255, 140, 0), 0 0 82px rgb(255, 149, 0),
      0 0 92px rgb(218, 196, 48), 0 0 102px rgb(255, 247, 15),
      0 0 151px rgb(255, 217, 0);
  }
}
.images {
  display: flex;

  //* {
  //width: 100%;
  //height: 100%;
  //margin: 0 0px;
  //}
}
