@font-face {
  font-family: 'PT Root UI';
  src: url('fonts/PT-Root-UI_Light.woff2') format('woff2'),
    url('fonts/PT-Root-UI_Light.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'PT Root UI';
  src: url('fonts/PT-Root-UI_Regular.woff2') format('woff2'),
    url('fonts/PT-Root-UI_Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PT Root UI';
  src: url('fonts/PT-Root-UI_Medium.woff2') format('woff2'),
    url('fonts/PT-Root-UI_Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'PT Root UI';
  src: url('fonts/PT-Root-UI_Bold.woff2') format('woff2'),
    url('fonts/PT-Root-UI_Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'CoFoSans-Regular';
  src: url('fonts/CoFoSans-Regular.woff2') format('woff2'),
    url('fonts/CoFoSans-Regular.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'CoFoSans-Medium';
  src: url('fonts/CoFoSans-Medium.woff2') format('woff2'),
    url('fonts/CoFoSans-Medium.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'LenoraPremium-Regular';
  src: url('fonts/LenoraPremium-Regular.woff') format('woff'),
    url('fonts/LenoraPremium-Regular.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'AnonymousPro-Regular';
  src: url('fonts/AnonymousPro-Regular.woff') format('woff'),
    url('fonts/AnonymousPro-Regular.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'LenoraPremium-Medium';
  src: url('fonts/LenoraPremium-Medium.woff') format('woff'),
    url('fonts/LenoraPremium-Regular.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'PT Mono';
  src: url('fonts/PTMono-Regular.woff2') format('woff2'),
    url('fonts/PTMono-Regular.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'JinxFont';
  src: url('fonts/Jinx-Font-_1_.woff2') format('woff2'),
    url('fonts/Jinx-Font-_1_.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}
