body.index {
  //display: flex;
  //flex-direction: column;
  //justify-content: center;
  //align-items: center;
  overflow-x: hidden;

  //& > div,
  //& > a {
  //margin: 10px 0;
  //}
}
.uga1 {
  width: 959px;
  height: 921.77px;
}
.p1 {
  z-index: 98;
  position: absolute;
  margin-left: 960px;
  margin-top: 79px;
}
.grid {
  width: 1920px;
  height: 1080px;
  opacity: 50%;
}
.p2 {
  z-index: -1;
  position: absolute;
}
.site-bar-main-menu {
  position: absolute;
  font-family: 'CoFoSans-Regular', sans-serif;
  font-weight: 200;
  font-size: 60px;
}
.sbm1 {
  width: 0px;
  color: black;
  margin-top: 90.23px;
  position: absolute;
  margin-left: 22px;
  font-family: 'CoFoSans-Regular', sans-serif;
  font-weight: 200;
  font-size: 50px;
}
.sbm2 {
  margin-top: 163.07px;
  position: absolute;
  margin-left: 22px;
  font-family: 'CoFoSans-Regular', sans-serif;
  font-weight: 200;
  font-size: 50px;
}
.sbm4 {
  margin-top: 236px;
  position: absolute;
  margin-left: 22px;
  font-family: 'CoFoSans-Regular', sans-serif;
  font-weight: 200;
  font-size: 50px;
}
.sbm5 {
  margin-top: 308.75px;
  position: absolute;
  margin-left: 29.52px;
  font-family: 'CoFoSans-Regular', sans-serif;
  font-weight: 200;
  font-size: 24px;
}
a.text {
  font-weight: 200;
  font-family: 'CoFoSans-Regular', sans-serif;
  text-decoration: none;
  color: black;
  width: 944px;
  height: 74px;
  background-color: white;
}
a.text:hover {
  color: white;
}
a.text:hover {
  background-color: black;
}
label.main_post {
  margin-left: 0px;
}
#email {
  font-weight: 200;
  font-family: 'CoFoSans-Regular', sans-serif;
  font-size: 50px;
  color: black;
  height: 76px;
  width: 810px;
  border: none;
  margin: -13px 0px 0px 0px;
  padding-left: 22px;
}
input::placeholder {
  color: black;
}
:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}
button {
  cursor: pointer;
  background-color: white;
  color: white;
  border: none;
  position: absolute;
  padding-top: 0px;
  padding-left: 48px;
}
.linem1 {
  z-index: 99;
  position: absolute;
  margin-top: 142.64px;
  width: 960px;
}
.linem2 {
  z-index: 99;
  position: absolute;
  margin-top: 215.48px;
  width: 960px;
}
.linem3 {
  z-index: 99;
  position: absolute;
  margin-top: 288.32px;
  width: 960px;
}
.linem4 {
  z-index: 99;
  position: absolute;
  margin-top: 848px;
  width: 960px;
}
.linem5 {
  z-index: 99;
  position: absolute;
  margin-top: 920.17px;
  width: 960px;
}
.line_min_1 {
  z-index: 99;
  border-left: 3px solid black;
  height: 145px;
  position: absolute;
  margin-left: 853.28px;
  margin-top: 857px;
  top: 0;
}
.line_min_2 {
  z-index: 99;
  border-left: 3px solid black;
  height: 72.72px;
  position: absolute;
  margin-left: 761.32px;
  margin-top: 929.34px;
  top: 0;
}
.line_min_3 {
  z-index: 99;
  border-left: 3px solid black;
  height: 72.72px;
  position: absolute;
  margin-left: 88px;
  margin-top: 928.02px;
  top: 0;
}
.pp4 {
  cursor: pointer;
  width: 88px;
  height: 70px;
}
.p4 {
  z-index: 98;
  position: absolute;
  margin-left: 766.13px;
  margin-top: 930.33px;
}
.pp5 {
  cursor: pointer;
  width: 86px;
  height: 70px;
}
.p5 {
  z-index: 98;
  position: absolute;
  margin-left: 862.29px;
  margin-top: 930.3px;
}
.pp6 {
  cursor: pointer;
  width: 87.99px;
  height: 71.44px;
}
.p6 {
  z-index: 98;
  position: absolute;
  margin-left: 1px;
  margin-top: 930.3px;
}
.pp7 {
  width: 70px;
  height: 33px;
}
.p7 {
  z-index: 98;
  position: absolute;
  margin-left: 1800px;
  margin-top: 19.9px;
}
.emailtop {
  position: absolute;
  margin-top: 867px;
}
