body.main_page {
  background-color: black;
  overflow: hidden;
  }
  .main_page {
    height: 100vh;
  }
  .main_page_line_02 {
    z-index: 99;
    border-top: 1px solid white;
    width: 100vw;
    position: absolute;
  }
  .main_page_line_03 {
    z-index: 99;
    border-bottom: 1px solid white;
    bottom: 0;
    width: 100vw;
    position: absolute;
  }
  .main_page_pics_wrapper_01 {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100vw;
  }
  .main_page_pics_wrapper_02 {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
  }
  .main_page_pic_01 {
      margin-left: 34.3vw;
      mix-blend-mode: screen;
  }
  .main_page_pic_02 {
    margin-left: 3.8vw;
    margin-top: 35vh;
    mix-blend-mode: screen;
  }
  .main_page_square_01_wrapper_03 {
    z-index: 1;
    position: absolute;
    display: flex;
    justify-content: flex-start;
  }
.main_page_square_01 {
  background-color: white;
  width: 50.2vw;
  height: 100vh;
  border-right: 1px solid;
  border-color: white;
}

.main_page_logo_wrapper {
  z-index: 1;
  position: absolute;
  display: flex;
  justify-content: flex-end;
  width: 100vw;
  height: 100vh;
}

.main_page_logo {
  margin-top: 37.51vh;
  margin-right: 7.14vw;
}

.main_page_glyphs_wrapper{
  z-index: 1;
  position: absolute;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
  .main_page_glyphs_01 {
    font-family: 'PT Mono', sans-serif;
    color: #4CFF53;
    font-size: 22.74px;
    line-height: 25px;
    margin-bottom: 39vh;
    margin-right: 25.4vw;
  }
  .main_page_glyphs_02 {
    font-family: 'PT Mono', sans-serif;
    color: #4CFF53;
    font-size: 22.74px;
    line-height: 25px;
    margin-right: 7vw;
    margin-top: 38vh;
  }


  .main_page_rounded_boxes {
    background-color: white;
    width: 50.2vw;
    height: 100vh;
    border-right: 1px solid;
    border-color: white;
  }

  .main_page_buttons_wrapper {
    z-index: 1;
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1px;
  }

  button.main_page_button_zero {
    text-align: left;
    padding-left: 1.2vw;
    color: #4CFF53;
    font-size: 22px;
    font-family: 'PT Mono', sans-serif;
    font-weight: 200;
    width: 50.2vw;
    height: 7.5vh;
    background-color: black;
  }
  button.main_page_buttonfirst {
    text-align: left;
    cursor: pointer;
    padding-top: 0.7vh;
    padding-left: 1.2vw;
    color: white;
    font-size: 50px;
    font-family: 'PT Mono', sans-serif;
    font-weight: 200;
    width: 50.2vw;
    height: 7.5vh;
    background-color: black;
    border-radius: 0px 11px 11px 0px;
    border: none;
  }
  button.main_page_buttonfirst:hover {
    background-color: white;
    color: black;
  }
  button.main_page_button_after {
    padding-left: 1.2vw;
    color: #4CFF53;
    font-size: 22px;
    font-family: 'PT Mono', sans-serif;
    font-weight: 200;
    width: 50.2vw;
    height: 29.7vh;
    background-color: black;
  }
  .main_page_cards_wrapper {
    z-index: 2;
    position: absolute;
    display: flex;
    margin-top: 60.1vh;
  }
  .main_page_card {
    border: 1px solid;
    border-color: white;
    width: 16.65vw;
    height: 32vh;
    background-color: black;
    border-radius: 18px;
  }
.main_page_card_text_01 {
  font-family: 'PT Mono', sans-serif;
  color: #4CFF53;
  font-size: 35.76px;
  line-height: 40px;
  padding: 19px 0px 0px 20px;
}
.main_page_card_text_02 {
  font-family: 'PT Mono', sans-serif;
  color: white;
  font-size: 18.79px;
  line-height: 22px;
  padding-left: 20px;
  padding-top: 175px;
}
.main_page_card_text_03 {
  font-family: 'PT Mono', sans-serif;
  color: white;
  font-size: 18.79px;
  line-height: 22px;
  padding-left: 20px;
  padding-top: 135px;
}
  .main_page_footer_wrapper {
    z-index: 2;
    position: absolute;
    margin-top: 92.4vh;
    display: flex;
  }

  button.main_page_footer_info {
    cursor: pointer;
    background-color: black;
    width: 74px;
    height: 7.5vh;
    margin-left: 1px;
    border-radius: 11px;
    padding: 6px 2px 0px 0px;
    border: none;
  }
  button.main_page_footer_info:hover {
    background-color: white;
    color: black;
  }
  .main_page_footer {
    background-color: black;
    width: 38.4vw;
    height: 7.5vh;
    margin-left: 1px;
    border-radius: 11px;
  }
  button.main_page_footer_tg {
    cursor: pointer;
    background-color: black;
    width: 74px;
    height: 7.5vh;
    margin-left: 1px;
    border-radius: 11px;
    padding: 2px 6px 0px 0px;
    border: none;
  }
    button.main_page_footer_tg:hover {
      background-color: white;
      color: black;
    }
  button.main_page_footer_vk {
    cursor: pointer;
    background-color: black;
    width: 74px;
    height: 7.5vh;
    margin-left: 1px;
    border-radius: 11px;
    padding: 6px 0px 0px 0px;
    border: none;
  }
  button.main_page_footer_vk:hover {
    background-color: white;
    color: black;
  }
