//.ugam2 {
//width: 0px;
//height: 0px;
//}
.psm2 {
  z-index: 98;
  position: absolute;
  margin-left: 0px;
  margin-top: 78px;
}
//.ugam3 {
//width: 923.11px;
//height: 482.54px;
//}
.psm3 {
  z-index: 98;
  position: absolute;
  margin-left: 479.46px;
  margin-top: 78px;
}
.tm2 {
  max-width: 561px;
  margin-top: 340.51px;
  margin-left: 1146px;
  line-height: 1.2;
  font-family: 'CoFoSans-Regular', sans-serif;
  font-size: 19px;
  position: absolute;
}
.kar2 {
  width: 616px;
  height: 75.85px;
}
.kat {
  z-index: 98;
  position: absolute;
  margin-left: 1147px;
  margin-top: 219.82px;
}
