.arr1 {
  z-index: 98;
  position: absolute;
  margin-left: 1146px;
  margin-top: 542.4px;
}
.ttt3 {
  max-width: 561px;
  margin-top: 528.29px;
  margin-left: 1284.47px;
  line-height: 1.2;
  font-family: 'CoFoSans-Medium', sans-serif;
  font-size: 19px;
  font-weight: 300;
  text-shadow: 1px 0 1px black;
  position: absolute;
}
