@media only screen and (min-width: 2049px) and (max-width: 2560px) {
  .logo_min {
    max-width: 100%;
  }
  .logo_big {
    max-width: 100%;
  }
  .section2 {
    max-width: 100%;
  }
  .section3 {
    max-width: 100%;
  }
  .section4 {
    max-width: 100%;
  }
  .box_text1 {
    max-width: 100%;
  }
  h2 {
    max-width: 100%;
  }
  p {
    max-width: 100%;
  }
  button.buttonfirst {
    max-width: 100%;
  }
  button.buttonsecond {
    max-width: 100%;
  }
  .img_tizer2 img{
    max-width: 100%;
  }
  .img_tizer3 img{
    max-width: 100%;
  }
  .img_tizer4 img{
    max-width: 100%;
  }
  .section5 {
    max-width: 100%;
  }
  .img_tizer5 img{
    max-width: 100%;
  }
  .img_tizer5 {
    max-width: 100%;
  }
  .base_final {
    max-width: 100%;
  }
  #email_tizer {
    max-width: 100%;
  }
  button.tizer {
    max-width: 100%;
  }
  .box_text3 {
    max-width: 100%;
  }
  .base_t4 {
    max-width: 100%;
  }
  button.buttonthird {
    max-width: 100%;
  }
  .base_t5 {
    max-width: 100%;
  }
}


@media only screen and (min-width: 1729px) and (max-width: 2048px) {
  .logo_min {
    font-size: 37px;
  }
  .logo_big {
    font-size: 286px;
  }
  .section2 {
    margin-top: -127px;
  }
  .section3 {
    margin-top: -229px;
  }
  .section4 {
    margin-top: -337px;
  }
  .box_text1 {
    font-size: 42px;
    margin-left: 64px;
    width: 830.82px;
  }
  h2 {
    font-size: 110px;
  }
  p {
    font-size: 42px;
    margin-top: 86px;
  }
  button.buttonfirst {
    margin-top: 80px;
    font-size: 42px;
    margin-left: 151px;
    width: 297.45px;
    height: 67.97px;
  }
  button.buttonsecond {
    margin-top: 80px;
    font-size: 42px;
    margin-left: 84px;
    width: 297.45px;
    height: 67.97px;
  }
  .img_tizer2 img{
    width: 830.82px;
    height: 834.78px;
  }
  .img_tizer3 img{
    height: 957.34px;
    width: 830.82px;
  }
  .img_tizer4 img{
    height: 580.51px;
    width: 830.82px;
  }
  .section5 {
    margin-top: -207px;
  }
  .img_tizer5 img{
    width: 830.82px;
    height: 1504.05px;
  }
  .img_tizer5 {
    margin-left: 64px;
  }
  .base_final {
    width: 830.82px;
  }
  #email_tizer {
    font-size: 50px;
    height: 79.96px;
    width: 976.85px;
    /*padding-left: ;*/
  }
  button.tizer {
    width: 48.01px;
    height: 35.31px;
    margin-left: -88px;
    padding-top: 13px;
  }
  .box_text3 {
    margin-top: 296px;
  }
  .base_t4 {
    font-size: 42px;
    padding-bottom: 18px;
  }
  button.buttonthird {
    font-size: 25px;
    margin-left: 82px;
  }
  .base_t5 {
    font-size: 25px;
    margin-top: 35px;
  }
}
@media only screen and (min-width: 1367px) and (max-width: 1728px) {
  .logo_min {
    font-size: 38px;
    margin-top: -4px;
  }
  .logo_big {
    font-size: 247px;
  }
  .section2 {
    margin-top: -100px; /**/
  }
  .section3 {
    margin-top: -270px; /**/
  }
  .section4 {
    margin-top: -300px; /**/
  }
  .box_text1 {
    font-size: 31px;
    margin-left: 48px;
    width: 625.96px;
  }
  h2 {
    font-size: 82px;
  }
  p {
    font-size: 31px;
    margin-top: 76px;
  }
  button.buttonfirst {
    margin-top: 54px;
    font-size: 31px;
    margin-left: 114.46px;
    width: 224.11px;
    height: 51.21px;
  }
  button.buttonsecond {
    margin-top: 54px;
    font-size: 31px;
    margin-left: 63px;
    width: 224.11px;
    height: 51.21px;
  }
  .img_tizer2 img{
    width: 625.96px;
    height: 628.94px;
  }
  .img_tizer3 img{
    height: 721.28px;
    width: 625.96px;
  }
  .img_tizer4 img{
    height: 437.37px;
    width: 625.96px;
  }
  .section5 {
    margin-top: -160px;
  }
  .section6 {
    margin-top: -40px;
  }
  .img_tizer5 img{
    width: 625.96px;
    height: 1133.18px;
  }
  .img_tizer5 {
    margin-left: 48px;
  }
  .base_final {
    width: 625.96px;
  }
  #email_tizer {
    font-size: 37px;
    height: 60.24px;
    width: 735.98px;
    /*padding-left: ;*/
  }
  button.tizer {
    width: 36.17px;
    height: 26.61px;
    margin-left: -84px;
    padding-top: 5px;
  }
  .box_text3 {
    margin-top: 223px;
  }
  .base_t4 {
    font-size: 31px;
    padding-bottom: 14px;
  }
  button.buttonthird {
    font-size: 18px;
    margin-left: 55px;
  }
  .base_t5 {
    font-size: 18px;
    margin-top: 26px;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1366px) {
  .logo_min {
    font-size: 28px;
    margin-top: -4px;
  }
  .logo_big {
    font-size: 185px;
  }
  .section2 {
    margin-top: -179px; /**/
  }
  .section3 {
    margin-top: -280px; /**/
  }
  .section4 {
    margin-top: -375px; /**/
  }
  .box_text1 {
    font-size: 24px;
    margin-left: 37px;
    width: 484.93px;
  }
  h2 {
    font-size: 63px;
  }
  p {
    font-size: 24px;
    margin-top: 38px;
  }
  button.buttonfirst {
    margin-top: 42px;
    font-size: 24px;
    margin-left: 88.68px;
    width: 173.62px;
    height: 39.67px;
  }
  button.buttonsecond {
    margin-top: 42px;
    font-size: 24px;
    margin-left: 49px;
    width: 173.62px;
    height: 39.67px;
  }
  .img_tizer2 img{
    width: 484.93px;
    height: 487.24px;
  }
  .img_tizer3 img{
    height: 558.78px;
    width: 484.93px;
  }
  .img_tizer4 img{
    height: 338.83px;
    width: 484.93px;
  }
  .section5 {
    margin-top: -268px;
  }
  .section6 {
    margin-top: -170px;
  }
  .img_tizer5 img{
    width: 484.93px;
    height: 877.88px;
  }
  .img_tizer5 {
    margin-left: 37px;
  }
  .img_tizer3 {
    margin-left: 37px;
  }
  .base_final {
    width: 484.93px;
  }
  #email_tizer {
    font-size: 28px;
    height: 60.24px;
    width: 570.16px;
    /*padding-left: ;*/
  }
  button.tizer {
    width: 28.02px;
    height: 20.61px;
    margin-left: -84px;
    padding-top: 5px;
  }
  .box_text3 {
    margin-top: 173px;
  }
  .base_t4 {
    font-size: 24px;
    padding-bottom: 11px;
  }
  button.buttonthird {
    font-size: 13px;
    margin-left: 42px;
  }
  .base_t5 {
    font-size: 13px;
    margin-top: 20px;
  }
}
@media only screen and (min-device-width: 429px) and (max-device-width: 1024px) {
  .logo_min {
    font-size: 24px;
    margin-top: -3px;
  }
  .logo_big {
    font-size: 203px;
  }
  .img_tizer1 img{
   opacity: 50%;
  }
  .section2 {
    flex-direction: column;
    margin-top: -145px;
  }
  .section3 {
    flex-direction: column;
    margin-top: -8px;
  }
  .section4 {
    flex-direction: column;
    margin-top: -29px;
  }
  .box_text1 {
    font-size: 29px;
    margin-left: 0px;
    width: 495.68px;
    margin-top: 50px;
  }
  h2 {
    font-size: 79px;
  }
  p {
    font-size: 29px;
    margin-top: 188px;
  }
  button.buttonfirst {
    margin-top: 75px;
    font-size: 29px;
    margin-left: 0px;
    width: 217.46px;
    height: 49.69px;
  }
  button.buttonsecond {
    margin-top: 75px;
    font-size: 29px;
    margin-left: 61px;
    width: 217.46px;
    height: 49.69px;
  }
  .img_tizer2 img{
    width: 655.96px;
    height: 659.08px;
  }
  .img_tizer3 img{
    height: 755.84px;
    width: 655.96px;
    margin-top: 70px;
  }
  .img_tizer3 {
    margin-left: 0px;
  }
  .img_tizer4 img{
    height: 457.91px;
    width: 655.35px;
  }
  .section5 {
    flex-direction: column;
    margin-top: -92px;
  }
  .section6 {
    flex-direction: column;
    /*margin-top: -416px;*/
  }
  p.letter {
    letter-spacing: 0px;
  }
  .base_t3 {
    width: 605.06px;
  }
  .img_tizer5 img{
    width: 655.19px;
    height: 1186.09px;
  }
  .img_tizer5 {
    margin-left: 0px;
  }
  .base_final {
    width: 635.06px;
    margin-left: 138px;
  }
  .main_tizer_block {
    margin-left: -63px;
    padding-bottom: 20px;
  }
  #email_tizer {
    font-size: 29px;
    height: 41.84px;
    width: 653.96px;
    /*padding-left: ;*/
  }
  button.tizer {
    width: 25.12px;
    height: 18.48px;
    margin-left: 2px;
    margin-top: -6px;
    padding-top: 0px;
  }
  .box_text3 {
    margin-top: 155px;
  }
  .base_t4 {
    font-size: 29px;
    padding-bottom: 25px;
  }
  button.buttonthird {
    font-size: 15px;
    margin-left: 47px;
  }
  .base_t5 {
    font-size: 15px;
    margin-top: 18px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 428px) {
  .logo_min {
    font-size: 16px;
    margin-top: -3px;
  }
  .logo_big {
    font-size: 138px;
  }
  .img_tizer1 img{
   opacity: 50%;
  }
  .section2 {
    flex-direction: column;
    margin-top: -10px; /**/
  }
  .section3 {
    flex-direction: column;
    margin-top: -10px; /**/
  }
  .section4 {
    flex-direction: column;
    margin-top: -324px; /**/
  }
  .box_text1 {
    font-size: 13px;
    margin-left: 0px;
    width: 229px;
    margin-top: 50px;
  }
  h2 {
    font-size: 36px;
  }
  p {
    font-size: 13px;
    margin-top: 34px;
  }
  button.buttonfirst {
    margin-top: 34px;
    font-size: 13px;
    margin-left: 0px;
    width: 100.49px;
    height: 22.96px;
  }
  button.buttonsecond {
    margin-top: 34px;
    font-size: 13px;
    margin-left: 28px;
    width: 100.49px;
    height: 22.96px;
  }
  .img_tizer2 img{
    width: 303.11px;
    height: 304.55px;
  }
  .img_tizer3 img{
    height: 349.27px;
    width: 303.11px;
    margin-top: 70px;
  }
  .img_tizer3 {
    margin-left: 0px;
  }
  .img_tizer4 img{
    height: 163.11px;
    width: 211.6px;
  }
  .section5 {
    flex-direction: column;
    margin-top: -380px;
    margin-left: 8px;
  }
  .section6 {
    flex-direction: column;
    margin-top: -10px;
  }
  p.letter {
    letter-spacing: 0px;
  }
  .base_t3 {
    width: 260.67px;
  }
  .img_tizer5 img{
    width: 302.75px;
    height: 548.08px;
  }
  .img_tizer5 {
    margin-left: 0px;
  }
  .base_final {
    width: 257.64px;
    margin-left: 13px;
  }
  .main_tizer_block {
    margin-left: -63px;
    padding-bottom: 20px;
  }
  #email_tizer {
    font-size: 11px;
    height: 19.34px;
    width: 204.19px;
    /*padding-left: ;*/
  }
  button.tizer {
    width: 11.61px;
    height: 8.54px;
    margin-left: 7px;
    margin-top: -13px;
    padding-top: 0px;
  }
  .box_text3 {
    margin-top: 71.76px;
  }
  .base_t4 {
    font-size: 13px;
    padding-bottom: 25px;
  }
  button.buttonthird {
    font-size: 10px;
    margin-left: 28px;
  }
  .base_t5 {
    font-size: 10px;
    margin-top: 8px;
  }
}
