.player1 {
  z-index: 98;
  position: absolute;
  margin-left: 1px;
  margin-top: 76.81px;
}
.tr1 {
  font-family: 'CoFoSans-Regular', sans-serif;
  font-weight: 200;
  font-size: 33px;
  position: absolute;
  margin-left: 31.87px;
  margin-top: 648.04px;
}
.tr2 {
  margin-top: 686.76px;
  margin-left: 30.88px;
  line-height: 1.2;
  font-family: 'CoFoSans-Regular', sans-serif;
  font-size: 16px;
  position: absolute;
}
.teg1 {
  z-index: 98;
  position: absolute;
  margin-left: 28px;
  margin-top: 736.49px;
}
.share1 {
  z-index: 98;
  position: absolute;
  margin-left: 30px;
  margin-top: 927.65px;
}
.konfa1 {
  z-index: 98;
  position: absolute;
  margin-left: 989.23px;
  margin-top: 222.98px;
}
.ttc2 {
  width: 561px;
  margin-top: 616.05px;
  margin-left: 1140.26px;
  line-height: 1.2;
  font-family: 'CoFoSans-Regular', sans-serif;
  font-size: 16px;
  position: absolute;
}
.tr4 {
  font-family: 'CoFoSans-Regular', sans-serif;
  font-weight: 200;
  font-size: 33px;
  position: absolute;
  margin-left: 1142.87px;
  margin-top: 565.41px;
}
