.site-bar {
  position: absolute;
  margin-top: 26.51px;
}
.sb1 {
  font-family: 'CoFoSans-Regular';
  font-weight: 200;
  font-size: 24px;
  position: absolute;
  margin-left: 33px;
}
.sb2 {
  font-family: 'CoFoSans-Regular';
  font-weight: 200;
  font-size: 24px;
  position: absolute;
  margin-left: 161.28px;
}
.sb3 {
  font-family: 'CoFoSans-Regular';
  font-weight: 200;
  font-size: 24px;
  position: absolute;
  margin-left: 283.94px;
}
.sb4 {
  font-family: 'CoFoSans-Regular';
  font-weight: 200;
  font-size: 24px;
  position: absolute;
  margin-left: 280.56px;
}
.sb5 {
  font-family: 'CoFoSans-Regular';
  font-weight: 200;
  font-size: 24px;
  position: absolute;
  margin-left: 781px;
}
.sb6 {
  font-family: 'CoFoSans-Regular';
  font-weight: 200;
  font-size: 24px;
  position: absolute;
  margin-left: 1035px;
  decoration: none;
  color: black;
}
.sb7 {
  font-family: 'CoFoSans-Regular';
  font-weight: 200;
  font-size: 24px;
  position: absolute;
  margin-left: 1820px;
}
.line3{
  position: absolute;
  margin-top: 34px;
  width: 1920px;
}

.line4 {
  border-left: 2px solid black;
    height: 1080px;
    position: absolute;
    left: 960px;
    top: -202px;
}
.t1 {
  font-family: 'CoFoSans-Regular';
  font-weight: 200;
  font-size: 73px;
  position: absolute;
  margin-left: 1002px;
  margin-top: 101.25px;
}
.t2 {
  max-width: 561px;
  margin-top: 216px;
  margin-left: 1146px;
  line-height: 1.2;
  font-family: 'PT Root UI';
  font-size: 19px;
  position: absolute;
}
.line5 {
  border-left: 2px solid black;
    height: 1341px;
    position: absolute;
    transform: rotate(-130.91deg);
    margin-top: 951px;
    margin-left: 453px;
}
.line6 {
  border-left: 2px solid black;
    height: 1341px;
    position: absolute;
    transform: rotate(130.91deg);
    margin-top: 994px;
    margin-left: 453px;
}
.line7{
  position: absolute;
  margin-top: 107px;
  width: 1920px;
}
.ps1 {
  z-index: 98;
  position: absolute;
  margin-left: -14px;
  margin-top: 79px;
}
