.bigframe1 {
  z-index: 98;
  position: absolute;
  margin-left: 1146px;
  margin-top: 487.69px;
}
.tttt2 {
  max-width: 561px;
  margin-top: 782.08px;
  margin-left: 1146.19px;
  line-height: 1.2;
  font-family: 'CoFoSans-Regular', sans-serif;
  font-size: 19px;
  position: absolute;
}
