.mintv1 {
  margin-top: 227.82px;
  position: absolute;
  margin-left: 132.76px;
  font-family: 'CoFoSans-Regular', sans-serif;
  font-weight: 200;
  font-size: 35px;
}
.mintv2 {
  margin-top: 285.59px;
  position: absolute;
  margin-left: 132.76px;
  font-family: 'CoFoSans-Regular', sans-serif;
  font-weight: 200;
  font-size: 35px;
}
.mintv3 {
  margin-top: 342.27px;
  position: absolute;
  margin-left: 132.76px;
  font-family: 'CoFoSans-Regular', sans-serif;
  font-weight: 200;
  font-size: 35px;
}
.linemv1 {
  z-index: 99;
  position: absolute;
  margin-top: 142.55px;
  width: 958px;
}
.linemv2 {
  z-index: 99;
  position: absolute;
  margin-top: 393.13px;
  width: 958px;
}
.linemv3 {
  z-index: 99;
  position: absolute;
  margin-top: 466.13px;
  width: 958px;
}
.sbmv2 {
  margin-top: 163.07px;
  position: absolute;
  margin-left: 22px;
  font-family: 'CoFoSans-Regular', sans-serif;
  font-weight: 200;
  font-size: 50px;
}
.sbmv4 {
  margin-top: 413.56px;
  position: absolute;
  margin-left: 22px;
  font-family: 'CoFoSans-Regular', sans-serif;
  font-weight: 200;
  font-size: 50px;
}
