@media only screen and (min-width: 2221px) and (max-width: 2560px) {
  .S_About {
    height: calc(100svh - 96px);
  }

  /* Лендинг */

  .S_LandingSection03 {
    gap: 119px;
    width: 2364px;
    height: 1038px;
    left: calc(49vw - 2364px / 2);

    top: 2775px;
  }

  .S_LandingSection04 {
    padding: 87px 65px;

    height: 1347px;
    top: 4101px;
  }

  .S_LandingFearRating {
    gap: 137px;

    top: 7375px;
    height: 1064px;
  }

  .S_LandingSection08 {
    padding: 0px 0px 59px;
    gap: 271px;

    height: calc(100vh + 271px);
    top: 10324px;
  }

  /* Меню-бар */

  .S_MenuBar {
    height: 96px;
  }

  /* Инди игры */

  /* Разбор монстров */
  .S_SplitScreen {
    height: calc(100vh - 96px);
  }
}
@media only screen and (min-width: 1741px) and (max-width: 2220px) {
  .S_About {
    height: calc(100svh - 72px);
  }

  /* Лендинг */

  .S_LandingSection03 {
    gap: 89px;
    width: 1773px;
    height: 779px;
    left: calc(49vw - 1773px / 2);

    top: 2081px;
  }

  .S_LandingSection04 {
    padding: 65px 49px;

    height: 1010px;
    top: 3076px;
  }

  .S_LandingFearRating {
    gap: 103px;

    top: 5531px;
    height: 798px;
  }

  .S_LandingSection08 {
    padding: 0px 0px 44px;
    gap: 203px;

    height: calc(100vh + 203px);
    top: 7743px;
  }

  /* Меню-бар */

  .S_MenuBar {
    height: 72px;
  }

  /* Инди игры */
}
@media only screen and (min-width: 1367px) and (max-width: 1740px) {
  .S_About {
    height: calc(100svh - 64px);
  }

  /* Лендинг */

  .S_LandingSection03 {
    gap: 67px;
    width: 1328px;
    height: 584px;
    left: calc(49vw - 1328px / 2);

    top: 1644px;
  }

  .S_LandingSection04 {
    padding: 50px 36px;

    height: 900px;
    top: 2390px;
  }

  .S_LandingFearRating {
    gap: 77px;

    top: 4363px;
    height: 598px;
  }

  .S_LandingSection08 {
    padding: 0px 0px 33px;
    gap: 152px;

    height: calc(100vh + 152px);
    top: 6033px;
  }

  /* Меню-бар */

  .S_MenuBar {
    height: 64px;
  }

  /* Инди игры */

  /* Разбор монстров */
  .S_SplitScreen {
    height: calc(100vh - 64px);
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1366px) {
  .S_About {
    height: calc(100svh - 54px);
  }

  /* Лендинг */

  .S_LandingSection03 {
    gap: 67px;
    width: 1328px;
    height: 584px;
    left: calc(49vw - 1328px / 2);

    top: 1644px;
  }

  .S_LandingSection04 {
    padding: 50px 36px;

    height: 900px;
    top: 2390px;
  }

  .S_LandingFearRating {
    gap: 77px;

    top: 4363px;
    height: 598px;
  }

  .S_LandingSection08 {
    padding: 0px 0px 33px;
    gap: 152px;

    height: calc(100vh + 152px);
    top: 6033px;
  }

  /* Меню-бар */

  .S_MenuBar {
    height: 54px;
  }

  /* Инди игры */

  /* Разбор монстров */
  .S_SplitScreen {
    height: calc(100vh - 54px);
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .S_About {
    height: calc(100svh - 54px);
  }

  /* Лендинг */

  .S_LandingSection03 {
    gap: 48px;
    width: 945px;
    height: 416px;
    left: calc(49vw - 946px / 2);

    top: 1283px;
  }

  .S_LandingSection04 {
    padding: 35px 25px;

    height: 768px;
    top: 1813px;
  }

  .S_LandingFearRating {
    gap: 55px;

    top: 3384px;
    height: 428px;
  }

  .S_LandingSection08 {
    padding: 0px 0px 23px;
    gap: 214px;

    height: calc(100vh + 214px);
    top: 4572px;
  }

  /* Меню-бар */

  .S_MenuBar {
    height: 54px;
  }

  /* Главный экран */

  .S_MainScreenLeftSide {
    display: none;
  }

  .S_MainScreenLogo {
    display: none;
  }

  .S_MainScreenLogoMobile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;

    padding: 0px 1px 1px 1px;

    background-color: white;
    mix-blend-mode: lighten;
  }

  /* Инди игры */

  /* Разбор монстров */
  .S_SplitScreen {
    height: calc(100vh - 54px);
  }
}

@media only screen and (min-device-width: 463px) and (max-device-width: 768px) {
  /* О проекте */

  .S_About {
    height: calc(100svh - 54px);

    padding: 3.90625vw 3.77604vw 5vw 3.77604vw;
    gap: 0.65104vw;
  }

  /* Браузер видео */

  .S_VideoBrowserScreen {
    padding: 6.25vw 5.33854vw;
  }

  /* Лендинг */

  .S_LandingSection03 {
    gap: 35px;
    width: 703px;
    height: 309px;
    left: calc(50vw - 704px / 2);

    top: 1725px;
  }

  .S_LandingSection04 {
    padding: 50px 36px;

    height: 900px;
    top: 2126px;
  }

  .S_LandingFearRating {
    gap: 60px;

    top: 4148px;
    height: 435px;
  }

  .S_LandingSection08 {
    padding: 0px 36px 33px;
    gap: 273px;

    height: calc(100vh + 273px);
    top: 5540px;
  }

  /* Меню-бар */

  .S_MenuBar {
    height: 54px;
  }

  /* Главный экран */

  .S_MainScreenLeftSide {
    display: none;
  }

  .S_MainScreenLogo {
    display: none;
  }

  .S_MainScreenLogoMobile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;

    padding: 0px 1px 1px 1px;

    background-color: white;
    mix-blend-mode: lighten;
  }

  /* Разбор монстров */

  .S_SplitScreen {
    padding: 0px;
    width: 100%;
    height: calc(100vh - 54px);
    flex-direction: column;
  }

  .S_Article {
    padding: 0px;
    width: 100%;
    height: 100%;
  }

  /* Инди игры */

  /* Разбор сюжета */

  .S_StoryCards {
    flex-shrink: 0;
    height: 271px;
    padding: 0px 1px;
  }
}

@media only screen and (min-device-width: 361px) and (max-device-width: 462px) {
  /* О проекте */

  .S_About {
    height: auto;

    padding: 20px 29px;
    gap: 3px;
  }

  /* Браузер видео */

  .S_VideoBrowserScreen {
    padding: 38px 35px;
  }

  /* Разбор сюжета */

  .S_StoryCards {
    flex-shrink: 0;
    height: 182px;
    padding: 0px 1px;
  }

  /* Лендинг */

  .S_LandingSection03 {
    flex-direction: column;

    gap: 20px;
    width: 94vw;
    height: 1252px;
    left: calc(50% - 94vw / 2);
    top: 165vh;
  }

  .S_LandingSection04 {
    padding: 27px 12px;

    height: 54vh;
    top: 310vh;
  }

  .S_LandingFearRating {
    gap: 14vh;

    top: 458vh;
    height: 49vh;
  }

  .S_LandingSection08 {
    padding: 0px 12px 31px;
    gap: 256px;

    height: calc(100vh + 156px);
    top: 600vh;
  }

  /* Меню-бар */

  .S_MenuBar {
    height: 54px;
  }

  /* Главный экран */

  .S_MainScreenLeftSide {
    display: none;
  }

  .S_MainScreenLogo {
    display: none;
  }

  .S_MainScreenLogoMobile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;

    padding: 0px 1px 1px 1px;

    background-color: white;
    mix-blend-mode: lighten;
  }

  /* Инди игры */

  /* Разбор монстров */

  .S_SplitScreen {
    padding: 0px;
    width: 100%;
    height: calc(100vh - 54px);
    flex-direction: column;
  }

  .S_Article {
    padding: 0px;
    width: 100%;
    height: 100%;
  }
}

@media only screen and (max-device-width: 360px) {
  /* О проекте */

  .S_About {
    height: auto;

    padding: 20px 29px;
    gap: 3px;
  }

  /* Браузер видео */

  .S_VideoBrowserScreen {
    padding: 38px 35px;
  }

  /* Разбор сюжета */

  .S_StoryCards {
    flex-shrink: 0;
    height: 182px;
    padding: 0px 1px;
  }

  /* Меню-бар */

  .S_MenuBar {
    height: 54px;
  }

  /* Главный экран */

  .S_MainScreenLeftSide {
    display: none;
  }

  .S_MainScreenLogo {
    display: none;
  }

  .S_MainScreenLogoMobile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;

    padding: 0px 1px 1px 1px;

    background-color: white;
    mix-blend-mode: lighten;
  }

  /* Инди игры */

  /* Разбор монстров */

  .S_SplitScreen {
    padding: 0px;
    width: 100%;
    height: calc(100vh - 54px);
    flex-direction: column;
  }

  .S_Article {
    padding: 0px;
    width: 100%;
    height: 100%;
  }
}
