@media only screen and (min-width: 2221px) and (max-width: 2560px) {
  .W_MenuBarMainRoundedBorder {
    height: 94px;

    border-radius: 16px;
  }
  .W_MenuBarBreadcrumbsRoundedBorder {
    padding: 18px 30px 18px 50px;

    height: 94px;

    border-radius: 16px;
  }
}

@media only screen and (min-width: 1741px) and (max-width: 2220px) {
  .W_MenuBarMainRoundedBorder {
    height: 70px;

    border-radius: 12px;
  }
  .W_MenuBarBreadcrumbsRoundedBorder {
    padding: 18px 21px 18px 39px;

    height: 70px;

    border-radius: 12px;
  }
}

@media only screen and (min-width: 1367px) and (max-width: 1740px) {
  .W_MenuBarMainRoundedBorder {
    height: 62px;

    border-radius: 10px;
  }
  .W_MenuBarBreadcrumbsRoundedBorder {
    padding: 18px 17px 18px 26px;

    height: 62px;

    border-radius: 10px;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1366px) {
  .W_MenuBarMainRoundedBorder {
    height: 52px;

    border-radius: 10px;
  }
  .W_MenuBarBreadcrumbsRoundedBorder {
    padding: 18px 15px 18px 22px;

    height: 52px;

    border-radius: 10px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .W_MenuBarMainRoundedBorder {
    display: none;
  }
  .W_MenuBarBreadcrumbsRoundedBorder {
    padding: 18px 15px 18px 22px;
    gap: 10px;

    height: 52px;

    border-radius: 10px;
  }
}
@media only screen and (min-device-width: 769px) and (max-device-width: 1024px) {
  .W_MenuBarMainRoundedBorder {
    display: none;
  }
  .W_MenuBarBreadcrumbsRoundedBorder {
    padding: 18px 15px 18px 22px;

    height: 52px;

    border-radius: 10px;
  }
}
@media only screen and (min-width: 415px) and (max-width: 768px) {
  .W_MenuBarMainRoundedBorder {
    display: none;
  }
  .W_MenuBarBreadcrumbsRoundedBorder {
    padding: 18px 15px 18px 22px;

    height: 52px;

    border-radius: 10px;
  }
}
@media only screen and (min-device-width: 415px) and (max-device-width: 768px) {
  .W_MenuBarMainRoundedBorder {
    display: none;
  }
  .W_MenuBarBreadcrumbsRoundedBorder {
    padding: 18px 15px 18px 22px;

    height: 52px;

    border-radius: 10px;
  }
}
@media only screen and (min-width: 361px) and (max-width: 414px) {
  .W_MenuBarMainRoundedBorder {
    display: none;
  }
  .W_MenuBarBreadcrumbsRoundedBorder {
    padding: 18px 20px;

    height: 52px;

    border-radius: 10px;
  }
}
@media only screen and (min-device-width: 361px) and (max-device-width: 414px) {
  .W_MenuBarMainRoundedBorder {
    display: none;
  }
  .W_MenuBarBreadcrumbsRoundedBorder {
    padding: 18px 20px;

    height: 52px;

    border-radius: 10px;
  }
}
@media only screen and (max-width: 360px) {
  .W_MenuBarMainRoundedBorder {
    display: none;
  }
  .W_MenuBarBreadcrumbsRoundedBorder {
    padding: 18px 20px;

    height: 44px;

    border-radius: 8px;
  }
}
@media only screen and (max-device-width: 360px) {
  .W_MenuBarMainRoundedBorder {
    display: none;
  }
  .W_MenuBarBreadcrumbsRoundedBorder {
    padding: 18px 20px;

    height: 44px;

    border-radius: 8px;
  }
}
