@media only screen and (min-width: 2221px) and (max-width: 2560px) {
  /* Смотреть видео */

  .W_VideoData {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px 25px;

    width: 1122px;
    height: 22px;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }

  /* Страшно реально */

  .C_ScrayreallyPictureinsidetext {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

    width: 859px;
    height: 494px;

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
  }

  /* Разбор механик */

  .C_ArticlestyleFullparagraphs {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 53px;

    width: 908px;
    height: 100%;

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
  }
  .W_AnalysismechanicsParagraphs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 35px;

    width: 847px;
    height: 100%;

    flex: none;
    order: 1;
    flex-grow: 1;
  }

  /* Топы игры */

  .C_TopgameMaintop {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;

    width: 941px;
    height: 100%;

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
  }

  /* Инди игры */

  .W_ArticlestyleTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 13px;

    width: 2070px;
    height: 210px;

    flex: none;
    order: 0;
    flex-grow: 0;
  }
  .W_ArticlestyleTitleMobile {
    display: none;
    // /* Auto layout */

    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // padding: 0px 89px;
    // gap: 20px;

    // width: 768px;
    // height: 207px;

    // /* Inside auto layout */

    // flex: none;
    // order: 0;
    // align-self: stretch;
    // flex-grow: 0;
  }
  .W_TopgameLinksMobile {
    display: none;

    // /* Auto layout */

    // display: flex;
    // flex-direction: row;
    // align-items: flex-start;
    // padding: 0px;
    // gap: 240px;

    // width: 590px;
    // height: 39px;

    // /* Inside auto layout */

    // flex: none;
    // order: 1;
    // align-self: stretch;
    // flex-grow: 0;
  }
  .W_ArticlestylePartvisual {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0px;

    width: 945px;
    height: 937px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 1;
  }
  .W_ArticlestyleBody {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;

    width: 945px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 1;
  }
}
@media only screen and (min-width: 1741px) and (max-width: 2220px) {
  /* Смотреть видео */
  .W_VideoData {
    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px 20px;
    gap: 257px;

    width: 838px;
    height: 17px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }

  /* Страшно реально */

  .C_ScrayreallyPictureinsidetext {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 7px;

    width: 643px;
    height: 369px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
  }

  /* Разбор механик */
  .C_ArticlestyleFullparagraphs {
    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;

    width: 682px;
    height: 100%;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
  }
  .W_AnalysismechanicsParagraphs {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 26px;

    width: 634px;
    height: 100%;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 1;
  }

  /* Топы игры */
  .C_TopgameMaintop {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 15px;

    width: 682px;
    height: 100%;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
  }

  /* Инди игры */

  .W_ArticlestyleTitle {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 13px;

    width: 1550px;
    height: 160px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
  }
  .W_ArticlestyleTitleMobile {
    display: none;
    // /* Auto layout */

    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // padding: 0px 89px;
    // gap: 20px;

    // width: 768px;
    // height: 207px;

    // /* Inside auto layout */

    // flex: none;
    // order: 0;
    // align-self: stretch;
    // flex-grow: 0;
  }
  .W_TopgameLinksMobile {
    display: none;

    // /* Auto layout */

    // display: flex;
    // flex-direction: row;
    // align-items: flex-start;
    // padding: 0px;
    // gap: 240px;

    // width: 590px;
    // height: 39px;

    // /* Inside auto layout */

    // flex: none;
    // order: 1;
    // align-self: stretch;
    // flex-grow: 0;
  }
  .W_ArticlestylePartvisual {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    width: 707px;
    height: 703px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 1;
  }
  .W_ArticlestyleBody {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;

    width: 707px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 1;
  }
}
@media only screen and (min-width: 1367px) and (max-width: 1740px) {
  /* Смотреть видео */
  .W_VideoData {
    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px 25px;

    width: 630x;
    height: 12px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }

  /* Страшно реально */

  .C_ScrayreallyPictureinsidetext {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 5px;

    width: 530px;
    height: 275px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
  }

  /* Разбор механик */
  .C_ArticlestyleFullparagraphs {
    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 30px;

    width: 509px;
    height: 100%;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
  }
  .W_AnalysismechanicsParagraphs {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;

    width: 472px;
    height: 100%;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 1;
  }

  /* Топы игры */
  .C_TopgameMaintop {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

    width: 514px;
    height: 100%;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
  }

  /* Инди игры */

  .W_ArticlestyleTitle {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 13px;

    width: 1164px;
    height: 130px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
  }
  .W_ArticlestyleTitleMobile {
    display: none;
    // /* Auto layout */

    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // padding: 0px 89px;
    // gap: 20px;

    // width: 768px;
    // height: 207px;

    // /* Inside auto layout */

    // flex: none;
    // order: 0;
    // align-self: stretch;
    // flex-grow: 0;
  }
  .W_TopgameLinksMobile {
    display: none;

    // /* Auto layout */

    // display: flex;
    // flex-direction: row;
    // align-items: flex-start;
    // padding: 0px;
    // gap: 240px;

    // width: 590px;
    // height: 39px;

    // /* Inside auto layout */

    // flex: none;
    // order: 1;
    // align-self: stretch;
    // flex-grow: 0;
  }
  .W_ArticlestylePartvisual {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    width: 514px;
    height: 530px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 1;
  }
  .W_ArticlestyleBody {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;

    width: 514px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 1;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1366px) {
  /* Смотреть видео */
  .W_VideoData {
    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px 15px;

    width: 600px;
    height: 11px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }

  /* Страшно реально */

  .C_ScrayreallyPictureinsidetext {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;

    width: 503px;
    height: 260px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
  }

  /* Разбор механик */
  .C_ArticlestyleFullparagraphs {
    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 30px;

    width: 467px;
    height: 100%;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
  }
  .W_AnalysismechanicsParagraphs {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;

    width: 430px;
    height: 100%;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 1;
  }

  /* Топы игры */
  .C_TopgameMaintop {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

    width: 505px;
    height: 100%;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
  }

  /* Инди игры */

  .W_ArticlestyleTitle {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 10px;

    width: 1106px;
    height: 113px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
  }
  .W_ArticlestyleTitleMobile {
    display: none;
    // /* Auto layout */

    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // padding: 0px 89px;
    // gap: 20px;

    // width: 768px;
    // height: 207px;

    // /* Inside auto layout */

    // flex: none;
    // order: 0;
    // align-self: stretch;
    // flex-grow: 0;
  }
  .W_TopgameLinksMobile {
    display: none;

    // /* Auto layout */

    // display: flex;
    // flex-direction: row;
    // align-items: flex-start;
    // padding: 0px;
    // gap: 240px;

    // width: 590px;
    // height: 39px;

    // /* Inside auto layout */

    // flex: none;
    // order: 1;
    // align-self: stretch;
    // flex-grow: 0;
  }
  .W_ArticlestylePartvisual {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0px;

    width: 488px;
    height: 498px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 1;
  }
  .W_ArticlestyleBody {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;

    width: 488px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 1;
  }
}
@media only screen and (min-device-width: 769px) and (max-device-width: 1024px) {
  /* Смотреть видео */
  .W_VideoData {
    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px 25px;

    width: 446px;
    height: 11px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }

  /* Страшно реально */

  .C_ScrayreallyPictureinsidetext {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

    width: 379px;
    height: 209px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
  }

  /* Разбор механик */
  .C_ArticlestyleFullparagraphs {
    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 22px;

    width: 352px;
    height: 100%;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
  }
  .W_AnalysismechanicsParagraphs {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 15px;

    width: 325px;
    height: 100%;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 1;
  }

  /* Топы игры */
  .C_TopgameMaintop {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

    width: 365px;
    height: 100%;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
  }

  /* Инди игры */

  .W_ArticlestyleTitle {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 13px;

    width: 828px;
    height: 113px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
  }
  .W_ArticlestyleTitleMobile {
    display: none;
    // /* Auto layout */

    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // padding: 0px 89px;
    // gap: 20px;

    // width: 768px;
    // height: 207px;

    // /* Inside auto layout */

    // flex: none;
    // order: 0;
    // align-self: stretch;
    // flex-grow: 0;
  }
  .W_TopgameLinksMobile {
    display: none;

    // /* Auto layout */

    // display: flex;
    // flex-direction: row;
    // align-items: flex-start;
    // padding: 0px;
    // gap: 240px;

    // width: 590px;
    // height: 39px;

    // /* Inside auto layout */

    // flex: none;
    // order: 1;
    // align-self: stretch;
    // flex-grow: 0;
  }
  .W_ArticlestylePartvisual {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0px;

    width: 365px;
    height: 376px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 1;
  }
  .W_ArticlestyleBody {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;

    width: 365px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 1;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  /* Смотреть видео */
  .W_VideoData {
    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px 25px;

    width: 446px;
    height: 11px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }

  /* Страшно реально */

  .C_ScrayreallyPictureinsidetext {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

    width: 379px;
    height: 209px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
  }

  /* Разбор механик */
  .C_ArticlestyleFullparagraphs {
    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 22px;

    width: 352px;
    height: 100%;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
  }
  .W_AnalysismechanicsParagraphs {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 15px;

    width: 325px;
    height: 100%;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 1;
  }

  /* Топы игры */
  .C_TopgameMaintop {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

    width: 365px;
    height: 100%;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
  }

  /* Инди игры */

  .W_ArticlestyleTitle {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 13px;

    width: 828px;
    height: 113px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
  }
  .W_ArticlestyleTitleMobile {
    display: none;
    // /* Auto layout */

    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // padding: 0px 89px;
    // gap: 20px;

    // width: 768px;
    // height: 207px;

    // /* Inside auto layout */

    // flex: none;
    // order: 0;
    // align-self: stretch;
    // flex-grow: 0;
  }
  .W_TopgameLinksMobile {
    display: none;

    // /* Auto layout */

    // display: flex;
    // flex-direction: row;
    // align-items: flex-start;
    // padding: 0px;
    // gap: 240px;

    // width: 590px;
    // height: 39px;

    // /* Inside auto layout */

    // flex: none;
    // order: 1;
    // align-self: stretch;
    // flex-grow: 0;
  }
  .W_ArticlestylePartvisual {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0px;

    width: 365px;
    height: 376px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 1;
  }
  .W_ArticlestyleBody {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;

    width: 365px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 1;
  }
}
@media only screen and (min-device-width: 415px) and (max-device-width: 768px) {
  /* Смотреть видео */
  .W_VideoData {
    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px 25px;

    width: 538px;
    height: 11px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }

  /* Страшно реально */

  .C_ScrayreallyPictureinsidetext {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

    width: 538px;
    height: 284px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
  }

  /* Разбор механик */
  .C_ArticlestyleFullparagraphs {
    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 22px;

    width: 538px;
    height: 100%;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
  }
  .W_AnalysismechanicsParagraphs {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 15px;

    width: 509px;
    height: 100%;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 1;
  }

  /* Топы игры */
  .C_TopgameMaintop {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 15px;

    width: 538px;
    height: 100%;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
  }

  /* Инди игры */

  .W_ArticlestyleTitle {
    display: none;
  }
  .W_ArticlestyleTitleMobile {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 89px;
    gap: 20px;

    width: 768px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }
  .W_TopgameLinksMobile {
    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 240px;

    width: 590px;
    height: 39px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
  }
  .W_ArticlestylePartvisual {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0px;
    gap: 8px;

    width: 768px;
    height: 348px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 1;
  }
  .W_ArticlestyleBody {
    margin: 0 auto;
    padding: 0px 0px 0px 0px;

    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;

    // width: 365px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 1;
  }
}
@media only screen and (min-width: 415px) and (max-width: 768px) {
  /* Смотреть видео */
  .W_VideoData {
    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px 25px;

    width: 538px;
    height: 11px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }

  /* Страшно реально */

  .C_ScrayreallyPictureinsidetext {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

    width: 538px;
    height: 284px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
  }

  /* Разбор механик */
  .C_ArticlestyleFullparagraphs {
    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 22px;

    width: 538px;
    height: 100%;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
  }
  .W_AnalysismechanicsParagraphs {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 15px;

    width: 509px;
    height: 100%;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 1;
  }

  /* Топы игры */
  .C_TopgameMaintop {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 15px;

    width: 538px;
    height: 100%;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
  }

  /* Инди игры */

  .W_ArticlestyleTitle {
    display: none;
  }
  .W_ArticlestyleTitleMobile {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 89px;
    gap: 20px;

    width: 768px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }
  .W_TopgameLinksMobile {
    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 240px;

    width: 590px;
    height: 39px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
  }
  .W_ArticlestylePartvisual {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0px;
    gap: 8px;

    width: 768px;
    height: 348px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 1;
  }
  .W_ArticlestyleBody {
    margin: 0 auto;
    padding: 0px 0px 0px 0px;

    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;

    // width: 365px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 1;
  }
}
@media only screen and (min-device-width: 361px) and (max-device-width: 414px) {
  /* Смотреть видео */
  .W_VideoData {
    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px 15px;

    width: 357px;
    height: 9px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }

  /* Страшно реально */

  .C_ScrayreallyPictureinsidetext {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

    width: 348px;
    height: 207px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
  }

  /* Разбор механик */
  .C_ArticlestyleFullparagraphs {
    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 15px;

    width: 374px;
    height: 100%;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
  }
  .W_AnalysismechanicsParagraphs {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 15px;

    width: 352px;
    height: 100%;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 1;
  }

  /* Топы игры */
  .C_TopgameMaintop {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

    width: 374px;
    height: 100%;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
  }

  /* Инди игры */

  .W_ArticlestyleTitle {
    display: none;
  }
  .W_ArticlestyleTitleMobile {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 20px;

    width: 414px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }
  .W_TopgameLinksMobile {
    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 129px;

    width: 356px;
    height: 33px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
  }
  .W_ArticlestylePartvisual {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0px;
    gap: 4px;

    width: 414px;
    height: 213px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 1;
  }
  .W_ArticlestyleBody {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;

    width: 365px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 1;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 361px) and (max-width: 414px) {
  /* Смотреть видео */
  .W_VideoData {
    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px 15px;

    width: 357px;
    height: 9px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }

  /* Страшно реально */

  .C_ScrayreallyPictureinsidetext {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

    width: 348px;
    height: 207px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
  }

  /* Разбор механик */
  .C_ArticlestyleFullparagraphs {
    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 15px;

    width: 374px;
    height: 100%;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
  }
  .W_AnalysismechanicsParagraphs {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 15px;

    width: 352px;
    height: 100%;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 1;
  }

  /* Топы игры */
  .C_TopgameMaintop {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

    width: 374px;
    height: 100%;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
  }

  /* Инди игры */

  .W_ArticlestyleTitle {
    display: none;
  }
  .W_ArticlestyleTitleMobile {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 20px;

    width: 414px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }
  .W_TopgameLinksMobile {
    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 129px;

    width: 356px;
    height: 33px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
  }
  .W_ArticlestylePartvisual {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0px;
    gap: 4px;

    width: 414px;
    height: 213px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 1;
  }
  .W_ArticlestyleBody {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;

    width: 365px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 1;
    margin: 0 auto;
  }
}
@media only screen and (max-device-width: 360px) {
  /* Смотреть видео */
  .W_VideoData {
    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px 25px;

    width: 326px;
    height: 8px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }

  /* Страшно реально */

  .C_ScrayreallyPictureinsidetext {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

    width: 320px;
    height: 207px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
  }

  /* Разбор механик */
  .C_ArticlestyleFullparagraphs {
    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 13px;

    width: 326px;
    height: 100%;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
  }
  .W_AnalysismechanicsParagraphs {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 13px;

    width: 307px;
    height: 100%;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 1;
  }

  /* Топы игры */
  .C_TopgameMaintop {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 7px;

    width: 326px;
    height: 100%;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
  }

  /* Инди игры */

  .W_ArticlestyleTitle {
    display: none;
  }
  .W_ArticlestyleTitleMobile {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 20px;

    width: 360px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }
  .W_TopgameLinksMobile {
    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 97px;

    width: 257px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
  }
  .W_ArticlestylePartvisual {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0px;
    gap: 5px;

    width: 360px;
    height: 189px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 1;
  }
  .W_ArticlestyleBody {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;

    width: 304px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 1;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 360px) {
  /* Смотреть видео */
  .W_VideoData {
    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px 25px;

    width: 326px;
    height: 8px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }

  /* Страшно реально */

  .C_ScrayreallyPictureinsidetext {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

    width: 320px;
    height: 207px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
  }

  /* Разбор механик */
  .C_ArticlestyleFullparagraphs {
    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 13px;

    width: 326px;
    height: 100%;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
  }
  .W_AnalysismechanicsParagraphs {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 13px;

    width: 307px;
    height: 100%;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 1;
  }

  /* Топы игры */
  .C_TopgameMaintop {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 7px;

    width: 326px;
    height: 100%;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
  }

  /* Инди игры */

  .W_ArticlestyleTitle {
    display: none;
  }
  .W_ArticlestyleTitleMobile {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 20px;

    width: 360px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }
  .W_TopgameLinksMobile {
    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 97px;

    width: 257px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
  }
  .W_ArticlestylePartvisual {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0px;
    gap: 5px;

    width: 360px;
    height: 189px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 1;
  }
  .W_ArticlestyleBody {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;

    width: 304px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 1;
    margin: 0 auto;
  }
}
