@media only screen and (min-width: 2221px) and (max-width: 2560px) {
  /* Статья */

  .W_ArticlestyleBody {
    gap: 34px;
  }

  /* Лендинг */

  .W_LandingSection01 {
    left: calc(50vw - 952px / 2);
    top: 367px;

    gap: 57px;
  }

  /* Меню-бар */

  .W_MenuBarMainRoundedBorder {
    border-radius: 16px;
  }

  .W_MenuBarBreadcrumbsRoundedBorder {
    padding: 0.70313vw 1.17188vw 0.70313vw 1.95313vw;
    border-radius: 16px;
  }

  .W_MenuBarBreadcrumbsRoundedBorderMainMenu {
    padding: 0.70313vw 1.17188vw 0.70313vw 1.32813vw;
    border-radius: 16px;
  }

  .W_Burger {
    display: none;
  }

  .W_MenuBarBreadcrumbsRoundedBorderNavigation {
    justify-content: flex-start;
  }

  /* Инди игры */

  .W_ArticlestyleTitle {
    gap: 13px;
  }
}

@media only screen and (min-width: 1741px) and (max-width: 2220px) {
  /* Лендинг */

  .W_LandingSection01 {
    left: calc(50vw - 713px / 2);
    top: 275px;

    gap: 43px;
  }

  /* Меню-бар */

  .W_MenuBarMainRoundedBorder {
    border-radius: 0.625vw;
  }
  .W_MenuBarBreadcrumbsRoundedBorder {
    padding: 0.9375vw 1.09375vw 0.9375vw 2.03125vw;

    border-radius: 0.625vw;
  }

  .W_MenuBarBreadcrumbsRoundedBorderMainMenu {
    padding: 0.9375vw 1.09375vw 0.9375vw 1.19792vw;

    border-radius: 0.625vw;
  }

  .W_Burger {
    display: none;
  }

  .W_MenuBarBreadcrumbsRoundedBorderNavigation {
    justify-content: flex-start;
  }
}

@media only screen and (min-width: 1367px) and (max-width: 1740px) {
  /* Лендинг */

  .W_LandingSection01 {
    left: calc(50vw - 536px / 2);
    top: 256px;

    gap: 32px;
  }

  /* Меню-бар */

  .W_MenuBarMainRoundedBorder {
    border-radius: 10px;
  }
  .W_MenuBarBreadcrumbsRoundedBorder {
    padding: 1.25vw 1.18056vw 1.25vw 1.80556vw;

    border-radius: 10px;
  }

  .W_MenuBarBreadcrumbsRoundedBorderMainMenu {
    padding: 1.25vw 1.18056vw 1.25vw 1.80556vw;

    border-radius: 10px;
  }

  .W_Burger {
    display: none;
  }

  .W_MenuBarBreadcrumbsRoundedBorderNavigation {
    justify-content: flex-start;
  }

  /* Инди игры */

  .W_ArticlestyleTitle {
    gap: 13px;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1366px) {
  /* Лендинг */

  .W_LandingSection01 {
    left: calc(50vw - 536px / 2);
    top: 256px;

    gap: 32px;
  }

  /* Меню-бар */

  .W_MenuBarMainRoundedBorder {
    border-radius: 10px;
  }

  .W_MenuBarBreadcrumbsRoundedBorder {
    padding: 1.31772vw 1.0981vw 1.31772vw 1.61054vw;

    border-radius: 10px;
  }

  .W_MenuBarBreadcrumbsRoundedBorderMainMenu {
    padding: 18px 1.0981vw 18px 1.61054vw;

    border-radius: 10px;
  }

  .W_Burger {
    display: none;
  }

  .W_MenuBarBreadcrumbsRoundedBorderNavigation {
    justify-content: flex-start;
  }

  /* Инди игры */

  .W_ArticlestyleTitle {
    gap: 13px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  /* Лендинг */

  .W_LandingSection01 {
    left: calc(50vw - 382px / 2);
    top: 236px;

    gap: 22px;
  }

  /* Меню-бар */

  .W_MenuBarMainRoundedBorder {
    display: none;
  }

  .W_MenuBarBreadcrumbsRoundedBorder {
    padding: 1.75781vw 1.46484vw 1.75781vw 2.14844vw;

    border-radius: 10px;
  }

  .W_MenuBarBreadcrumbsRoundedBorderMainMenu {
    padding: 1.75781vw 1.46484vw 1.75781vw 2.14844vw;

    border-radius: 10px;
  }

  .W_MenuBarBreadcrumbsRoundedBorder :nth-child(2) {
    order: 3;
  }

  .W_MenuBarBreadcrumbsRoundedBorder :nth-child(3) {
    order: 2;
  }

  /* Главный экран */

  .W_MenuBarBreadcrumbsRoundedBorderNavigationMainMenu {
    justify-content: flex-end;
  }

  .W_MainScreenCardsAndFooterMobile {
    flex-shrink: 0;
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .W_MenuCardContent {
    padding: 14px;
    gap: 16px;
    border-radius: 10px;
  }

  .W_MainScreenLogoGlyphs {
    width: 365px;
    gap: 32px;
  }

  /* Инди игры */

  .W_ArticlestyleTitle {
    gap: 13px;
  }
}

@media only screen and (min-device-width: 463px) and (max-device-width: 768px) {
  .W_ArticlestyleBody {
    gap: 2.86458vw;
  }

  /* О проекте */

  .W_AboutTitle {
    padding: 0 1.92708vw;
  }

  .W_AboutBodyContent {
    flex-direction: column;
    padding: 0px;
    gap: 0;
  }

  .W_AboutFooterListText {
    gap: 1.17188vw;
  }

  /* Браузер видео */

  .W_VideoBrowserCards {
    gap: 4.03646vw;
  }

  .W_VideoBrowserBannerContent {
    gap: 3.51563vw;
  }

  .W_VideoBrowserBannerContentTypePlay {
    gap: 4px;
  }

  .W_VideoBrowserSmallCardContent {
    gap: 0.52083vw;
  }

  .W_VideoBrowserSmallCardContentTypePlay {
    gap: 3px;
  }

  /* Разбор сюжета */

  .W_StoryCardsRoundedBorder {
    border-radius: 10px;
    position: relative;
  }

  .W_StoryRow01 {
    padding-left: 1265px;
    height: 153px;

    flex-shrink: 0;
  }

  .W_StoryRow02 {
    width: 1785px;
    flex-shrink: 0;
  }

  .W_StoryRow03 {
    padding-left: 506px;
    width: 1785px;
    flex-shrink: 0;
  }

  .W_StoryRow03Inside {
    gap: 281px;
  }

  .W_StoryBigCardConnectors {
    height: 75px;
  }

  .W_MonsterAndStoryCardContent {
    gap: 6px;
  }

  .W_StorySmallCardConnectors {
    height: 75px;
  }

  /* Лендинг */

  .W_LandingSection01 {
    left: calc(50vw - 344px / 2);
    top: 304px;

    gap: 21px;
  }

  /* Меню-бар */

  .W_MenuBarMainRoundedBorder {
    display: none;
  }

  .W_MenuBarBreadcrumbsRoundedBorder {
    padding: 2.34375vw 1.95313vw 2.34375vw 2.86458vw;

    border-radius: 10px;
  }

  .W_MenuBarBreadcrumbsRoundedBorderMainMenu {
    padding: 2.34375vw 1.95313vw 2.34375vw 2.86458vw;

    border-radius: 10px;
  }

  .W_MenuBarBreadcrumbsRoundedBorder :nth-child(2) {
    order: 3;
  }

  .W_MenuBarBreadcrumbsRoundedBorder :nth-child(3) {
    order: 2;
  }

  /* Главный экран */

  .W_MenuBarBreadcrumbsRoundedBorderNavigationMainMenu {
    justify-content: flex-end;
  }

  .W_MainScreenCardsAndFooterMobile {
    flex-shrink: 0;
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .W_MenuCardContent {
    padding: 14px;
    gap: 16px;
    border-radius: 10px;
  }

  .W_MainScreenLogoGlyphs {
    width: 452px;
    gap: 42px;
  }

  /* Разбор монстров */

  .W_MonsterWrap {
    border-radius: 10px;
  }

  .W_NarrowArticlestyleTitle {
    display: none;
  }

  .W_ArticlestyleTitleMobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    padding: 40px 11.58854vw 0px 11.58854vw;
  }

  .W_NarrowArticlestyleParagraphs {
    margin-top: 4.6875vw;
    margin-bottom: 10vw;
    display: flex;
    flex-direction: column;

    padding: 0 15%;

    gap: 22px;

    width: 100%;
  }
  .W_MonsterPic {
    border-radius: 10px;
  }

  /* Инди игры */

  .W_ArticlestyleTitle {
    display: none;
  }
}

@media only screen and (min-device-width: 361px) and (max-device-width: 462px) {
  .W_ArticlestyleBody {
    gap: 15px;
  }

  /* О проекте */

  .W_AboutTitle {
    padding: 0 1.92708vw;
  }

  .W_AboutBodyContent {
    flex-direction: column;
    padding: 0px;
    gap: 0;
  }

  .W_AboutFooterListText {
    gap: 10px;
  }

  /* Браузер видео */

  .W_VideoBrowserCards {
    gap: 35px;
  }

  .W_VideoBrowserBannerContent {
    gap: 6px;
  }

  .W_VideoBrowserBannerContentTypePlay {
    gap: 3px;
  }

  .W_VideoBrowserSmallCardContent {
    gap: 7px;
  }

  .W_VideoBrowserSmallCardContentTypePlay {
    gap: 4px;
  }

  /* Разбор сюжета */

  .W_StoryCardsRoundedBorder {
    border-radius: 10px;
    position: relative;
  }

  .W_StoryRow01 {
    padding-left: 955px;
    height: 121px;

    flex-shrink: 0;
  }

  .W_StoryRow02 {
    width: 1331px;
    flex-shrink: 0;
  }

  .W_StoryRow03 {
    padding-left: 382px;
    width: 1331px;
    flex-shrink: 0;
  }

  .W_StoryRow03Inside {
    gap: 281px;
  }

  .W_StoryBigCardConnectors {
    height: 51px;
  }

  .W_MonsterAndStoryCardContent {
    gap: 6px;
  }

  .W_StorySmallCardConnectors {
    height: 51px;
  }

  /* Лендинг */

  .W_LandingSection01 {
    left: calc(50vw - 348px / 2);
    top: 36vh;

    gap: 26px;
  }

  /* Меню-бар */

  .W_MenuBarMainRoundedBorder {
    display: none;
  }

  .W_MenuBarBreadcrumbsRoundedBorder {
    padding: 18px 20px;

    border-radius: 10px;
  }

  .W_MenuBarBreadcrumbsRoundedBorderMainMenu {
    padding: 18px 20px;

    border-radius: 10px;
  }

  .W_MenuBarBreadcrumbsRoundedBorder :nth-child(1) {
    order: 3;
  }

  .W_MenuBarBreadcrumbsRoundedBorder :nth-child(2) {
    order: 1;
  }

  .W_MenuBarBreadcrumbsRoundedBorder :nth-child(3) {
    order: 2;
  }

  .W_MenuBarBreadcrumbsRoundedBorderLogo {
    justify-content: flex-start;
  }

  .W_Burger {
    justify-content: flex-end;
    order: 2;
  }

  /* Главный экран */

  .W_MenuBarBreadcrumbsRoundedBorderNavigation {
    justify-content: flex-start;
  }

  .W_MenuBarBreadcrumbsRoundedBorderNavigationMainMenu {
    justify-content: flex-start;
  }

  .W_MainScreenCardsAndFooterMobile {
    flex-shrink: 0;
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .W_MenuCardContent {
    padding: 5.07246vw 5.31401vw;
    gap: 4.34783vw;
    border-radius: 10px;
  }

  .W_MainScreenLogoGlyphs {
    width: 72.46377vw;
    gap: 6.76329vw;
  }

  /* Разбор монстров */

  .W_MonsterWrap {
    border-radius: 10px;
  }

  .W_MonsterPic {
    border-radius: 10px;
  }

  .W_NarrowArticlestyleTitle {
    display: none;
  }

  .W_ArticlestyleTitleMobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 20px;
    padding: 20px 15px 0px 15px;
  }

  .W_NarrowArticlestyleParagraphs {
    margin-top: 6.28019vw;
    margin-bottom: 30vw;
    display: flex;
    flex-direction: column;

    padding: 0 20px;

    gap: 20px;

    width: 100%;
  }

  .W_MonsterAndStoryCardContent {
    gap: 2px;
    height: 100%;
  }

  /* Инди игры */

  .W_ArticlestyleTitle {
    display: none;
  }
}

@media only screen and (max-device-width: 360px) {
  /* О проекте */

  .W_AboutTitle {
    padding: 0 1.92708vw;
  }

  .W_AboutBodyContent {
    flex-direction: column;
    padding: 0px;
    gap: 0;
  }

  .W_AboutFooterListText {
    gap: 10px;
  }

  /* Браузер видео */

  .W_VideoBrowserCards {
    gap: 35px;
  }

  .W_VideoBrowserBannerContent {
    gap: 6px;
  }

  .W_VideoBrowserBannerContentTypePlay {
    gap: 3px;
  }

  .W_VideoBrowserSmallCardContent {
    gap: 7px;
  }

  .W_VideoBrowserSmallCardContentTypePlay {
    gap: 4px;
  }

  /* Разбор сюжета */

  .W_StoryCardsRoundedBorder {
    border-radius: 10px;
    position: relative;
  }

  .W_StoryRow01 {
    padding-left: 955px;
    height: 121px;

    flex-shrink: 0;
  }

  .W_StoryRow02 {
    width: 1331px;
    flex-shrink: 0;
  }

  .W_StoryRow03 {
    padding-left: 382px;
    width: 1331px;
    flex-shrink: 0;
  }

  .W_StoryRow03Inside {
    gap: 281px;
  }

  .W_StoryBigCardConnectors {
    height: 51px;
  }

  .W_MonsterAndStoryCardContent {
    gap: 6px;
  }

  .W_StorySmallCardConnectors {
    height: 51px;
  }

  /* Меню-бар */

  .W_MenuBarMainRoundedBorder {
    display: none;
  }

  .W_MenuBarBreadcrumbsRoundedBorder {
    padding: 18px 20px;

    border-radius: 8px;
  }

  .W_MenuBarBreadcrumbsRoundedBorderMainMenu {
    padding: 18px 20px;

    border-radius: 8px;
  }

  .W_MenuBarBreadcrumbsRoundedBorder :nth-child(1) {
    order: 3;
  }

  .W_MenuBarBreadcrumbsRoundedBorder :nth-child(2) {
    order: 1;
  }

  .W_MenuBarBreadcrumbsRoundedBorder :nth-child(3) {
    order: 2;
  }

  .W_MenuBarBreadcrumbsRoundedBorderNavigation {
    justify-content: flex-start;
  }

  .W_Burger {
    justify-content: flex-end;
    order: 2;
  }

  /* Главный экран */

  .W_MenuBarBreadcrumbsRoundedBorderNavigationMainMenu {
    justify-content: flex-start;
  }

  .W_MainScreenCardsAndFooterMobile {
    flex-shrink: 0;
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .W_MenuCardContent {
    padding: 5.07246vw 5.31401vw;
    gap: 4.34783vw;
    border-radius: 10px;
  }

  .W_MainScreenLogoGlyphs {
    width: 72.46377vw;
    gap: 6.76329vw;
  }

  /* Разбор монстров */

  .W_MonsterWrap {
    border-radius: 10px;
  }

  .W_MonsterPic {
    border-radius: 10px;
  }

  .W_NarrowArticlestyleTitle {
    display: none;
  }

  .W_ArticlestyleTitleMobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 20px;
    padding: 20px 15px 0px 15px;
  }

  .W_NarrowArticlestyleParagraphs {
    margin-top: 6.28019vw;
    margin-bottom: 30vw;
    display: flex;
    flex-direction: column;

    padding: 0 20px;

    gap: 20px;

    width: 100%;
  }

  .W_MonsterAndStoryCardContent {
    gap: 5px;
    height: 100%;
  }

  .W_ArticlestyleTitle {
    display: none;
  }
}
