@media only screen and (min-width: 2221px) and (max-width: 2560px) {
  /* Лендинг */

  .M_LandingInsert01 {
    width: 920px;
    left: calc(50vw - 920px / 2);
    top: 1827px;
  }

  .M_LandingInsert02 {
    width: 920px;
    left: calc(50vw - 920px / 2);
    top: 9312px;
  }

  .M_LandingCardLink {
    width: 881px;
  }

  .M_LandingCardLink:hover > .Q_ConnectHalfDown {
    background: url('images/components/quarks/2560x1440/Q_ConnectHalfDownActive.svg');
  }

  .M_LandingCardLink:hover > .Q_ConnectHalfUp {
    background: url('images/components/quarks/2560x1440/Q_ConnectHalfUpActive.svg');
  }

  .M_LandingSection08LinkSub {
    gap: 32px;
  }

  .M_LandingSection08FooterButtons {
    height: 31px;
    padding-left: 39px;
    padding-right: 39px;
  }

  /* Меню-бар */

  .M_MenuBarMain {
    height: 96px;
  }

  .M_MenuBarBreadcrumbs {
    height: 96px;
  }

  .M_MenuBarBreadcrumbsMainScreen {
    height: 96px;
  }

  /* Разбор механик */

  .M_AnalysismechanicsTextpart {
    gap: 11px;
  }

  /* Топы игры */

  .M_TopgamePosition {
    font-size: 25px;
  }

  /* Инди игры */
}
@media only screen and (min-width: 1741px) and (max-width: 2220px) {
  /* Лендинг */

  .M_LandingInsert01 {
    width: 690px;
    left: calc(50vw - 690px / 2);
    top: 1370px;
  }

  .M_LandingInsert02 {
    width: 690px;
    left: calc(50vw - 690px / 2);
    top: 6984px;
  }

  .M_LandingCardLink {
    width: 661px;
  }

  .M_LandingCardLink:hover > .Q_ConnectHalfDown {
    background: url('images/components/quarks/1920x1080/Q_ConnectHalfDownActive.svg');
  }

  .M_LandingCardLink:hover > .Q_ConnectHalfUp {
    background: url('images/components/quarks/1920x1080/Q_ConnectHalfUpActive.svg');
  }

  .M_LandingSection08LinkSub {
    gap: 24px;
  }

  .M_LandingSection08FooterButtons {
    height: 23px;
    padding-left: 30px;
    padding-right: 30px;
  }

  /* Меню-бар */

  .M_MenuBarMain {
    height: 72px;
  }

  /* Разбор механик */

  .M_AnalysismechanicsTextpart {
    gap: 9px;
  }

  /* Топы игры */

  .M_TopgamePosition {
    font-size: 19px;
  }

  /* Инди игры */
}
@media only screen and (min-width: 1367px) and (max-width: 1740px) {
  /* Лендинг */

  .M_LandingInsert01 {
    width: 512px;
    left: calc(50vw - 512px / 2);
    top: 1110px;
  }

  .M_LandingInsert02 {
    width: 512px;
    left: calc(50vw - 512px / 2);
    top: 5463px;
  }

  .M_LandingCardLink {
    width: 497px;
  }

  .M_LandingCardLink:hover > .Q_ConnectHalfDown {
    background: url('images/components/quarks/1440x900/Q_ConnectHalfDownActive.svg');
  }

  .M_LandingCardLink:hover > .Q_ConnectHalfUp {
    background: url('images/components/quarks/1440x900/Q_ConnectHalfUpActive.svg');
  }

  .M_LandingSection08LinkSub {
    gap: 18px;
  }

  .M_LandingSection08FooterButtons {
    height: 18px;
    padding-left: 26px;
    padding-right: 26px;
  }

  /* Меню-бар */

  .M_MenuBarMain {
    height: 64px;
  }

  .M_MenuBarBreadcrumbs {
    height: 64px;
  }

  .M_MenuBarBreadcrumbsMainScreen {
    height: 64px;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1366px) {
  /* Лендинг */

  .M_LandingInsert01 {
    width: 512px;
    left: calc(50vw - 512px / 2);
    top: 1110px;
  }

  .M_LandingInsert02 {
    width: 512px;
    left: calc(50vw - 512px / 2);
    top: 5463px;
  }

  .M_LandingCardLink {
    width: 497px;
  }

  .M_LandingCardLink:hover > .Q_ConnectHalfDown {
    background: url('images/components/quarks/1440x900/Q_ConnectHalfDownActive.svg');
  }

  .M_LandingCardLink:hover > .Q_ConnectHalfUp {
    background: url('images/components/quarks/1440x900/Q_ConnectHalfUpActive.svg');
  }

  .M_LandingSection08LinkSub {
    gap: 18px;
  }

  .M_LandingSection08FooterButtons {
    height: 18px;
    padding-left: 26px;
    padding-right: 26px;
  }

  /* Меню-бар */

  .M_MenuBarMain {
    height: 54px;
  }

  .M_MenuBarBreadcrumbs {
    height: 100%;
  }

  .M_MenuBarBreadcrumbsMainScreen {
    height: 54px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  /* Лендинг */

  .M_LandingInsert01 {
    width: 362px;
    left: calc(50vw - 362px / 2);
    top: 903px;
  }

  .M_LandingInsert02 {
    width: 362px;
    left: calc(50vw - 362px / 2);
    top: 4167px;
  }

  .M_LandingCardLink {
    width: 353px;
  }

  .M_LandingCardLink:hover > .Q_ConnectHalfDown {
    background: url('images/components/quarks/1024x768/Q_ConnectHalfDownActive.svg');
  }

  .M_LandingCardLink:hover > .Q_ConnectHalfUp {
    background: url('images/components/quarks/1024x768/Q_ConnectHalfUpActive.svg');
  }

  .M_LandingSection08LinkSub {
    gap: 13px;
  }

  .M_LandingSection08FooterButtons {
    height: 13px;
    padding-left: 15px;
    padding-right: 15px;
  }

  /* Меню-бар */

  .M_MenuBarMain {
    display: none;
  }

  .M_MenuBarBreadcrumbs {
    height: 54px;
  }

  .M_MenuBarBreadcrumbsMainScreen {
    height: 54px;
  }

  .M_MenuBarBreadcrumbsMainScreenMobile {
    flex-shrink: 0;
    position: relative;
    overflow-y: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1px 1px 1px 1px;

    width: 100%;
    height: 54px;

    background: var(--white);
  }

  /* Главный экран */

  .M_MenuCards {
    border-top: 0;
    gap: 1px;
    height: 204px;
    padding: 0px 1px;
  }

  .M_DownBar {
    height: 54px;
  }
}

@media only screen and (min-device-width: 463px) and (max-device-width: 768px) {
  /* О проекте */

  .M_AboutFooterList {
    gap: 2.60417vw;
  }

  /* Браузер видео */

  .M_VideoBrowserSmallCard {
    width: 26.78125vw;

    border-radius: 10px;
  }

  /* Разбор сюжета */

  .M_StoryBigCardFrame {
    padding: 11px 25px 11px 11px;

    width: 267px;

    border: 1px solid white;
    border-radius: 10px;
  }

  .M_StorySmallCardFrame {
    padding: 11px 25px 11px 11px;

    width: 175px;
    border-radius: 10px;
  }

  /* Лендинг */

  .M_LandingInsert01 {
    width: 428px;
    left: calc(50vw - 428px / 2);
    top: 1233px;
  }

  .M_LandingInsert02 {
    width: 428px;
    left: calc(50vw - 428px / 2);
    top: 5022px;
  }

  .M_LandingCardLink {
    width: 497px;
  }

  .M_LandingCardLink:hover > .Q_ConnectHalfDown {
    background: url('images/components/quarks/768x1024/Q_ConnectHalfDownActive.svg');
  }

  .M_LandingCardLink:hover > .Q_ConnectHalfUp {
    background: url('images/components/quarks/768x1024/Q_ConnectHalfUpActive.svg');
  }

  .M_LandingSection08LinkSub {
    gap: 10px;
  }

  .M_LandingSection08FooterButtons {
    height: 18px;
    padding-left: 30px;
    padding-right: 30px;
  }

  /* Меню-бар */

  .M_MenuBarMain {
    display: none;
  }

  .M_MenuBarBreadcrumbs {
    height: 54px;
  }

  .M_MenuBarBreadcrumbsMainScreen {
    height: 54px;
  }

  .M_MenuBarBreadcrumbsMainScreenMobile {
    flex-shrink: 0;
    position: relative;
    overflow-y: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1px 1px 1px 1px;

    width: 100%;
    height: 54px;

    background: var(--white);
  }

  /* Главный экран */

  .M_MenuCards {
    border-top: 0;
    gap: 1px;
    height: 204px;
    padding: 0px 1px;
  }

  .M_DownBar {
    height: 54px;
  }

  .M_AnalysismechanicsTextpart {
    gap: 15px;
  }

  /* Топы игры */

  .M_TopgamePosition {
    font-size: 2.21354vw;
  }

  /* Инди игры */
  .M_TopgameWholeheading {
    display: none;
  }
}

@media only screen and (min-device-width: 361px) and (max-device-width: 462px) {
  /* О проекте */

  .M_AboutFooterList {
    gap: 20px;
  }

  /* Браузер видео */

  .M_VideoBrowserSmallCard {
    width: 100%;
    border-radius: 10px;
  }

  /* Разбор сюжета */

  .M_StoryBigCardFrame {
    padding: 7px 8px 0px;

    width: 185px;

    border: 1px solid white;
    border-radius: 10px;
  }

  .M_StorySmallCardFrame {
    padding: 7px 8px 0px;

    width: 121px;
    border-radius: 10px;
  }

  /* Лендинг */

  .M_LandingInsert01 {
    width: 94vw;
    left: calc(50vw - 94vw / 2);
    top: 117vh;
  }

  .M_LandingInsert02 {
    width: 94vw;
    left: calc(50vw - 94vw / 2);
    top: 552vh;
  }

  .M_LandingCardLink {
    width: 94vw;
  }

  .M_LandingCardLink:hover > .Q_ConnectHalfDown {
    background: url('images/components/quarks/414x896/Q_ConnectHalfDownActive.svg');
  }

  .M_LandingCardLink:hover > .Q_ConnectHalfUp {
    background: url('images/components/quarks/414x896/Q_ConnectHalfUpActive.svg');
  }

  .M_LandingSection08LinkSub {
    gap: 17px;
  }

  .M_LandingSection08FooterButtons {
    height: 131px;
    padding: 0px 16px;
    flex-direction: column;
    align-items: flex-start;
  }

  /* Меню-бар */

  .M_MenuBarMain {
    display: none;
  }

  .M_MenuBarBreadcrumbs {
    height: 54px;
  }

  .M_MenuBarBreadcrumbsMainScreen {
    height: 54px;
  }

  .M_MenuBarBreadcrumbsMainScreenMobile {
    flex-shrink: 0;
    position: relative;
    overflow-y: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1px 1px 1px 1px;

    width: 100%;
    height: 54px;

    background: var(--white);
  }

  /* Главный экран */

  .M_MenuCards {
    border-top: 0;
    gap: 1px;
    height: 221px;
    padding: 0px 1px;
  }

  .M_DownBar {
    height: 54px;
  }

  /* Разбор механик */

  .M_AnalysismechanicsTextpart {
    gap: 15px;
  }

  /* Топы игры */

  .M_TopgamePosition {
    font-size: 15px;
  }

  /* Инди игры */
  .M_TopgameWholeheading {
    display: none;
  }
}

@media only screen and (max-device-width: 360px) {
  /* О проекте */

  .M_AboutFooterList {
    gap: 2.60417vw;
  }

  /* Браузер видео */

  .M_VideoBrowserSmallCard {
    width: 100%;
    border-radius: 10px;
  }

  /* Разбор сюжета */

  .M_StoryBigCardFrame {
    padding: 7px 8px 0px;

    width: 185px;

    border: 1px solid white;
    border-radius: 10px;
  }

  .M_StorySmallCardFrame {
    padding: 7px 8px 0px;

    width: 121px;
    border-radius: 10px;
  }

  /* Меню-бар */

  .M_MenuBarMain {
    display: none;
  }

  .M_MenuBarBreadcrumbs {
    height: 46px;
  }

  .M_MenuBarBreadcrumbsMainScreen {
    height: 46px;
  }

  .M_MenuBarBreadcrumbsMainScreenMobile {
    flex-shrink: 0;
    position: relative;
    overflow-y: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1px 1px 1px 1px;

    width: 100%;
    height: 54px;

    background: var(--white);
  }

  /* Главный экран */

  .M_MenuCards {
    border-top: 0;
    gap: 1px;
    height: 221px;
    padding: 0px 1px;
  }

  .M_DownBar {
    height: 54px;
  }

  /* Разбор механик */

  .M_AnalysismechanicsTextpart {
    gap: 15px;
  }

  /* Топы игры */

  .M_TopgamePosition {
    font-size: 15px;
  }

  /* Инди игры */

  .M_TopgameWholeheading {
    display: none;
  }
}
