@media only screen and (min-width: 2221px) and (max-width: 2560px) {
  .O_VideoBrowserBanner {
    background-image: url('images/components/atoms/A_VideoBrowserBannerPicture2560.png');
    border-radius: 16px;

    width: 2027px;
    height: 672px;
  }
}
@media only screen and (min-width: 1741px) and (max-width: 2220px) {
  .O_VideoBrowserBanner {
    background-image: url('images/components/atoms/A_VideoBrowserBannerPicture.png');
    border-radius: 12px;

    width: 1518px;
    height: 504px;
  }
}
@media only screen and (min-width: 1367px) and (max-width: 1740px) {
  .O_VideoBrowserBanner {
    background-image: url('images/components/atoms/A_VideoBrowserBannerPicture1440.png');
    border-radius: 10px;

    width: 1141px;
    height: 378px;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1366px) {
  .O_VideoBrowserBanner {
    background-image: url('images/components/atoms/A_VideoBrowserBannerPicture1366.png');
    border-radius: 10px;

    width: 1081px;
    height: 358px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .O_VideoBrowserBanner {
    background-image: url('images/components/atoms/A_VideoBrowserBannerPicture1024.png');
    border-radius: 10px;

    width: 811px;
    height: 268px;
  }
}
@media only screen and (min-device-width: 769px) and (max-device-width: 1024px) {
  .O_VideoBrowserBanner {
    background-image: url('images/components/atoms/A_VideoBrowserBannerPicture1024.png');
    border-radius: 10px;

    width: 811px;
    height: 268px;
  }
}
@media only screen and (min-width: 415px) and (max-width: 768px) {
  .O_VideoBrowserBanner {
    background-image: url('images/components/atoms/A_VideoBrowserBannerPicture768.png');
    border-radius: 10px;

    width: 669px;
    height: 329px;
  }
}
@media only screen and (min-device-width: 415px) and (max-device-width: 768px) {
  .O_VideoBrowserBanner {
    background-image: url('images/components/atoms/A_VideoBrowserBannerPicture768.png');
    border-radius: 10px;

    width: 669px;
    height: 329px;
  }
}
@media only screen and (min-width: 361px) and (max-width: 414px) {
  .O_VideoBrowserBanner {
    background-image: url('images/components/atoms/A_VideoBrowserBannerPicture414.png');
    border-radius: 10px;

    width: 344px;
    height: 160px;
  }
}
@media only screen and (min-device-width: 361px) and (max-device-width: 414px) {
  .O_VideoBrowserBanner {
    background-image: url('images/components/atoms/A_VideoBrowserBannerPicture414.png');
    border-radius: 10px;

    width: 344px;
    height: 160px;
  }
}
@media only screen and (max-width: 360px) {
  .O_VideoBrowserBanner {
    background-image: url('images/components/atoms/A_VideoBrowserBannerPicture360.png');
    border-radius: 8px;

    width: 299px;
    height: 139px;
  }
}
@media only screen and (max-device-width: 360px) {
  .O_VideoBrowserBanner {
    background-image: url('images/components/atoms/A_VideoBrowserBannerPicture360.png');
    border-radius: 8px;

    width: 299px;
    height: 139px;
  }
}
