@media only screen and (min-width: 2221px) and (max-width: 2560px) {
  .Q_GrungeTexture {
    background-image: url('images/components/quarks/Q_GrungeTexture2560.png');
  }
  .Q_VideoBrowserBannerType {
    width: 165px;
    height: 26px;
  }
  .Q_VideoBrowserBannerContentPlay {
    background-image: url('images/components/quarks/Q_VideoBrowserBannerContentPlay2560.svg');
  }
  .Q_VideoBrowserBannerTitle {
    width: 952px;
    height: 390px;

    font-size: 119px;
    line-height: 130px;
  }
  .Q_VideoBrowserSmallCardPic {
    background-image: url('images/components/quarks/Q_VideoBrowserSmallCardPic2560.png');
    border-radius: 16px;
    width: 609px;
    height: 368px;
  }
  .Q_VideoBrowserSmallCardContentType {
    width: 102px;
    height: 19px;

    font-size: 17px;
    line-height: 19px;
  }
  .Q_VideoBrowserSmallCardContentPlay {
    background-image: url('images/components/quarks/Q_VideoBrowserSmallCardContentPlay2560.svg');
    width: 12px;
    height: 12px;
  }
  .Q_VideoBrowserSmallCardContentTitle {
    width: 418px;
    height: 92px;

    font-size: 41px;
    line-height: 46px;
  }
}

@media only screen and (min-width: 1741px) and (max-width: 2220px) {
  .Q_GrungeTexture {
    background-image: url('images/components/quarks/Q_GrungeTexture.png');
  }
  .Q_VideoBrowserBannerType {
    width: 126px;
    height: 19px;
  }
  .Q_VideoBrowserBannerContentPlay {
    background-image: url('images/components/quarks/Q_VideoBrowserBannerContentPlay.svg');
  }
  .Q_VideoBrowserBannerTitle {
    width: 712px;
    height: 291px;

    font-size: 89px;
    line-height: 97px;
  }
  .Q_VideoBrowserSmallCardPic {
    background-image: url('images/components/quarks/Q_VideoBrowserSmallCardPic.png');
    border-radius: 12px;
    width: 456px;
    height: 276px;
  }
  .Q_VideoBrowserSmallCardContentType {
    width: 90px;
    height: 15px;

    font-size: 13px;
    line-height: 15px;
  }
  .Q_VideoBrowserSmallCardContentPlay {
    background-image: url('images/components/quarks/Q_VideoBrowserSmallCardContentPlay.svg');
    width: 9px;
    height: 9px;
  }
  .Q_VideoBrowserSmallCardContentTitle {
    width: 320px;
    height: 70px;

    font-size: 31px;
    line-height: 35px;
  }
}

@media only screen and (min-width: 1367px) and (max-width: 1740px) {
  .Q_GrungeTexture {
    background-image: url('images/components/quarks/Q_GrungeTexture1440.png');
  }
  .Q_VideoBrowserBannerType {
    width: 89px;
    height: 15px;
  }
  .Q_VideoBrowserBannerContentPlay {
    background-image: url('images/components/quarks/Q_VideoBrowserBannerContentPlay1440.svg');
  }
  .Q_VideoBrowserBannerTitle {
    width: 536px;
    height: 219px;

    font-size: 67px;
    line-height: 73px;
  }
  .Q_VideoBrowserSmallCardPic {
    background-image: url('images/components/quarks/Q_VideoBrowserSmallCardPic1440.png');
    border-radius: 10px;
    width: 343px;
    height: 207px;
  }
  .Q_VideoBrowserSmallCardContentType {
    width: 60px;
    height: 11px;

    font-size: 10px;
    line-height: 11px;
  }
  .Q_VideoBrowserSmallCardContentPlay {
    background-image: url('images/components/quarks/Q_VideoBrowserSmallCardContentPlay1440.svg');
    width: 7px;
    height: 7px;
  }
  .Q_VideoBrowserSmallCardContentTitle {
    width: 235px;
    height: 52px;

    font-size: 23px;
    line-height: 26px;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1366px) {
  .Q_GrungeTexture {
    background-image: url('images/components/quarks/Q_GrungeTexture1366.png');
  }
  .Q_VideoBrowserBannerType {
    width: 83px;
    height: 13px;
  }
  .Q_VideoBrowserBannerContentPlay {
    background-image: url('images/components/quarks/Q_VideoBrowserBannerContentPlay1366.svg');
  }
  .Q_VideoBrowserBannerTitle {
    width: 504px;
    height: 207px;

    font-size: 63px;
    line-height: 69px;
  }
  .Q_VideoBrowserSmallCardPic {
    background-image: url('images/components/quarks/Q_VideoBrowserSmallCardPic1366.png');
    border-radius: 10px;
    width: 325px;
    height: 196px;
  }
  .Q_VideoBrowserSmallCardContentType {
    width: 54px;
    height: 10px;

    font-size: 9px;
    line-height: 10px;
  }
  .Q_VideoBrowserSmallCardContentPlay {
    background-image: url('images/components/quarks/Q_VideoBrowserSmallCardContentPlay1366.svg');
    width: 6px;
    height: 6px;
  }
  .Q_VideoBrowserSmallCardContentTitle {
    width: 225px;
    height: 550px;

    font-size: 22px;
    line-height: 25px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .Q_GrungeTexture {
    background-image: url('images/components/quarks/Q_GrungeTexture1024.png');
  }
  .Q_Burger {
    display: flex;
  }
  .Q_VideoBrowserBannerType {
    width: 62px;
    height: 10px;
  }
  .Q_VideoBrowserBannerContentPlay {
    background-image: url('images/components/quarks/Q_VideoBrowserBannerContentPlay1024.svg');
  }
  .Q_VideoBrowserBannerTitle {
    width: 440px;
    height: 180px;

    font-size: 55px;
    line-height: 60px;
  }
  .Q_VideoBrowserSmallCardPic {
    background-image: url('images/components/quarks/Q_VideoBrowserSmallCardPic1024.png');
    border-radius: 10px;
    width: 243px;
    height: 147px;
  }
  .Q_VideoBrowserSmallCardContentType {
    width: 42px;
    height: 8px;

    font-size: 7px;
    line-height: 8px;
  }
  .Q_VideoBrowserSmallCardContentPlay {
    background-image: url('images/components/quarks/Q_VideoBrowserSmallCardContentPlay1024.svg');
    width: 5px;
    height: 5px;
  }
  .Q_VideoBrowserSmallCardContentTitle {
    width: 164px;
    height: 36px;

    font-size: 16px;
    line-height: 18px;
  }
}
@media only screen and (min-device-width: 769px) and (max-device-width: 1024px) {
  .Q_GrungeTexture {
    background-image: url('images/components/quarks/Q_GrungeTexture1024.png');
  }
  .Q_Burger {
    display: flex;
  }
  .Q_VideoBrowserBannerType {
    width: 62px;
    height: 10px;
  }
  .Q_VideoBrowserBannerContentPlay {
    background-image: url('images/components/quarks/Q_VideoBrowserBannerContentPlay1024.svg');
  }
  .Q_VideoBrowserBannerTitle {
    width: 440px;
    height: 180px;

    font-size: 55px;
    line-height: 60px;
  }
  .Q_VideoBrowserSmallCardPic {
    background-image: url('images/components/quarks/Q_VideoBrowserSmallCardPic1024.png');
    border-radius: 10px;
    width: 243px;
    height: 147px;
  }
  .Q_VideoBrowserSmallCardContentType {
    width: 42px;
    height: 8px;

    font-size: 7px;
    line-height: 8px;
  }
  .Q_VideoBrowserSmallCardContentPlay {
    background-image: url('images/components/quarks/Q_VideoBrowserSmallCardContentPlay1024.svg');
    width: 5px;
    height: 5px;
  }
  .Q_VideoBrowserSmallCardContentTitle {
    width: 164px;
    height: 36px;

    font-size: 16px;
    line-height: 18px;
  }
}
@media only screen and (min-width: 415px) and (max-width: 768px) {
  .Q_GrungeTexture {
    background-image: url('images/components/quarks/Q_GrungeTexture768.png');
  }
  .Q_Burger {
    display: flex;
  }
  .Q_VideoBrowserBannerType {
    width: 74px;
    height: 11px;
  }
  .Q_VideoBrowserBannerContentPlay {
    background-image: url('images/components/quarks/Q_VideoBrowserBannerContentPlay768.svg');
  }
  .Q_VideoBrowserBannerTitle {
    width: 440px;
    height: 180px;

    font-size: 55px;
    line-height: 60px;
  }
  .Q_VideoBrowserSmallCardPic {
    background-image: url('images/components/quarks/Q_VideoBrowserSmallCardPic768.png');
    border-radius: 10px;
    width: 199px;
    height: 121px;
  }
  .Q_VideoBrowserSmallCardContentType {
    width: 36px;
    height: 7px;

    font-size: 6px;
    line-height: 7px;
  }
  .Q_VideoBrowserSmallCardContentPlay {
    background-image: url('images/components/quarks/Q_VideoBrowserSmallCardContentPlay768.svg');
    width: 4px;
    height: 4px;
  }
  .Q_VideoBrowserSmallCardContentTitle {
    width: 133px;
    height: 30px;

    font-size: 13px;
    line-height: 15px;
  }
}
@media only screen and (min-device-width: 415px) and (max-device-width: 768px) {
  .Q_GrungeTexture {
    background-image: url('images/components/quarks/Q_GrungeTexture768.png');
  }
  .Q_Burger {
    display: flex;
  }
  .Q_VideoBrowserBannerType {
    width: 74px;
    height: 11px;
  }
  .Q_VideoBrowserBannerContentPlay {
    background-image: url('images/components/quarks/Q_VideoBrowserBannerContentPlay768.svg');
  }
  .Q_VideoBrowserBannerTitle {
    width: 440px;
    height: 180px;

    font-size: 55px;
    line-height: 60px;
  }
  .Q_VideoBrowserSmallCardPic {
    background-image: url('images/components/quarks/Q_VideoBrowserSmallCardPic768.png');
    border-radius: 10px;
    width: 199px;
    height: 121px;
  }
  .Q_VideoBrowserSmallCardContentType {
    width: 36px;
    height: 7px;

    font-size: 6px;
    line-height: 7px;
  }
  .Q_VideoBrowserSmallCardContentPlay {
    background-image: url('images/components/quarks/Q_VideoBrowserSmallCardContentPlay768.svg');
    width: 4px;
    height: 4px;
  }
  .Q_VideoBrowserSmallCardContentTitle {
    width: 133px;
    height: 30px;

    font-size: 13px;
    line-height: 15px;
  }
}
@media only screen and (min-width: 361px) and (max-width: 414px) {
  .Q_GrungeTexture {
    background-image: url('images/components/quarks/Q_GrungeTexture414.png');
  }
  .Q_Burger {
    display: flex;
  }
  .Q_VideoBrowserBannerType {
    width: 62px;
    height: 10px;
  }
  .Q_VideoBrowserBannerContentPlay {
    background-image: url('images/components/quarks/Q_VideoBrowserBannerContentPlay414.svg');
  }
  .Q_VideoBrowserBannerTitle {
    width: 232px;
    height: 96px;

    font-size: 29px;
    line-height: 32px;
  }
  .Q_VideoBrowserSmallCardPic {
    background-image: url('images/components/quarks/Q_VideoBrowserSmallCardPic414.png');
    border-radius: 10px;
    width: 344px;
    height: 214px;
  }
  .Q_VideoBrowserSmallCardContentType {
    width: 54px;
    height: 10px;

    font-size: 9px;
    line-height: 10px;
  }
  .Q_VideoBrowserSmallCardContentPlay {
    background-image: url('images/components/quarks/Q_VideoBrowserSmallCardContentPlay414.svg');
    width: 7px;
    height: 7px;
  }
  .Q_VideoBrowserSmallCardContentTitle {
    width: 225px;
    height: 50px;

    font-size: 22px;
    line-height: 25px;
  }
}
@media only screen and (min-device-width: 361px) and (max-device-width: 414px) {
  .Q_GrungeTexture {
    background-image: url('images/components/quarks/Q_GrungeTexture414.png');
  }
  .Q_Burger {
    display: flex;
  }
  .Q_VideoBrowserBannerType {
    width: 62px;
    height: 10px;
  }
  .Q_VideoBrowserBannerContentPlay {
    background-image: url('images/components/quarks/Q_VideoBrowserBannerContentPlay414.svg');
  }
  .Q_VideoBrowserBannerTitle {
    width: 232px;
    height: 96px;

    font-size: 29px;
    line-height: 32px;
  }
  .Q_VideoBrowserSmallCardPic {
    background-image: url('images/components/quarks/Q_VideoBrowserSmallCardPic414.png');
    border-radius: 10px;
    width: 344px;
    height: 214px;
  }
  .Q_VideoBrowserSmallCardContentType {
    width: 54px;
    height: 10px;

    font-size: 9px;
    line-height: 10px;
  }
  .Q_VideoBrowserSmallCardContentPlay {
    background-image: url('images/components/quarks/Q_VideoBrowserSmallCardContentPlay414.svg');
    width: 7px;
    height: 7px;
  }
  .Q_VideoBrowserSmallCardContentTitle {
    width: 225px;
    height: 50px;

    font-size: 22px;
    line-height: 25px;
  }
}
@media only screen and (max-width: 360px) {
  .Q_GrungeTexture {
    background-image: url('images/components/quarks/Q_GrungeTexture360.png');
  }
  .Q_Burger {
    display: flex;
  }
  .Q_VideoBrowserBannerType {
    width: 55px;
    height: 9px;
  }
  .Q_VideoBrowserBannerContentPlay {
    background-image: url('images/components/quarks/Q_VideoBrowserBannerContentPlay360.svg');
  }
  .Q_VideoBrowserBannerTitle {
    width: 200px;
    height: 81px;

    font-size: 25px;
    line-height: 27px;
  }
  .Q_VideoBrowserSmallCardPic {
    background-image: url('images/components/quarks/Q_VideoBrowserSmallCardPic360.png');
    border-radius: 8px;
    width: 299px;
    height: 175px;
  }
  .Q_VideoBrowserSmallCardContentType {
    width: 48px;
    height: 9px;

    font-size: 8px;
    line-height: 9px;
  }
  .Q_VideoBrowserSmallCardContentPlay {
    background-image: url('images/components/quarks/Q_VideoBrowserSmallCardContentPlay360.svg');
    width: 6px;
    height: 6px;
  }
  .Q_VideoBrowserSmallCardContentTitle {
    width: 194px;
    height: 42px;

    font-size: 19px;
    line-height: 21px;
  }
}
@media only screen and (max-device-width: 360px) {
  .Q_GrungeTexture {
    background-image: url('images/components/quarks/Q_GrungeTexture360.png');
  }
  .Q_Burger {
    display: flex;
  }
  .Q_VideoBrowserBannerType {
    width: 55px;
    height: 9px;
  }
  .Q_VideoBrowserBannerContentPlay {
    background-image: url('images/components/quarks/Q_VideoBrowserBannerContentPlay360.svg');
  }
  .Q_VideoBrowserBannerTitle {
    width: 200px;
    height: 81px;

    font-size: 25px;
    line-height: 27px;
  }
  .Q_VideoBrowserSmallCardPic {
    background-image: url('images/components/quarks/Q_VideoBrowserSmallCardPic360.png');
    border-radius: 8px;
    width: 299px;
    height: 175px;
  }
  .Q_VideoBrowserSmallCardContentType {
    width: 48px;
    height: 9px;

    font-size: 8px;
    line-height: 9px;
  }
  .Q_VideoBrowserSmallCardContentPlay {
    background-image: url('images/components/quarks/Q_VideoBrowserSmallCardContentPlay360.svg');
    width: 6px;
    height: 6px;
  }
  .Q_VideoBrowserSmallCardContentTitle {
    width: 194px;
    height: 42px;

    font-size: 19px;
    line-height: 21px;
  }
}
