@media only screen and (min-width: 2221px) and (max-width: 2560px) {
  /* Лендинг */

  .A_LandingInsertContent {
    width: 920px;

    padding: 45px 40px 39px;

    font-size: 31px;
    line-height: 35px;
  }

  .A_LandingInsertTitle {
    height: 45px;

    left: 31px;
    top: -21px;

    padding: 0px 12px;
    gap: 16px;
  }

  .A_LandingSection03CardContent {
    padding: 33px 0px 33px 32px;
    gap: 17px;

    width: 733px;
    height: 225px;

    border-radius: 16px;
  }

  .A_LandingSmallCard {
    padding: 48px;
    gap: 27px;

    width: 881px;
    height: 285px;

    border-radius: 16px;
  }

  .A_LandingFearRatingContentDescriptor {
    gap: 10px;

    width: 756px;
    height: 844px;
    left: 1677px;
    top: 307px;
  }

  .A_LandingSection08LinkSubTitle {
    width: 476px;
    height: 37px;

    font-size: 33px;
    line-height: 37px;
  }

  .A_LandingSection08LinkSubButton {
    font-size: 27px;

    padding: 7px 31px 5px;
    width: 176px;
    height: 42px;
  }

  .A_LandingSection08FooterButtonAbout {
    font-size: 20px;
    line-height: 22px;
  }

  .A_LandingSection08FooterButtonUp {
    gap: 11px;
  }

  /* Меню-бар */

  .A_MenuBarButton {
    font-size: 28px;
    line-height: 22px;
  }

  .A_MenuBarNavigation {
    font-size: 28px;
    line-height: 22px;
  }

  .A_MenuBarLogo {
    // width: 113px;
    width: 100%;
    background-position: right;
    height: 45px;
    background-image: url('images/components/atoms/A_MenuBarLogo2560.svg');
  }

  /* Смотреть видео */
  .A_VideoPlayer {
    background-image: url('./images/A_VideoPlayer_2560.svg');

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 10px;

    width: 1119px;
    height: 629px;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }
  .A_VideoShare {
    font-size: 20px;
    line-height: 22px;
    text-transform: lowercase;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    width: 134px;
    height: 22px;

    flex: none;
    order: 0;
    flex-grow: 0;
  }
  .A_VideoData {
    font-size: 20px;
    line-height: 22px;
    text-transform: lowercase;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    width: 120px;
    height: 22px;

    flex: none;
    order: 1;
    flex-grow: 0;
  }
  .A_VideoLink {
    font-size: 20px;
    line-height: 22px;
    text-align: right;
    text-transform: lowercase;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    width: 110px;
    height: 22px;

    flex: none;
    order: 2;
    flex-grow: 0;
  }

  /* Страшно реально */

  .A_ScraryreallyFrameline {
    background-image: url('./images/A_ScaryreallyFrameline_2560.svg');
    background-size: cover;

    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    width: 859px;
    height: 36px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }
  .A_ScaryreallyPisctureinsidetext {
    background-image: url('./images/A_ScaryreallyPictureintext_2560.png');
    background-size: cover;

    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 30px;

    width: 859px;
    height: 387px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
  }

  /* Разбор механик */
  .A_ArticlestyleTextParagraphs {
    /* Text */

    font-size: 25px;
    line-height: 33px;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px 30px 0px 0px;

    width: 100%;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 1;
  }
  .A_AnalysismechanicsElement {
    font-size: 25px;
    line-height: 33px;
    /* identical to box height, or 120% */

    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    width: 8px;
    height: 33px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
  }
  .A_AnalysismechanicsPoints {
    font-size: 25px;
    line-height: 33px;

    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    width: 19px;
    height: 33px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
  }

  /* Инди игры */

  /*Тело статьи*/
  .A_TopgameVideo {
    background-image: url('./images/A_TopgamePicture_2560.svg');
    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;

    width: 932px;
    height: 924px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 1;
    position: absolute;
    z-index: -1;

    mix-blend-mode: lighten;
  }
  .A_TopgamePicture {
    background-image: url('./images/A_TopgamePicture_2560.svg');
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;

    width: 932px;
    height: 887px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 1;

    mix-blend-mode: lighten;
  }
  .A_TopgameImagecaption {
    /* Text */

    font-size: 12px;
    line-height: 13px;
    /* identical to box height */

    letter-spacing: 0.1em;
    text-transform: lowercase;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 0px;
    gap: 10px;

    width: 945px;
    height: 13px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
  }
  .A_ArticlestyleText {
    /* Text */

    font-size: 25px;
    line-height: 33px;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 100px 50px 0px 0px;

    width: 945px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 1;
  }
  .A_ArticlestyleTextContinuation {
    /* Text */

    font-size: 25px;
    line-height: 33px;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px 50px 0px 0px;

    width: 945px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 1;
  }
}
@media only screen and (min-width: 1741px) and (max-width: 2220px) {
  /* Лендинг */

  .A_LandingInsertContent {
    width: 690px;

    padding: 34px 30px 29px;

    font-size: 23px;
    line-height: 26px;
  }

  .A_LandingInsertTitle {
    height: 34px;

    left: 23px;
    top: -16px;

    padding: 0px 9px;
    gap: 11px;
  }

  .A_LandingSection03CardContent {
    padding: 25px 0px 25px 24px;
    gap: 13px;

    width: 550px;
    height: 169px;

    border-radius: 0.625vw;
  }

  .A_LandingSmallCard {
    padding: 36px;
    gap: 20px;

    width: 661px;
    height: 214px;

    border-radius: 0.625vw;
  }

  .A_LandingFearRatingContentDescriptor {
    gap: 7px;

    width: 590px;
    height: 633px;
    left: 1258px;
    top: 231px;
  }

  .A_LandingSection08LinkSubTitle {
    width: 360px;
    height: 28px;

    font-size: 25px;
    line-height: 28px;
  }

  .A_LandingSection08LinkSubButton {
    font-size: 20px;

    padding: 5px 22px 4px;
    width: 131px;
    height: 33px;
  }

  .A_LandingSection08FooterButtonAbout {
    font-size: 15px;
    line-height: 17px;
  }

  .A_LandingSection08FooterButtonUp {
    gap: 8px;
  }

  /* Меню-бар */

  .A_MenuBarButton {
    font-size: 20px;
    line-height: 22px;
  }

  .A_MenuBarNavigation {
    font-size: 20px;
    line-height: 22px;
  }

  .A_MenuBarLogo {
    // width: 85px;
    width: 100%;
    background-position: right;
    height: 34px;
    background-image: url('images/components/atoms/A_MenuBarLogo.svg');
  }

  /* Смотреть видео */
  .A_VideoPlayer {
    background-image: url('./images/A_VideoPlayer_1920.svg');
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 10px;

    width: 839px;
    height: 472px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }
  .A_VideoShare {
    /* Text */

    font-size: 15px;
    line-height: 17px;
    text-transform: lowercase;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    width: 105px;
    height: 17px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
  }
  .A_VideoData {
    /* Text */

    font-size: 15px;
    line-height: 17px;
    text-transform: lowercase;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    width: 94px;
    height: 17px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
  }
  .A_VideoLink {
    /* Text */

    font-size: 15px;
    line-height: 17px;
    text-align: right;
    text-transform: lowercase;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    width: 86px;
    height: 17px;

    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
  }

  /* Страшно реально */
  .A_ScraryreallyFrameline {
    background-image: url('./images/A_ScaryreallyFrameline_1920.svg');
    background-size: cover;

    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    width: 643px;
    height: 27px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }
  .A_ScaryreallyPisctureinsidetext {
    background-image: url('./images/A_ScaryreallyPictureintext_1920.png');
    background-size: cover;

    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 30px;

    width: 643px;
    height: 290px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
  }

  /* Разбор механик */
  .A_ArticlestyleTextParagraphs {
    /* Text */

    font-size: 19px;
    line-height: 25px;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px 30px 0px 0px;

    width: 100%;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 1;
  }
  .A_AnalysismechanicsElement {
    font-size: 19px;
    line-height: 25px;
    /* identical to box height, or 120% */

    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    width: 8px;
    height: 25px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
  }
  .A_AnalysismechanicsPoints {
    font-size: 19px;
    line-height: 25px;

    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    width: 15px;
    height: 25px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
  }

  /* Инди игры */

  /*Тело статьи*/
  .A_TopgameVideo {
    background-image: url('./images/A_TopgamePicture_1920.svg');
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    width: 700px;
    height: 692px;

    /* Inside auto layout */

    position: absolute;
    z-index: -1;

    mix-blend-mode: lighten;
  }
  .A_TopgamePicture {
    background-image: url('./images/A_TopgamePicture_1920.svg');
    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    width: 700px;
    height: 665px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 1;

    mix-blend-mode: lighten;
  }
  .A_TopgameImagecaption {
    /* Text */

    font-size: 9px;
    line-height: 11px;
    /* identical to box height */

    letter-spacing: 0.1em;
    text-transform: lowercase;

    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0px;

    width: 707px;
    height: 11px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
  }
  .A_ArticlestyleText {
    /* Text */

    font-size: 19px;
    line-height: 25px;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 77px 39px 0px 0px;

    width: 707px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 1;
  }
  .A_ArticlestyleTextContinuation {
    /* Text */

    font-size: 19px;
    line-height: 25px;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px 39px 0px 0px;

    width: 707px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 1;
  }
}
@media only screen and (min-width: 1367px) and (max-width: 1740px) {
  /* Лендинг */

  .A_LandingInsertContent {
    width: 512px;

    padding: 25px 22px 22px;

    font-size: 17px;
    line-height: 19px;
  }

  .A_LandingInsertTitle {
    height: 25px;

    left: 17px;
    top: -12px;

    padding: 0px 7px;
    gap: 8px;
  }

  .A_LandingSection03CardContent {
    padding: 19px 0px 19px 18px;
    gap: 10px;

    width: 412px;
    height: 127px;

    border-radius: 10px;
  }

  .A_LandingSmallCard {
    padding: 27px;
    gap: 15px;

    width: 497px;
    height: 161px;

    border-radius: 10px;
  }

  .A_LandingFearRatingContentDescriptor {
    gap: 5px;

    width: 443px;
    height: 475px;
    left: 943px;
    top: 174px;
  }

  .A_LandingSection08LinkSubTitle {
    width: 274px;
    height: 21px;

    font-size: 19px;
    line-height: 21px;
  }

  .A_LandingSection08LinkSubButton {
    font-size: 15px;

    padding: 4px 17px 3px;
    width: 98px;
    height: 24px;

    border: 1px solid;
  }

  .A_LandingSection08FooterButtonAbout {
    font-size: 11px;
    line-height: 12px;
  }

  .A_LandingSection08FooterButtonUp {
    gap: 6px;
  }

  /* Меню-бар */
  .A_MenuBarButton {
    font-size: 18px;
    line-height: 20px;
  }

  .A_MenuBarNavigation {
    font-size: 18px;
    line-height: 20px;
  }

  .A_MenuBarLogo {
    // width: 64px;
    width: 100%;
    background-position: right;
    height: 26px;
    background-image: url('images/components/atoms/A_MenuBarLogo1440.svg');
  }
  /* Смотреть видео */
  .A_VideoPlayer {
    background-image: url('./images/A_VideoPlayer_1440.svg');
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 10px;

    width: 630px;
    height: 355px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }
  .A_VideoShare {
    /* Text */

    font-size: 11px;
    line-height: 12px;
    text-transform: lowercase;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    width: 74px;
    height: 12px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
  }
  .A_VideoData {
    /* Text */

    font-size: 11px;
    line-height: 12px;
    text-transform: lowercase;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    width: 66px;
    height: 12px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
  }
  .A_VideoLink {
    /* Text */

    font-size: 11px;
    line-height: 12px;
    text-align: right;
    text-transform: lowercase;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    width: 61px;
    height: 12px;

    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
  }

  /* Страшно реально */
  .A_ScraryreallyFrameline {
    background-image: url('./images/A_ScaryreallyFrameline_1440.svg');
    background-size: cover;

    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    width: 514px;
    height: 20px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }
  .A_ScaryreallyPisctureinsidetext {
    background-image: url('./images/A_ScaryreallyPictureintext_1440.png');
    background-size: cover;

    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 20px;

    width: 530px;
    height: 217px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
  }

  /* Разбор механик */
  .A_ArticlestyleTextParagraphs {
    /* Text */

    font-size: 15px;
    line-height: 18px;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px 30px 0px 0px;

    width: 100%;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 1;
  }
  .A_AnalysismechanicsElement {
    font-size: 15px;
    line-height: 18px;
    /* identical to box height, or 120% */

    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    width: 7px;
    height: 18px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
  }
  .A_AnalysismechanicsPoints {
    font-size: 15px;
    line-height: 18px;

    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    width: 12px;
    height: 18px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
  }

  /* Инди игры */

  /*Тело статьи*/
  .A_TopgameVideo {
    background-image: url('./images/A_TopgamePicture_1440.svg');
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    width: 514px;
    height: 520px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 1;
    position: absolute;
    z-index: -1;

    mix-blend-mode: lighten;
  }
  .A_TopgamePicture {
    background-image: url('./images/A_TopgamePicture_1440.svg');
    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    width: 514px;
    height: 520px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 1;

    mix-blend-mode: lighten;
  }
  .A_TopgameImagecaption {
    /* Text */

    font-size: 9px;
    line-height: 11px;
    /* identical to box height */

    letter-spacing: 0.1em;
    text-transform: lowercase;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 0px;

    width: 514px;
    height: 10px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
  }
  .A_ArticlestyleText {
    /* Text */

    font-size: 15px;
    line-height: 18px;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 55px 30px 0px 0px;

    width: 514px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 1;
  }
  .A_ArticlestyleTextContinuation {
    /* Text */

    font-size: 15px;
    line-height: 18px;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px 30px 0px 0px;

    width: 514px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 1;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1366px) {
  /* Лендинг */

  .A_LandingInsertContent {
    width: 512px;

    padding: 25px 22px 22px;

    font-size: 17px;
    line-height: 19px;
  }

  .A_LandingInsertTitle {
    height: 25px;

    left: 17px;
    top: -12px;

    padding: 0px 7px;
    gap: 8px;
  }

  .A_LandingSection03CardContent {
    padding: 19px 0px 19px 18px;
    gap: 10px;

    width: 412px;
    height: 127px;

    border-radius: 10px;
  }

  .A_LandingSmallCard {
    padding: 27px;
    gap: 15px;

    width: 497px;
    height: 161px;

    border-radius: 10px;
  }

  .A_LandingFearRatingContentDescriptor {
    gap: 5px;

    width: 443px;
    height: 475px;
    left: 943px;
    top: 174px;
  }

  .A_LandingSection08LinkSubTitle {
    width: 274px;
    height: 21px;

    font-size: 19px;
    line-height: 21px;
  }

  .A_LandingSection08LinkSubButton {
    font-size: 15px;

    padding: 4px 17px 3px;
    width: 98px;
    height: 24px;

    border: 1px solid;
  }

  .A_LandingSection08FooterButtonAbout {
    font-size: 11px;
    line-height: 12px;
  }

  .A_LandingSection08FooterButtonUp {
    gap: 6px;
  }

  /* Меню-бар */
  .A_MenuBarButton {
    font-size: 15px;
    line-height: 17px;
  }

  .A_MenuBarNavigation {
    font-size: 15px;
    line-height: 17px;
  }

  .A_MenuBarLogo {
    // width: 54px;
    width: 100%;
    background-position: right;
    height: 22px;
    background-image: url('images/components/atoms/A_MenuBarLogo1366.svg');
  }
  /* Смотреть видео */
  .A_VideoPlayer {
    background-image: url('./images/A_VideoPlayer_1366.svg');
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 10px;

    width: 597px;
    height: 335px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }
  .A_VideoShare {
    /* Text */

    font-size: 10px;
    line-height: 11px;
    text-transform: lowercase;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    width: 67px;
    height: 11px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
  }
  .A_VideoData {
    /* Text */

    font-size: 10px;
    line-height: 11px;
    text-transform: lowercase;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    width: 60px;
    height: 11px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
  }
  .A_VideoLink {
    /* Text */

    font-size: 10px;
    line-height: 11px;
    text-align: right;
    text-transform: lowercase;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    width: 55px;
    height: 11px;

    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
  }

  /* Страшно реально */
  .A_ScraryreallyFrameline {
    background-image: url('./images/A_ScaryreallyFrameline_1366.svg');
    background-size: cover;

    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    width: 488px;
    height: 20px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }
  .A_ScaryreallyPisctureinsidetext {
    background-image: url('./images/A_ScaryreallyPictureintext_1366.png');
    background-size: cover;

    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 22px;

    width: 503px;
    height: 205px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
  }

  /* Разбор механик */
  .A_ArticlestyleTextParagraphs {
    /* Text */

    font-size: 15px;
    line-height: 17px;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px 30px 0px 0px;

    width: 100%;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 1;
  }
  .A_AnalysismechanicsElement {
    font-size: 15px;
    line-height: 17px;
    /* identical to box height, or 120% */

    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    width: 7px;
    height: 17px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
  }
  .A_AnalysismechanicsPoints {
    font-size: 15px;
    line-height: 17px;

    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    width: 12px;
    height: 17px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
  }

  /* Инди игры */

  /*Тело статьи*/
  .A_TopgameVideo {
    background-image: url('./images/A_TopgamePicture_1366.svg');
    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;

    width: 488px;
    height: 490px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 1;
    position: absolute;
    z-index: -1;

    mix-blend-mode: lighten;
  }
  .A_TopgamePicture {
    background-image: url('./images/A_TopgamePicture_1366.svg');
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;

    width: 488px;
    height: 485px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 1;

    mix-blend-mode: lighten;
  }
  .A_TopgameImagecaption {
    /* Text */

    font-size: 7px;
    line-height: 8px;
    /* identical to box height */

    letter-spacing: 0.1em;
    text-transform: lowercase;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 0px;
    gap: 10px;

    width: 488px;
    height: 8px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
  }
  .A_ArticlestyleText {
    /* Text */

    font-size: 15px;
    line-height: 17px;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 55px 27px 0px 0px;

    width: 488px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 1;
  }
  .A_ArticlestyleTextContinuation {
    /* Text */

    font-size: 15px;
    line-height: 17px;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px 27px 0px 0px;

    width: 488px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 1;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  /* Лендинг */

  .A_LandingInsertContent {
    width: 362px;

    padding: 18px 16px 16px;

    font-size: 12px;
    line-height: 13px;
  }

  .A_LandingInsertTitle {
    height: 18px;

    left: 12px;
    top: -8px;

    padding: 0px 5px;
    gap: 6px;
  }

  .A_LandingSection03CardContent {
    padding: 13px 0px 13px 13px;
    gap: 7px;

    width: 293px;
    height: 91px;

    border-radius: 10px;
  }

  .A_LandingSmallCard {
    padding: 19px 20px;
    gap: 10px;

    width: 353px;
    height: 113px;

    border-radius: 10px;
  }

  .A_LandingFearRatingContentDescriptor {
    gap: 4px;

    width: 316px;
    height: 338px;
    left: 671px;
    top: 126px;
  }

  .A_LandingSection08LinkSubTitle {
    width: 195px;
    height: 15px;

    font-size: 13px;
    line-height: 15px;
  }

  .A_LandingSection08LinkSubButton {
    font-size: 10px;

    padding: 3px 12px 3px;
    width: 70px;
    height: 17px;

    border: 1px solid;
  }

  .A_LandingSection08FooterButtonAbout {
    font-size: 8px;
    line-height: 9px;
  }

  .A_LandingSection08FooterButtonUp {
    gap: 5px;
  }

  /* Меню-бар */

  .A_MenuBarButton {
    display: none;
  }

  .A_MenuBarNavigation {
    font-size: 15px;
    line-height: 22px;
  }

  .A_MenuBarLogo {
    width: 100%;
    height: 22px;
    background-image: url('images/components/atoms/A_MenuBarLogo1366.svg');
  }

  .A_BurgerButton {
    order: 1;
    display: flex;
    width: 155px;
  }

  /* Главный экран */

  .A_MenuCard01 {
    padding: 0;
  }

  .A_MenuCard02 {
    padding: 0;
  }

  .A_MenuCard03 {
    padding: 0;
  }

  .A_BlankSpace {
    border-radius: 10px;
    width: 100%;
    height: 100%;
  }

  .A_IconVK {
    border-radius: 10px;
    padding: 17px 11px;
    width: 52px;
  }

  .A_IconTG {
    padding: 16px 15px 15px 11px;

    border-radius: 10px;
    width: 52px;
  }

  .A_IconInfo {
    border-radius: 10px;
    padding: 16px 15px 12px 14px;
    width: 52px;
  }

  /* Смотреть видео */

  .A_VideoPlayer {
    background-image: url('./images/A_VideoPlayer_1024.svg');
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 10px;

    width: 447px;
    height: 251px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }
  .A_VideoShare {
    /* Text */

    font-size: 10px;
    line-height: 11px;
    text-transform: lowercase;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    width: 67px;
    height: 11px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
  }
  .A_VideoData {
    /* Text */

    font-size: 10px;
    line-height: 11px;
    text-transform: lowercase;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    width: 60px;
    height: 11px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
  }
  .A_VideoLink {
    /* Text */

    font-size: 10px;
    line-height: 11px;
    text-align: right;
    text-transform: lowercase;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    width: 55px;
    height: 11px;

    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
  }

  /* Страшно реально */
  .A_ScraryreallyFrameline {
    background-image: url('./images/A_ScaryreallyFrameline_1024.svg');
    background-size: cover;

    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    width: 365px;
    height: 15px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }
  .A_ScaryreallyPisctureinsidetext {
    background-image: url('./images/A_ScaryreallyPictureintext_1024.png');
    background-size: cover;

    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 15px;

    width: 379px;
    height: 153px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
  }

  /* Разбор механик */
  .A_ArticlestyleTextParagraphs {
    /* Text */

    font-size: 12px;
    line-height: 13px;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px 30px 0px 0px;

    width: 100%;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 1;
  }
  .A_AnalysismechanicsElement {
    font-size: 12px;
    line-height: 12px;
    /* identical to box height, or 120% */

    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    width: 5px;
    height: 12px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
  }
  .A_AnalysismechanicsPoints {
    font-size: 12px;
    line-height: 12px;

    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    width: 9px;
    height: 12px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
  }

  /* Инди игры */

  /*Тело статьи*/
  .A_TopgameVideo {
    background-image: url('./images/A_TopgamePicture_1024.svg');
    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;

    width: 365px;
    height: 370px;

    position: absolute;
    z-index: -1;

    mix-blend-mode: lighten;
  }
  .A_TopgamePicture {
    background-image: url('./images/A_TopgamePicture_1024.svg');
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;

    width: 365px;
    height: 365px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 1;

    mix-blend-mode: lighten;
  }
  .A_TopgameImagecaption {
    /* Text */

    font-size: 5px;
    line-height: 6px;
    /* identical to box height */

    letter-spacing: 0.1em;
    text-transform: lowercase;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 0px;
    gap: 10px;

    width: 365px;
    height: 6px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
  }
  .A_ArticlestyleText {
    /* Text */

    font-size: 12px;
    line-height: 13px;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 40px 20px 0px 0px;

    width: 365px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 1;
  }
  .A_ArticlestyleTextContinuation {
    /* Text */

    font-size: 12px;
    line-height: 13px;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px 20px 0px 0px;

    width: 365px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 1;
  }
}

@media only screen and (min-device-width: 463px) and (max-device-width: 768px) {
  /* Разбор монстров */

  .A_MonsterTextunder {
    padding-right: 30px;
    font-size: 7px;
    line-height: 8px;
  }

  .A_InsertContent {
    width: 337px;
    padding: 9px 26px;

    font-size: 11px;
    line-height: 12px;
  }

  .A_NarrowArticlestyleTitle {
    font-size: 22px;
    line-height: 22px;
  }

  .A_NarrowArticlestyleText {
    font-size: 17px;
    line-height: 22px;
  }

  /* Лендинг */

  .A_LandingInsertContent {
    width: 428px;

    padding: 21px 18px 18px;

    font-size: 14px;
    line-height: 16px;
  }

  .A_LandingInsertTitle {
    height: 20px;

    left: 14px;
    top: -10px;

    padding: 0px 6px;
    gap: 7px;
  }

  .A_LandingSection03CardContent {
    padding: 9px 11px 12px;
    gap: 5px;

    width: 218px;
    height: 67px;

    border-radius: 10px;
  }

  .A_LandingSmallCard {
    padding: 27px;
    gap: 15px;

    width: 497px;
    height: 161px;

    border-radius: 10px;
  }

  .A_LandingFearRatingContentDescriptor {
    gap: 4px;

    width: 343px;
    height: 367px;
    left: 404px;
    top: 50px;
  }

  .A_LandingSection08LinkSubTitle {
    width: 217px;
    height: 17px;

    font-size: 15px;
    line-height: 17px;
  }

  .A_LandingSection08LinkSubButton {
    font-size: 12px;

    padding: 3px 13px 2px;
    width: 77px;
    height: 18px;

    border: 1px solid;
  }

  .A_LandingSection08FooterButtonAbout {
    font-size: 11px;
    line-height: 12px;
  }

  .A_LandingSection08FooterButtonUp {
    gap: 6px;
  }

  /* Меню-бар */

  .A_MenuBarButton {
    display: none;
  }

  .A_MenuBarNavigation {
    font-size: 15px;
    line-height: 22px;
  }

  .A_MenuBarLogo {
    width: 100%;
    height: 22px;
    background-image: url('images/components/atoms/A_MenuBarLogo1366.svg');
  }
  .A_BurgerButton {
    order: 1;
    display: flex;
    width: 155px;
  }

  /* Главный экран */

  .A_MenuCard01 {
    padding: 0;
  }

  .A_MenuCard02 {
    padding: 0;
  }

  .A_MenuCard03 {
    padding: 0;
  }

  .A_BlankSpace {
    border-radius: 10px;
    width: 100%;
    height: 100%;
  }

  .A_IconVK {
    border-radius: 10px;
    padding: 17px 11px;
    width: 52px;
  }

  .A_IconTG {
    padding: 16px 15px 15px 11px;

    border-radius: 10px;
    width: 52px;
  }

  .A_IconInfo {
    border-radius: 10px;
    padding: 16px 15px 12px 14px;
    width: 52px;
  }

  /* Смотреть видео */

  .A_VideoPlayer {
    background-image: url('./images/A_VideoPlayer_768.svg');
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 10px;

    width: 513px;
    height: 288px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 0 auto;
  }
  .A_VideoShare {
    /* Text */

    font-size: 10px;
    line-height: 11px;
    text-transform: lowercase;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    width: 67px;
    height: 11px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
  }
  .A_VideoData {
    /* Text */

    font-size: 10px;
    line-height: 11px;
    text-transform: lowercase;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    width: 60px;
    height: 11px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
  }
  .A_VideoLink {
    /* Text */

    font-size: 10px;
    line-height: 11px;
    text-align: right;
    text-transform: lowercase;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    width: 55px;
    height: 11px;

    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
  }

  /* Страшно реально */
  .A_ScraryreallyFrameline {
    background-image: url('./images/A_ScaryreallyFrameline_768.svg');
    background-size: cover;

    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    width: 514px;
    height: 20px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }
  .A_ScaryreallyPisctureinsidetext {
    background-image: url('./images/A_ScaryreallyPictureintext_768.png');
    background-size: cover;

    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 20px;

    width: 538px;
    height: 216px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
  }

  /* Разбор механик */
  .A_ArticlestyleTextParagraphs {
    /* Text */

    font-size: 17px;
    line-height: 19px;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px 30px 0px 0px;

    width: 100%;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 1;
  }
  .A_AnalysismechanicsElement {
    font-size: 17px;
    line-height: 19px;
    /* identical to box height, or 120% */

    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    width: 7px;
    height: 19px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
  }
  .A_AnalysismechanicsPoints {
    font-size: 17px;
    line-height: 19px;

    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    width: 13px;
    height: 19px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
  }

  /* Инди игры */

  /*Заголовок десктоп*/

  /*Тело статьи*/
  .A_TopgameVideo {
    background-image: url('./images/A_TopgamePicture_768.svg');
    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;

    width: 768px;
    height: 327px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 1;
    position: absolute;
    z-index: -1;

    mix-blend-mode: lighten;
  }
  .A_TopgamePicture {
    background-image: url('./images/A_TopgamePicture_768.svg');
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;

    width: 768px;
    height: 327px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;

    mix-blend-mode: lighten;
  }
  .A_TopgameImagecaption {
    /* Text */

    font-size: 12px;
    line-height: 13px;
    /* identical to box height */

    letter-spacing: 0.1em;
    text-transform: lowercase;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    padding: 0px;

    width: 768px;
    height: 13px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
  }
  .A_ArticlestyleText {
    /* Text */

    font-size: 17px;
    line-height: 19px;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 38px 0px 0px 0px;

    // width: 768px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 1;
  }
  .A_ArticlestyleTextContinuation {
    /* Text */

    font-size: 17px;
    line-height: 19px;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px 0px 0px 0px;

    // width: 768px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 1;
  }
}

@media only screen and (min-device-width: 361px) and (max-device-width: 462px) {
  /* Разбор монстров */

  .A_MonsterTextunder {
    padding-right: 15px;
    font-size: 10px;
    line-height: 11px;
  }

  .A_InsertContent {
    width: 100%;
    padding: 14px 26px;

    font-size: 14px;
    line-height: 16px;
  }

  .A_NarrowArticlestyleTitle {
    font-size: 22px;
    line-height: 22px;
  }

  .A_NarrowArticlestyleText {
    font-size: 17px;
    line-height: 22px;
  }

  .A_TopgameHeadingMobile {
    font-size: 30px;
    line-height: 35px;
  }

  .A_TopgameLinkMobile {
    font-size: 10px;
    line-height: 11px;
    width: 126px;
  }
  .A_TopgameDateMobile {
    font-size: 10px;
    line-height: 11px;
    width: 79px;
  }

  /* Лендинг */

  .A_LandingInsertContent {
    width: 94vw;

    padding: 19px 29px 16px 16px;

    font-size: 3vw;
    line-height: 2vh;

    border: 1px solid var(--acid-green);
  }

  .A_LandingInsertTitle {
    overflow-y: hidden;
    height: 2vh;

    left: 3vw;
    top: -2vw;

    padding: 0px 6px;
    gap: 7px;
  }

  .A_LandingSection03CardContent {
    overflow-y: hidden;
    padding: 16px 20px 21px;

    width: 94vw;
    height: 13vh;

    border-radius: 10px;
    gap: 1vh;
  }

  .A_LandingSmallCard {
    padding: 21px;
    gap: 12px;

    width: 94vw;
    height: 14vh;

    border-radius: 10px;
  }

  .A_LandingFearRatingContentDescriptor {
    gap: 1vw;

    width: 76vw;
    height: 37vh;
    left: 4vw;
    top: 17vh;
  }

  .A_LandingSection08LinkSubTitle {
    width: 73vw;
    height: 24px;

    font-size: 5vw;
    line-height: 24px;
  }

  .A_LandingSection08LinkSubButton {
    font-size: 5vw;

    padding: 5px 23px 3px;
    width: 135px;
    height: 31px;

    border: 1px solid;
  }

  .A_LandingSection08FooterButtonAbout {
    font-size: 4.9vw;
    line-height: 6vw;
  }

  .A_LandingSection08FooterButtonUp {
    display: none;
  }

  /* Меню-бар */

  .A_MenuBarButton {
    display: none;
  }

  .A_MenuBarNavigation {
    font-size: 12px;
    line-height: 9px;
  }

  .A_MenuBarLogo {
    width: 100%;
    height: 17px;
    background-image: url('images/components/atoms/A_MenuBarLogo414.svg');
  }
  .A_BurgerButton {
    order: 3;
    display: flex;
    width: 129px;
    justify-content: flex-end;
  }

  /* Главный экран */

  .A_MenuCard01 {
    padding: 0;
  }

  .A_MenuCard02 {
    display: none;
  }

  .A_MenuCard03 {
    display: none;
  }

  .A_BlankSpace {
    border-radius: 10px;
    width: 100%;
    height: 100%;
  }

  .A_IconVK {
    border-radius: 10px;
    padding: 17px 11px;
    width: 52px;
  }

  .A_IconTG {
    padding: 16px 15px 15px 11px;

    border-radius: 10px;
    width: 52px;
  }

  .A_IconInfo {
    border-radius: 10px;
    padding: 16px 15px 12px 14px;
    width: 52px;
  }

  /* Смотреть видео */
  .A_VideoPlayer {
    background-image: url('./images/A_VideoPlayer_414.svg');
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 10px;

    width: 357px;
    height: 201px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 0 auto;
  }
  .A_VideoShare {
    /* Text */

    font-size: 8px;
    line-height: 9px;
    text-transform: lowercase;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    width: 54px;
    height: 9px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
  }
  .A_VideoData {
    /* Text */

    font-size: 8px;
    line-height: 9px;
    text-transform: lowercase;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    width: 48px;
    height: 9px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
  }
  .A_VideoLink {
    /* Text */

    font-size: 8px;
    line-height: 9px;
    text-align: right;
    text-transform: lowercase;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    width: 44px;
    height: 9px;

    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
  }

  /* Страшно реально */
  .A_ScraryreallyFrameline {
    background-image: url('./images/A_ScaryreallyFrameline_414.svg');
    background-size: cover;

    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    width: 348px;
    height: 13px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }
  .A_ScaryreallyPisctureinsidetext {
    background-image: url('./images/A_ScaryreallyPictureintext_414.png');
    background-size: cover;

    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 13px;

    width: 348px;
    height: 150px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
  }

  /* Разбор механик */
  .A_ArticlestyleTextParagraphs {
    /* Text */

    font-size: 15px;
    line-height: 19px;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px 30px 0px 0px;

    width: 100%;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 1;
  }
  .A_AnalysismechanicsElement {
    font-size: 15px;
    line-height: 19px;
    /* identical to box height, or 120% */

    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    width: 7px;
    height: 19px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
  }
  .A_AnalysismechanicsPoints {
    font-size: 15px;
    line-height: 19px;

    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    width: 12px;
    height: 19px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
  }

  /* Инди игры */

  /*Заголовок десктоп*/
  .A_TopgameLink {
    display: none;
  }

  .A_TopgameHeading {
    display: none;
  }
  .A_TopgameDate {
    display: none;
  }

  /*Тело статьи*/
  .A_TopgameVideo {
    background-image: url('./images/A_TopgamePicture_414.svg');
    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;

    width: 414px;
    height: 200px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 1;
    position: absolute;
    z-index: -1;

    mix-blend-mode: lighten;
  }
  .A_TopgamePicture {
    background-image: url('./images/A_TopgamePicture_414.svg');
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;

    width: 414px;
    height: 200px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;

    mix-blend-mode: lighten;
  }
  .A_TopgameImagecaption {
    /* Text */

    font-size: 8px;
    line-height: 9px;
    /* identical to box height */

    letter-spacing: 0.1em;
    text-transform: lowercase;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    padding: 0px;

    width: 414px;
    height: 9px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
  }
  .A_ArticlestyleText {
    width: 100%;
    /* Text */

    font-size: 15px;
    line-height: 19px;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 20px 0px 0px 0px;

    // width: 768px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 1;
  }
  .A_ArticlestyleTextContinuation {
    width: 100%;
    /* Text */

    font-size: 15px;
    line-height: 19px;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-stmediaart;
    padding: 0px 0px 0px 0px;

    // width: 768px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 1;
  }
}

@media only screen and (max-device-width: 360px) {
  /* Разбор монстров */

  .A_MonsterTextunder {
    padding-right: 15px;
    font-size: 10px;
    line-height: 11px;
  }

  .A_InsertContent {
    width: 100%;
    padding: 14px 26px;

    font-size: 14px;
    line-height: 16px;
  }

  .A_NarrowArticlestyleTitle {
    font-size: 22px;
    line-height: 22px;
  }

  .A_NarrowArticlestyleText {
    font-size: 17px;
    line-height: 22px;
  }

  .A_TopgameHeadingMobile {
    font-size: 30px;
    line-height: 35px;
  }

  .A_TopgameLinkMobile {
    font-size: 10px;
    line-height: 11px;
    width: 126px;
  }
  .A_TopgameDateMobile {
    font-size: 10px;
    line-height: 11px;
    width: 79px;
  }

  /* Меню-бар */
  .A_MenuBarButton {
    display: none;
  }

  .A_MenuBarNavigation {
    font-size: 9px;
    line-height: 9px;
  }

  .A_MenuBarLogo {
    width: 100%;

    height: 17px;
    background-image: url('images/components/atoms/A_MenuBarLogo414.svg');
  }
  .A_BurgerButton {
    order: 3;
    display: flex;
    width: 129px;
    justify-content: flex-end;
  }

  /* Главный экран */

  .A_MenuCard01 {
    padding: 0;
  }

  .A_MenuCard02 {
    display: none;
  }

  .A_MenuCard03 {
    display: none;
  }

  .A_BlankSpace {
    border-radius: 10px;
    width: 100%;
    height: 100%;
  }

  .A_IconVK {
    border-radius: 10px;
    padding: 17px 11px;
    width: 52px;
  }

  .A_IconTG {
    padding: 16px 15px 15px 11px;

    border-radius: 10px;
    width: 52px;
  }

  .A_IconInfo {
    border-radius: 10px;
    padding: 16px 15px 12px 14px;
    width: 52px;
  }
  /* Смотреть видео */
  .A_VideoPlayer {
    background-image: url('./images/A_VideoPlayer_360.svg');
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 10px;

    width: 309px;
    height: 174px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }
  .A_VideoShare {
    /* Text */

    font-size: 7px;
    line-height: 8px;
    text-transform: lowercase;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    width: 47px;
    height: 8px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
  }
  .A_VideoData {
    /* Text */

    font-size: 7px;
    line-height: 8px;
    text-transform: lowercase;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    width: 42px;
    height: 8px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
  }
  .A_VideoLink {
    /* Text */

    font-size: 7px;
    line-height: 8px;
    text-align: right;
    text-transform: lowercase;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    width: 39px;
    height: 8px;

    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
  }

  /* Страшно реально */
  .A_ScraryreallyFrameline {
    background-image: url('./images/A_ScaryreallyFrameline_360.svg');
    background-size: cover;

    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    width: 304px;
    height: 13px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }
  .A_ScaryreallyPisctureinsidetext {
    background-image: url('./images/A_ScaryreallyPictureintext_360.png');
    background-size: cover;

    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 13px;

    width: 320px;
    height: 150px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
  }

  /* Разбор механик */
  .A_ArticlestyleTextParagraphs {
    /* Text */

    font-size: 13px;
    line-height: 16px;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px 30px 0px 0px;

    width: 100%;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 1;
  }
  .A_AnalysismechanicsElement {
    font-size: 13px;
    line-height: 16px;
    /* identical to box height, or 120% */

    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    width: 6px;
    height: 16px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
  }
  .A_AnalysismechanicsPoints {
    font-size: 13px;
    line-height: 16px;

    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    width: 10px;
    height: 16px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
  }

  /* Инди игры */

  /*Заголовок десктоп*/
  .A_TopgameLink {
    display: none;
  }

  .A_TopgameHeading {
    display: none;
  }
  .A_TopgameDate {
    display: none;
  }

  /*Тело статьи*/
  .A_TopgameVideo {
    background-image: url('./images/A_TopgamePicture_360.svg');
    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;

    width: 360px;
    height: 176px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 1;
    position: absolute;
    z-index: -1;

    mix-blend-mode: lighten;
  }
  .A_TopgamePicture {
    background-image: url('./images/A_TopgamePicture_360.svg');
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;

    width: 360px;
    height: 176px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;

    mix-blend-mode: lighten;
  }
  .A_TopgameImagecaption {
    /* Text */

    font-size: 7px;
    line-height: 8px;
    /* identical to box height */

    letter-spacing: 0.1em;
    text-transform: lowercase;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    padding: 0px;
    gap: 10px;

    width: 360px;
    height: 8px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
  }
  .A_ArticlestyleText {
    /* Text */
    width: 100%;

    font-size: 13px;
    line-height: 16px;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 20px 0px 0px 0px;

    // width: 768px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 1;
  }
  .A_ArticlestyleTextContinuation {
    width: 100%;
    /* Text */

    font-size: 13px;
    line-height: 16px;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px 0px 0px 0px;

    // width: 768px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 1;
  }
}
