body {
  background: red;
}
div {
  color: blue;
}

.test {
  color: red;
}

div.test {
  color: green;
}

div p{
  color: pink;
}

div.svg {
  width: 100px;
  height: 100px;
  background-image: url('images/test.svg');
}

.rect {
  fill: red;
}

div.calc {
  width: calc(100vw - 80px);
  height: calc((100vw - 80px) / 16 * 8);
  margin: 0 auto;
  background: orange;
}
/*div.fit {
  width: 200px;
  height: 200px;
  overflow: hidden;
}*/
