@import 'stylesheets/reset.scss';
@import 'stylesheets/vars.scss';
@import 'stylesheets/fonts.scss';
@import 'stylesheets/basics.scss';
@import 'stylesheets/index.scss';
@import 'stylesheets/about_project.scss';
@import 'stylesheets/articles.scss';
@import 'stylesheets/fear.scss';
@import 'stylesheets/video.scss';
